@if (index !== null) {
  <span class="text-2xl text-sky-800"> {{ index }}. </span>
}

<div class="flex flex-grow flex-col">
  <div class="flex flex-col">
    <span class="text-sm font-medium">
      {{ spec.displayName || spec.name }}
      @if (spec.required) {
        <span class="text-sky-800">*</span>
      }
    </span>
    <span class="text-sm text-gray-500">
      {{ spec.description }}
    </span>
  </div>
  <div>
    <div class="mt-3 flex items-center space-x-2">
      <!-- slot for custom content -->
      @if (!!inputHeadSlot) {
        <ng-container *ngTemplateOutlet="inputHeadSlot"></ng-container>
      }

      <!-- Actual Input -->
      @if (possibleValues?.length > 0) {
        <brn-select
          class="w-full flex-grow"
          [disabled]="isReadonly"
          [(ngModel)]="value"
          (ngModelChange)="_onChanged($event)"
          (blur)="_onBlur()">
          <hlm-select-trigger class="w-full">
            <hlm-select-value />
          </hlm-select-trigger>

          <hlm-select-content>
            @for (item of possibleValues; track item) {
              <hlm-option [value]="item.value">{{ item.display }}</hlm-option>
            }
          </hlm-select-content>
        </brn-select>
      } @else {
        @switch (spec.type) {
          @case ('string') {
            @if (!isMarkdown && !isPlainText) {
              <input
                hlmInput
                [type]="isSecret ? 'password' : 'text'"
                [attr.placeholder]="spec.default"
                class="flex-grow"
                [disabled]="isReadonly"
                [(ngModel)]="value"
                (ngModelChange)="_onChanged($event)"
                (blur)="_onBlur()" />
            } @else {
              @if (isMarkdown) {
                <ckeditor
                  class="tkd-input flex-grow"
                  [disabled]="isReadonly"
                  [config]="{}"
                  [editor]="Editor"
                  [(ngModel)]="value"
                  (ngModelChange)="_onChanged($event)"
                  (blur)="_onBlur()">
                </ckeditor>
              } @else {
                <textarea
                  hlmInput
                  [attr.placeholder]="spec.default"
                  class="flex-grow"
                  [(ngModel)]="value"
                  (ngModelChange)="_onChanged($event)"
                  (blur)="_onBlur()"
                  #input
                  nz-input></textarea>
              }
            }
          }
          @case ('duration') {
            <input
              type="text"
              hlmInput
              [attr.placeholder]="spec.default"
              class="flex-grow"
              [(ngModel)]="value"
              [disabled]="isReadonly"
              (ngModelChange)="_onChanged($event)"
              (blur)="_onBlur()" />
          }
          @case ('[]string') {
            <tkd-string-slice-input
              class="flex-grow"
              [placeholder]="spec.default"
              [(ngModel)]="value"
              [disabled]="isReadonly"
              (ngModelChange)="_onChanged($event)"
              (blur)="_onBlur()">
            </tkd-string-slice-input>
          }
          @case ('bool') {
            <hlm-checkbox class="flex flex-grow flex-row items-center gap-1">
              <hlm-checkbox-checkicon />
              <label
                nz-checkbox
                [disabled]="isReadonly"
                [(ngModel)]="value"
                (ngModelChange)="_onChanged($event)"
                (blur)="_onBlur()"
                >Enabled</label
              >
            </hlm-checkbox>
          }
          @case ('int') {
            <input
              type="number"
              [attr.placeholder]="spec.default"
              class="tkd-input flex-grow"
              [disabled]="isReadonly"
              [(ngModel)]="value"
              (ngModelChange)="_onChanged($event)"
              (blur)="_onBlur()" />
          }
          @default {
            <div class="flex-grow border border-red-700 p-3 text-red-700">
              Option type
              <span class="font-semibold underline">{{ spec.type }}</span> is
              not yet supported
            </div>
          }
        }
      }

      <!-- slot for custom content -->
      @if (!!inputTailSlot) {
        <ng-container *ngTemplateOutlet="inputTailSlot"></ng-container>
      }
    </div>
  </div>
</div>
