<span *ngIf="index !== null" class="text-2xl text-color-primary-dark font-lato">
  {{index}}.
</span>

<div class="flex flex-col flex-grow">
  <div class="flex flex-col">
    <span class="text-sm font-medium font-lato">
      {{ spec.displayName || spec.name }}
      <span *ngIf="spec.required" class="text-color-primary-dark">*</span>
    </span>
    <span class="text-sm text-secondary font-lato">
      {{ spec.description }}
    </span>
  </div>
  <div>
    <div class="flex items-center mt-3 space-x-2">
      <ng-container
        *ngIf="possibleValues?.length > 0; else: typeSwitchTempalte"
      >
        <nz-select
          class="flex-grow w-full"
          [nzMode]="allowCustomValues ? 'tags' : isSliceType ? 'multiple' : 'default'"
          nzPlaceHolder="Please select"
          [(ngModel)]="value"
          (ngModelChange)="_onChanged($event)"
          (nzBlur)="_onBlur()"
        >
          <nz-option
            *ngFor="let item of possibleValues"
            [nzLabel]="item.display"
            [nzValue]="item.value"
          ></nz-option>
        </nz-select>
      </ng-container>
      <ng-template #typeSwitchTempalte>
        <ng-container [ngSwitch]="spec.type">
          <ng-container *ngSwitchCase="'string'">
            <input
              *ngIf="!isMarkdown && !isPlainText; else: multiLineText"
              [type]="isSecret ? 'password' : 'text'"
              [attr.placeholder]="spec.default"
              class="flex-grow tkd-input"
              [(ngModel)]="value"
              (ngModelChange)="_onChanged($event)"
              (blur)="_onBlur()"
            />
            <ng-template #multiLineText>
              <ckeditor
                *ngIf="isMarkdown; else: plainTextTemplate"
                class="flex-grow tkd-input"
                [config]="{}"
                [editor]="Editor"
                [(ngModel)]="value"
                (ngModelChange)="_onChanged($event)"
                (blur)="_onBlur()"
              >
              </ckeditor>

              <ng-template #plainTextTemplate>
                <textarea [attr.placeholder]="spec.default" class="flex-grow tkd-input" [(ngModel)]="value" (ngModelChange)="_onChanged($event)" (blur)="_onBlur()" #input nz-input></textarea>
              </ng-template>
            </ng-template>
          </ng-container>

          <input
            type="text"
            [attr.placeholder]="spec.default"
            class="flex-grow tkd-input"
            *ngSwitchCase="'duration'"
            [(ngModel)]="value"
            (ngModelChange)="_onChanged($event)"
            (blur)="_onBlur()"
          />
          <tkd-string-slice-input
            class="flex-grow"
            [placeholder]="spec.default"
            *ngSwitchCase="'[]string'"
            [(ngModel)]="value"
            (ngModelChange)="_onChanged($event)"
            (blur)="_onBlur()"
          >
          </tkd-string-slice-input>
          <label
            *ngSwitchCase="'bool'"
            class="flex-grow"
            nz-checkbox
            [(ngModel)]="value"
            (ngModelChange)="_onChanged($event)"
            (blur)="_onBlur()"
            >Enabled</label
          >
          <input
            type="number"
            [attr.placeholder]="spec.default"
            class="flex-grow tkd-input"
            *ngSwitchCase="'int'"
            [(ngModel)]="value"
            (ngModelChange)="_onChanged($event)"
            (blur)="_onBlur()"
          />

          <div
            *ngSwitchDefault
            class="flex-grow p-3 border border-alert-red text-alert-red font-lato"
          >
            Option type
            <span class="font-semibold underline">{{ spec.type }}</span> is not
            yet supported
          </div>
        </ng-container>
      </ng-template>
    </div>
  </div>
</div>
