@if (index !== null) {
  <span class="text-2xl text-sky-800 ">
    {{index}}.
  </span>
}

<div class="flex flex-col flex-grow">
  <div class="flex flex-col">
    <span class="text-sm font-medium ">
      {{ spec.displayName || spec.name }}
      @if (spec.required) {
        <span class="text-sky-800">*</span>
      }
    </span>
    <span class="text-sm text-gray-500 ">
      {{ spec.description }}
    </span>
  </div>
  <div>
    <div class="flex items-center mt-3 space-x-2">
      <!-- slot for custom content -->
      @if (!!inputHeadSlot) {
        <ng-container *ngTemplateOutlet="inputHeadSlot"></ng-container>
      }

      <!-- Actual Input -->
      @if (possibleValues?.length > 0) {
        <nz-select
          class="flex-grow w-full"
          [nzDisabled]="isReadonly"
          [nzMode]="allowCustomValues ? 'tags' : isSliceType ? 'multiple' : 'default'"
          nzPlaceHolder="Please select"
          [(ngModel)]="value"
          (ngModelChange)="_onChanged($event)"
          (nzBlur)="_onBlur()"
          >
          @for (item of possibleValues; track item) {
            <nz-option
              [nzLabel]="item.display"
              [nzValue]="item.value"
            ></nz-option>
          }
        </nz-select>
      } @else {
        @switch (spec.type) {
          @case ('string') {
            @if (!isMarkdown && !isPlainText) {
              <input
                [type]="isSecret ? 'password' : 'text'"
                [attr.placeholder]="spec.default"
                class="flex-grow tkd-input"
                [disabled]="isReadonly"
                [(ngModel)]="value"
                (ngModelChange)="_onChanged($event)"
                (blur)="_onBlur()"
                />
            } @else {
              @if (isMarkdown) {
                <ckeditor
                  class="flex-grow tkd-input"
                  [disabled]="isReadonly"
                  [config]="{}"
                  [editor]="Editor"
                  [(ngModel)]="value"
                  (ngModelChange)="_onChanged($event)"
                  (blur)="_onBlur()"
                  >
                </ckeditor>
              } @else {
                <textarea [attr.placeholder]="spec.default" class="flex-grow tkd-input" [(ngModel)]="value" (ngModelChange)="_onChanged($event)" (blur)="_onBlur()" #input nz-input></textarea>
              }
            }
          }
          @case ('duration') {
            <input
              type="text"
              [attr.placeholder]="spec.default"
              class="flex-grow tkd-input"
              [(ngModel)]="value"
              [disabled]="isReadonly"
              (ngModelChange)="_onChanged($event)"
              (blur)="_onBlur()"
              />
          }
          @case ('[]string') {
            <tkd-string-slice-input
              class="flex-grow"
              [placeholder]="spec.default"
              [(ngModel)]="value"
              [disabled]="isReadonly"
              (ngModelChange)="_onChanged($event)"
              (blur)="_onBlur()"
              >
            </tkd-string-slice-input>
          }
          @case ('bool') {
            <label
              class="flex-grow"
              nz-checkbox
              [disabled]="isReadonly"
              [(ngModel)]="value"
              (ngModelChange)="_onChanged($event)"
              (blur)="_onBlur()"
              >Enabled</label
              >
            }
            @case ('int') {
              <input
                type="number"
                [attr.placeholder]="spec.default"
                class="flex-grow tkd-input"
                [disabled]="isReadonly"
                [(ngModel)]="value"
                (ngModelChange)="_onChanged($event)"
                (blur)="_onBlur()"
                />
            }
            @default {
              <div
                class="flex-grow p-3 border border-red-700 text-red-700 "
                >
                Option type
                <span class="font-semibold underline">{{ spec.type }}</span> is not
                yet supported
              </div>
            }
          }
        }

        <!-- slot for custom content -->
        @if (!!inputTailSlot) {
          <ng-container *ngTemplateOutlet="inputTailSlot"></ng-container>
        }

      </div>
    </div>
  </div>
