@import 'src/utils';

.card-content {
  display       : flex;
  flex-direction: column;
  padding-top   : 12px;
}

.circle {
  margin-top      : 12px;
  display         : block;
  height          : 20px;
  width           : 20px;
  border-radius   : 100%;
  opacity         : 0;
  background-color: transparent;
  align-self      : center;
}

nz-card.warn {
  border-top: 3px solid red;

  .circle {
    color           : red;
    box-shadow      : 0 0 0 0 rgba(255, 0, 0, 1);
    transform       : scale(1);
    animation       : pulse 2s infinite;
    background-color: red;
  }

  .count {
    font-weight: bold;
    color      : red;
  }
}

@keyframes pulse {
  0% {
    transform : scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    opacity   : 0;
  }

  70% {
    transform : scale(1);
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    opacity   : 1;
  }

  100% {
    transform : scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    opacity   : 0;
  }
}
