<div class="flex w-full flex-col">
  <!-- Date Header -->
  <ol [class]="_computedHeaderClass()">
    @for (date of _computedWeekNames(); track date) {
      <li class="flex h-full w-full items-center justify-center px-2">
        <span hlmBadge variant="outline">
          {{ date }}
        </span>
      </li>
    }
  </ol>

  <!-- Actual Calendar View -->
  <ol class="grid w-full flex-grow grid-cols-7 overflow-auto" role="list">
    @for (date of _computedCalendarDates(); track date.date.getTime()) {
      <li
        class="flex h-full w-full cursor-pointer items-center justify-center hover:bg-gray-100 [&>*]:h-full [&>*]:w-full"
        role="listitem"
        (click)="onDateClick(date)"
        [highlightRange]="date"
        (mouseenter)="dateHover.emit(date)"
        (mouseleave)="dateHover.emit(null)">
        <ng-container
          *ngTemplateOutlet="
            cellTemplate.template;
            context: {
              $implicit: date,
            }
          " />
      </li>
    }
  </ol>
</div>
