<div class="flex flex-row items-center gap-2 py-2 text-xs border-b border-subtle">
  <!-- Collection Icon -->
  <hero-icon *ngIf="!!collection?.heroIcon; else: defaultIconTemplate" [name]="collection?.heroIcon" class="w-4 h-4 text-golden-rod-dark"></hero-icon>
  <ng-template #defaultIconTemplate>
    <hero-icon name="book-open" class="w-4 h-4 text-golden-rod-dark"></hero-icon>
  </ng-template>

  <!-- Collection Name -->
  <span class="cursor-pointer hover:text-color-primary-dark hover:underline" [routerLink]="['/wiki/collection', collection?.name]">{{ collection?.name }}</span>
  <span class="inline-block w-1 h-6 transform border-r-[1px] border-text-deEmphasized border-opacity-light rotate-[10deg] mx-1"></span>

  <!-- Document Path -->
  <ng-container *ngIf="(path | splitPath) as splitted">
    <ng-container *ngFor="let part of splitted; let last=last; let index=index">
      <span class="cursor-pointer hover:text-color-primary-dark hover:underline" [routerLink]="['/wiki/collection/', collection?.name]" [fragment]="splitted.slice(0, index+1).join('/')">{{ part }}</span>
      <span *ngIf="!last" class="inline-block w-1 h-6 transform border-r-[1px] border-text-deEmphasized border-opacity-light rotate-[10deg] mx-1"></span>
    </ng-container>
  </ng-container>
</div>
