@if (profileOrId() | toUser: profiles(); as profile) {
  <hlm-avatar
    [variant]="variant()"
    [class]="_computedClasses()"
    [userColorVars]="profile">
    <img
      [attr.src]="profileOrId() | avatar"
      hlmAvatarImage
      [attr.alt]="profile | displayName" />
    <span
      class="bg-[var(--user-color)] uppercase text-[var(--user-contrast)]"
      hlmAvatarFallback
      >{{ profile | userLetter }}</span
    >
  </hlm-avatar>

  @if (showName()) {
    <span class="ml-2 inline-block overflow-hidden text-ellipsis">
      {{ profile | displayName }}
    </span>
  }
}
