<hlm-dialog-header>
  <h3 hlmDialogTitle>Neuen Kunden-Eintrag erstellen</h3>
  <p hlmDialogDescription></p>
</hlm-dialog-header>

<hlm-table
  class="w-full [&_hlm-td]:flex-1 [&_hlm-th]:h-8 [&_hlm-th]:sm:h-12 [&_hlm-trow]:flex-col [&_hlm-trow]:sm:flex-row">
  <hlm-trow>
    <hlm-th class="w-48 overflow-hidden text-ellipsis">Nachname</hlm-th>
    <hlm-td>
      <input
        hlmInput
        [(ngModel)]="lastName"
        [matAutocomplete]="auto"
        [attr.data-open]="auto.isOpen"
        class="w-full data-[open=true]:rounded-b-none"
        (ngModelChange)="searchCustomer($event)" />

      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="customerName"
        (optionSelected)="onCustomerSelected($event.option.value)">
        <label hlmLabel class="p-2">Zu bestehenden Kunden hinzufügen:</label>

        @for (customer of matchingCustomers(); track customer.id) {
          <mat-option
            [value]="customer"
            class="!h-auto !min-h-[unset] !p-2 !font-sans !text-sm !font-medium [&>span]:!w-full">
            <div class="flex w-full flex-row items-center justify-between">
              <span class="font-bold">
                {{ customer.lastName }} {{ customer.firstName }}
              </span>

              @if (
                customer.addresses?.length > 0 && customer.addresses[0];
                as addr
              ) {
                <span class="ml-2">
                  {{ addr.street }}, {{ addr.postalCode }} {{ addr.city }}
                </span>
              }
            </div>
          </mat-option>
        }
      </mat-autocomplete>
    </hlm-td>
  </hlm-trow>

  <hlm-trow>
    <hlm-th class="w-48 overflow-hidden text-ellipsis">Vorname</hlm-th>
    <hlm-td>
      <input hlmInput [(ngModel)]="firstName" class="w-full" />
    </hlm-td>
  </hlm-trow>

  <hlm-trow>
    <hlm-th class="w-48 overflow-hidden text-ellipsis">Telefonnummer</hlm-th>
    <hlm-td>
      <input hlmInput [(ngModel)]="number" class="w-full" />
    </hlm-td>
  </hlm-trow>
</hlm-table>

<div class="flex-grow"></div>

<hlm-dialog-footer
  class="mt-4 flex flex-row flex-wrap items-center justify-between gap-2 p-1">
  <button hlmBtn variant="secondary" (click)="close()">Schließen</button>

  <div class="flex flex-row flex-wrap items-center justify-end gap-2">
    <button hlmBtn (click)="save()">Speichern</button>
  </div>
</hlm-dialog-footer>
