@import '../../../utils';

:host {
  position        : absolute;
  display         : flex;
  height          : 100%;
  width           : 100%;
  justify-content : space-around;
  align-items     : center;
  background-color: #fafafa;
}

.login-image {
  width: 100%;

  img {
    width: 100%;
  }
}

.login-container {
  box-shadow      : 0px 0px 2px 0px rgba(0, 21, 41, 0.08);
  background-color: #ffffff;
  border          : 1px solid #f0f0f0;
  padding         : 24px;
  margin-left     : auto;
  margin-right    : auto;
  width           : 100%;
  overflow        : auto;

  @include for-phone-only {
    width: 90%;
  }

  @include for-tablet-portrait-up {
    padding-left : 48px;
    padding-right: 48px;
    width        : 500px;
    border-radius: 4px;
  }
}



.center {
  text-align: center;
}

.login-form {
  width: 100%;

  margin-top   : 12px;
  margin-bottom: 12px
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width        : 100%;
  margin-top   : 12px;
  margin-bottom: 12px;
}
