<div class="top-row">

  <div class="dash-card">
    <nz-card>
      <nz-statistic [nzValue]="logs.length" nzTitle="Anrufe Heute" [nzPrefix]="prefixTpl"></nz-statistic>
      <ng-template #prefixTpl><i nz-icon nzType="phone" [nzRotate]="95"></i></ng-template>
    </nz-card>
  </div>

</div>

<nz-table #basicTable [nzData]="logs">
  <thead>
    <tr>
      <th>Zeit</th>
      <th>Anrufer</th>
      <th>Kunde</th>
      <th>Angerufene Nummer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; trackBy: trackLog">
      <td>{{data.localDate}}</td>
      <td>{{data.caller}}</td>
      <td>
        <a *ngIf="!!data.customer" [routerLink]="['/customer/view', data.customer.cid]">
          {{data.customer.name}}&nbsp;{{data.customer.firstname}}
        </a>
      </td>
      <td>{{data.inboundNumber}}</td>
    </tr>
  </tbody>
</nz-table>