
@switch (format) {
  @case ("plain") {
    @if (!!choices) {
      <nz-select #input>
        @for (choice of choices; track choice) {
          <nz-option [nzValue]="choice" [nzLabel]="choice"></nz-option>
        }
      </nz-select>
    } @else {
      @if (!multiline) {
        <input ngDefaultControl nz-input #input>
      } @else {
        <textarea ngDefaultControl #input nz-input></textarea>
      }
    }
  }
  @case ("html") {
    <ng-container *ngTemplateOutlet="ckeditorTemplate"></ng-container>
  }
  @case ("markdown") {
    <ng-container *ngTemplateOutlet="ckeditorTemplate"></ng-container>
  }
  @default {
    <p>Input type not yet supported</p>
  }
}

<ng-template #ckeditorTemplate>
  <ckeditor #input [config]="config" [editor]="Editor" class="prose" (onReady)="onReady()">
  </ckeditor>
</ng-template>
