<hlm-dialog-header>
  <h3 hlmDialogTitle>
    DICOM Studie {{ mode === 'share' ? 'teilen' : 'exportieren' }}
  </h3>
</hlm-dialog-header>

<div class="flex flex-col gap-4 py-2">
  @if (instances().length > 1) {
    <div class="flex flex-col gap-2">
      <label hlmLabel> Welche Bilder sollen exportiert werden? </label>

      <ol class="flex w-full flex-row gap-3 overflow-auto p-4">
        @for (instance of instances(); track instance.instanceUid) {
          <img
            role="button"
            [attr.src]="instance | dicomImageUrl: { width: 70, height: 70 }"
            (click)="instance.selected.set(!instance.selected())"
            class="aspect-auto h-16 w-16 cursor-pointer object-contain ring-1 ring-transparent ring-offset-2"
            [ngClass]="{ '!ring-sky-600': instance.selected() }" />
        }
      </ol>

      <div class="flex flex-row items-center justify-end gap-2">
        <button
          hlmBtn
          size="sm"
          variant="secondary"
          class="flex flex-row items-center"
          (click)="deselectAll()">
          <hlm-icon name="lucideSquare" size="sm" class="mr-2" />
          Alle abwählen
        </button>
        <button
          hlmBtn
          variant="secondary"
          size="sm"
          class="flex flex-row items-center"
          (click)="selectAll()">
          <hlm-icon name="lucideCheckSquare" size="sm" class="mr-2" />
          Alle auswählen
        </button>
      </div>
    </div>
  }

  @if (mode !== 'share') {
    <div class="flex flex-col gap-2">
      <label hlmLabel> Was möchtest du exportieren? </label>

      <label hlmLabel class="flex items-center">
        <hlm-checkbox [(ngModel)]="exportDicom" class="mr-2" />
        DICOM
      </label>

      <label hlmLabel class="flex items-center">
        <hlm-checkbox [(ngModel)]="exportPNG" class="mr-2" />
        PNG
      </label>

      <label hlmLabel class="flex items-center">
        <hlm-checkbox [(ngModel)]="exportJPEG" class="mr-2" />
        JPEG
      </label>

      @if (showAvi()) {
        <label hlmLabel class="flex items-center">
          <hlm-checkbox [(ngModel)]="exportAVI" class="mr-2" />
          AVI
          <span class="ml-1 text-xs text-gray-700"
            >(nur für multi-frame Aufnahmen, z.B. Ultraschall)</span
          >
        </label>
      }
    </div>
  }
</div>

<hlm-dialog-footer class="gap-2">
  <button hlmBtn variant="secondary" (click)="close()">Schließen</button>

  <button
    hlmBtn
    variant="default"
    [disabled]="invalid() || exporting()"
    (click)="export()">
    {{
      exporting()
        ? 'Export wird erstellt'
        : mode === 'share'
          ? 'Teilen'
          : 'Exportieren'
    }}
  </button>
</hlm-dialog-footer>
