<div class="tkd-card">
  <header *ngIf="showHeader">
    <h1>{{ schema.displayName || schema.name }}</h1>
    <span *ngIf="schema.description">{{ schema.description }}</span>
  </header>

  <div class="space-y-8">
    <tkd-option-spec-input *ngFor="let option of schema.options; trackBy: trackOption; let index=index" [spec]="option" [(ngModel)]="value[option.name]" (blur)="_onBlur()" (ngModelChange)="_onChange(value)" [index]="showIndex ? index + 1 : null"></tkd-option-spec-input>
  </div>
</div>

