@import '../../../../utils';

nz-card {
  height: 100%;
  flex-grow: 1;

  border-top: 3px solid #93C5FD;
  @include for-phone-only {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 12px;
    padding-bottom: 12px;

    ::ng-deep .ant-card-actions {
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: rgba(0, 0, 0, 0.01);
      margin-left: 12px;
      margin-right: 12px;
    }
  }
}

.container {
  position: relative;

  .clock {
    position: absolute;
right: 0px;
    top: -3rem;

    font-size: 2.5rem;
    opacity: .2;
  }
}

.door-avatar {
  border    : 1px solid lightgray;
  transition: background-color ease-in-out .2s;
}

.door-description {
  span:not(:last-child) {
    margin-right: 3px;
  }
}

.door-locked {
  background-color: #F87171;
}

.door-unlocked {
  background-color: #6EE7B7;
}
