@import '../../../../utils';

nz-card {
  @apply flex flex-col;

  ::ng-deep .ant-card-body {
    @apply flex-grow;
  }
}

.container {
  position: relative;

  .clock {
    position: absolute;
    right: 0px;
    top: -2rem;

    font-size: 2.5rem;
    opacity: .2;
  }
}

.door-avatar {
  border    : 1px solid lightgray;
  transition: background-color ease-in-out .2s;
}

.door-description {
  span:not(:last-child) {
    margin-right: 3px;
  }
}

.door-locked {
  @apply bg-rose-800 bg-opacity-50;
}

.door-unlocked {
  @apply bg-emerald-500 bg-opacity-50;
}
