nz-card {
  height: 100%;
  border-top: 3px solid #93C5FD;
}

.door-avatar {
  border    : 1px solid lightgray;
  transition: background-color ease-in-out .2s;
}

.door-description {
  span:not(:last-child) {
    margin-right: 3px;
  }
}

.door-locked {
  background-color: #F87171;
}

.door-unlocked {
  background-color: #6EE7B7;
}
