<nz-card>
  <nz-card-meta nzTitle="Heute im Dienst"></nz-card-meta>
  <div class="grid">

    <div>
      <h3>Vormittag</h3>
      <nz-avatar-group>
        <nz-avatar *ngFor="let user of forenoon" nzIcon="user" [nzSrc]="user.avatar" [nzSize]="48" nz-tooltip
          [nzTooltipTitle]="user.fullname"></nz-avatar>
      </nz-avatar-group>
    </div>
    <div>
      <h3>Nachmittag</h3>
      <nz-avatar-group>
        <nz-avatar *ngFor="let user of afternoon" nzIcon="user" [nzSrc]="user.avatar" [nzSize]="48" nz-tooltip
          [nzTooltipTitle]="user.fullname"></nz-avatar>
      </nz-avatar-group>
    </div>
    <div>
      <h3>Nacht- / Bereitschaftsdienst</h3>
      <nz-avatar-group>
        <nz-avatar *ngFor="let user of emergency" nzIcon="user" [nzSrc]="user.avatar" [nzSize]="48" nz-tooltip
          [nzTooltipTitle]="user.fullname"></nz-avatar>
      </nz-avatar-group>
    </div>
  </div>
</nz-card>
