<nz-card>
  <nz-card-meta nzTitle="Heute im Dienst"></nz-card-meta>
  <div class="grid grid-cols-2 gap-4 pt-4">
    @for (shift of shifts; track shift) {
      <div class="flex flex-col gap-2 rounded-md border border-border p-2">
        <label hlmLabel>{{ shift.definition?.name }}</label>
        <ng-container
          *ngTemplateOutlet="
            userGroupTemplate;
            context: { $implicit: shift.assignedUserIds }
          "></ng-container>
      </div>
    }
  </div>
</nz-card>

<ng-template #userGroupTemplate let-data>
  <div class="flex flex-row items-center gap-1">
    @for (user of data; track user) {
      <app-avatar
        [nz-tooltip]="user | toUser: profiles() | displayName"
        [user]="user"
        showName="false"
        (mouseenter)="userHover.next(user)"
        (mouseleave)="userHover.next('')"
        (click)="userClicked(user)" />
    }
  </div>
</ng-template>
