<div class="flex items-center justify-between p-2 -mb-3">
    <div>
        <nz-button-group>
            <button nz-button (click)="prevDay()" nzType="text">
                <i nz-icon nzType="left" nzTheme="outline"></i>
            </button>
            <nz-date-picker [nzAllowClear]="false" [(ngModel)]="date"></nz-date-picker>
            <button nz-button (click)="nextDay()" nzType="text">
                <i nz-icon nzType="right" nzTheme="outline"></i>
            </button>
        </nz-button-group>
    </div>

    <div>
        <nz-button-group>
            <button nz-button nzType="default" (click)="toggleAll()">
                {{ calendarModeText[calendarMode] }}
            </button>

            <button nz-button nzType="default" nz-dropdown [nzDropdownMenu]="dropdown" [nzClickHide]="false">
                <i nz-icon nzType="table" nzTheme="outline"></i>
            </button>
        </nz-button-group>

        <nz-dropdown-menu #dropdown="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item *ngFor="let cal of calendars; trackBy: trackCalendar" (click)="updateFilter(cal)"
                    (dblclick)="onFilterDblClick(cal)">
                    <i [style.opacity]="cal.displayed ? 1 : 0" nz-icon nzType="check" nzTheme="outline"></i>
                    {{ cal.name }}
                </li>
            </ul>
        </nz-dropdown-menu>

<!--
        <button class="create" nz-button nzType="primary" routerLink="/create-event">
            Neuer Termin
        </button>
    -->
    </div>
</div>

<div class="flex flex-grow p-2 overflow-hidden md:p-4 lg:p-8" [ngClass]="{'bg-white rounded shadow': !inlineView}">
    <div class="relative flex flex-grow overflow-auto" cdkScrollable #scrollContainer>
        <div id="height-wrapper absolute top-0"></div>

          <div class="calendar" *ngIf="!calendars?.length">
            <div class="header">
            </div>
            <div class="times">
                <div class="absolute w-full bg-white opening-hour" *ngFor="let oh of openingHours;" [ngStyle]="{top: oh.y+'px', height: oh.height+'px'}" >
                </div>
                <div class="bg-opacity-25 hours bg-text-deEmphasized">
                    <div *ngFor="let hour of hours" [ngStyle]="{height: hourHeight + 'px'}">
                        <caption>{{hour < 10 ? '0' + hour : hour}}:00</caption>
                    </div>
                </div>
            </div>
          </div>

          <ng-container  *ngFor="let cal of calendars; trackBy: trackCalendar; let last=last">
            <div class="calendar" *ngIf="cal.displayed">
                <div class="header" (dblclick)="onFilterDblClick(cal)">
                    {{ cal.user?.fullname || cal.user?.name || cal.name }}
                </div>
                <div class="times" (dblclick)="createEvent($event, cal)">
                    <div class="hours">
                        <div *ngFor="let hour of hours" [ngStyle]="{height: hourHeight + 'px'}">
                            <caption>{{hour < 10 ? '0' + hour : hour}}:00</caption>
                        </div>
                    </div>

                    <div class="absolute w-full bg-opacity-25 opening-hour bg-text-tertiary" *ngFor="let oh of openingHours;" [ngStyle]="{top: oh.y, height: oh.height}" >
                    </div>

                    <span class="event" *ngFor="let event of cal.events; trackBy: trackEvent"
                        [class.inactive]="activeEventID !== ''" (click)="onEventActivate(event)"
                        [class.active]="activeEventID === event._id"
                        [ngStyle]="{top: (event.top +  event.offsettop) + 'px', 'min-height': event.height + 'px', height: event.height + 'px', left: event.left + 'px', right: '0px', backgroundColor: event.color, color: event.fontColor}">
                        {{ event.startTime | date:'HH:mm'}}
                        {{ event.summary }}
                        <ng-container *ngIf="activeEventID === event._id">
                            <br />
                            {{ event.description }}
                        </ng-container>
                    </span>
                </div>
            </div>
          </ng-container>


        <div class="absolute w-full border-t-2 border-opacity-75 current-time border-alert-red" [ngStyle]="{top: todayOffset + 'px', left: scrollable.nativeElement.scrollLeft}">
          <span class="relative text-white bg-opacity-75 bg-alert-red">
            {{ currentTime | date:'HH:mm' }}
          </span>
        </div>
    </div>
</div>
