:host {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
}
    .header {
        user-select: none;
        cursor: pointer;
        position: sticky;
        top: 0px;
        z-index: 3;
        font-weight: 300;
        font-family: 'Poppins';
        flex: 0 0;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        padding-right: 12px;
        background-color: white;
        border-bottom: 2px solid gray;
        white-space: nowrap;
        text-overflow: ellipsis;
    }


.calendar {
    flex: 1 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-right: solid 1px lightgray;
    height: fit-content;

    .times {
        flex: 1 0 auto;
    }
}

    .current-time {
        text-align: right;
        line-height: .9rem;
        z-index: 2;

        span {
            top: 0.25rem;
            @apply rounded-b text-xs mr-1 py-1 px-2;
        }
    }


.times {
    position: relative;

    .hours {
        div {
            display: block;
            border-bottom: 1px solid lightgray;
            position: relative;

            caption {
                position: absolute;
                font-size: .8rem;
                opacity: .8;
                left: 12px;
                top: 12px;
                padding: 0;
            }

            &:hover caption {
                opacity: 1;
                color: lightskyblue;
            }
        }
    }

    .event {
        @apply text-ellipsis font-lato text-sm block absolute overflow-hidden p-1 shadow cursor-pointer border border-white rounded-sm;
        transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);

        &.inactive {
            opacity: .65;
        }

        &.active {
          @apply shadow opacity-100;
          /*
            opacity: 1;
            line-height: unset;
            height: fit-content !important;
            @apply border-text-deEmphasized border-opacity-50 shadow-md ;
            z-index: 3;
            animation: activate .1s linear 0s 1 normal forwards;
          */
        }
    }
}

@keyframes activate {
    0% {
        opacity: 0.65;
        padding: 10px;
        width: calc(100% + 10px);
        font-size: 100%;
    }
    100% {
        font-size: 100%;
        padding: 10px;
        width: calc(100% + 10px);
        opacity: 1;
        transform: translateY(-5px) translateX(-5px);
        border-width: 2px;
    }
}


