<div class="flex flex-col gap-3 justify-start items-start p-2">
    <div class="flex flex-col gap-2">
        <span>Kommentar</span>
        <input type="text" [(ngModel)]="comment" class="tkd-input">
    </div>

    <div class="flex flex-col gap-2" *ngIf="decision === 'approve'">
        <span>Tatsächlicher Verbrauch</span>
        <input type="text" [(ngModel)]="actualCosts" class="tkd-input">
    </div>
    
    <div class="flex flex-row gap-2 justify-end pt-2 mt-2 border-t border-subtle">
        <button *ngIf="decision === 'approve'" class="tkd-btn tkd-primary">Genehmigen</button>
        <button *ngIf="decision === 'reject'" class="tkd-btn tkd-danger">Ablehnen</button>

        <button class="tkd-btn tkd-primary tkd-outline">Abbrechen</button>
    </div>
</div>