<hlm-dialog-header>
  <h3 hlmDialogTitle>
    Termine

    @if (user(); as user) {
      von {{ user | displayName }}
    } @else {
      in {{ calendar().name }}
    }
  </h3>
  <p hlmDialogDescription class="flex flex-row items-center gap-2">
    @if (upcoming()) {
      Bevorstehende
    } @else {
      Alle
    }

    Termine am {{ dialogContext.date | date: 'mediumDate' }}
  </p>
</hlm-dialog-header>

<div class="w-full flex-row justify-between py-4">
  <label class="mt-2 flex items-center px-2" hlmLabel>
    <hlm-checkbox class="mr-2" [(ngModel)]="upcoming" />
    Nur bevorstehende Termine anzeigen
  </label>

  <div class="flex flex-row items-center overflow-visible p-1">
    <tkd-date-picker [(ngModel)]="calendarDate" mode="single">
      <tkd-picker-trigger *tdkDatePickerTrigger size="default" />
    </tkd-date-picker>
  </div>
</div>

<div
  class="flex w-full flex-grow overflow-auto rounded-md border border-border p-2">
  <app-event-list
    class="flex-grow self-stretch"
    [events]="_computedEvents()"
    [loading]="loading()"
    [onlyUpcoming]="upcoming()"
    (detailsClosed)="load(calendarDate())" />
</div>

<hlm-dialog-footer class="p-2">
  <button hlmBtn (click)="close()">Schließen</button>
</hlm-dialog-footer>
