<nav class="relative flex h-full flex-shrink-0 flex-col bg-white">
  @if (!sheet()) {
    <!-- Logo -->
    <app-logo class="ml-1 h-14 px-4 py-4" />
  }

  @defer {
    <hlm-menu
      #menu
      variant="menubar"
      class="mt-4 w-full flex-grow rounded-none border-none shadow-none [&_button]:py-4 [&_button]:md:px-4 [&_button]:md:py-2">
      <hlm-menu-group class="space-y-1">
        <button
          hlmMenuItem
          routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bg-gray-100"
          class="px-4 py-2">
          <hlm-icon name="lucideHome" hlmMenuIcon />
          Dashboard
        </button>

        <button
          hlmMenuItem
          routerLink="/calendar"
          routerLinkActive="bg-gray-100"
          class="px-4 py-2">
          <hlm-icon name="lucideCalendar" hlmMenuIcon />
          Kalender
        </button>

        <button
          hlmMenuItem
          routerLink="/roster"
          routerLinkActive="bg-gray-100"
          class="px-4 py-2">
          <hlm-icon name="lucideTimer" hlmMenuIcon />
          Dienstplan
        </button>

        <button
          hlmMenuItem
          [brnMenuTriggerFor]="offtimeMenu"
          class="px-4 py-2"
          #trigger="cdkMenuTriggerFor"
          routerLink="/offtime"
          routerLinkActive="bg-gray-100"
          (mouseenter)="(!!sheetRef && !trigger.isOpen()) || trigger.open()">
          <hlm-icon name="lucideLayers" hlmMenuIcon />
          Urlaubsanträge
          <hlm-menu-item-sub-indicator />
        </button>

        <ng-template #offtimeMenu>
          <hlm-sub-menu
            (mouseleave)="trigger.toggle()"
            class="w-64 [&_button]:py-4 [&_button]:md:px-4 [&_button]:md:py-2">
            <hlm-menu-label>Urlaubsanträge</hlm-menu-label>
            <hlm-menu-separator />

            <button
              hlmMenuItem
              class="px-4 py-2"
              routerLink="/offtime"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="bg-gray-100">
              <hlm-icon name="lucideLayers" hlmMenuIcon />
              Alle anzeigen
            </button>

            <button
              hlmMenuItem
              class="px-4 py-2"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/offtime/create"
              routerLinkActive="bg-gray-100">
              <hlm-icon name="lucidePlus" hlmMenuIcon />
              Antrag erstellen
            </button>
          </hlm-sub-menu>
        </ng-template>

        <button
          hlmMenuItem
          routerLink="/customers"
          routerLinkActive="bg-gray-100"
          class="px-4 py-2">
          <hlm-icon name="lucideUserCircle" hlmMenuIcon />
          Kunden
        </button>

        <button
          hlmMenuItem
          routerLink="/calllogs"
          routerLinkActive="bg-gray-100"
          class="px-4 py-2">
          <hlm-icon name="lucidePhoneCall" hlmMenuIcon />
          Anruf-Journal
        </button>

        <button
          hlmMenuItem
          routerLink="/on-call"
          routerLinkActive="bg-gray-100"
          class="px-4 py-2">
          <hlm-icon name="lucidePhoneForwarded" hlmMenuIcon />
          Umleitungen
        </button>

        <button
          hlmMenuItem
          routerLink="/xray"
          routerLinkActive="bg-gray-100"
          class="px-4 py-2">
          <hlm-icon name="lucideFilm" hlmMenuIcon />
          Röntgen
        </button>
      </hlm-menu-group>
      <hlm-menu-group>
        <button
          hlmMenuItem
          [brnMenuTriggerFor]="tasksMenu"
          class="px-4 py-2"
          #tasksTrigger="cdkMenuTriggerFor"
          (mouseenter)="
            (!!sheetRef && !tasksTrigger.isOpen()) || tasksTrigger.open()
          ">
          <hlm-icon name="lucideLayers" hlmMenuIcon />
          Todos & Tasks
          <hlm-menu-item-sub-indicator />
        </button>

        <ng-template #tasksMenu>
          <hlm-sub-menu
            (mouseleave)="tasksTrigger.toggle()"
            class="w-64 [&_button]:py-4 [&_button]:md:px-4 [&_button]:md:py-2">
            <hlm-menu-label>Todos & Tasks</hlm-menu-label>

            <hlm-menu-separator />

            @for (board of boards(); track board.id) {
              <button
                hlmMenuItem
                class="px-4 py-2"
                [routerLink]="['/tasks/', board.id]"
                routerLinkActive="bg-gray-100">
                <hlm-icon name="lucideLayers" hlmMenuIcon />
                {{ board.displayName }}
              </button>
            }

            <hlm-menu-separator />

            <button hlmMenuItem class="px-4 py-2" routerLink="/board">
              <hlm-icon name="lucidePlus" hlmMenuIcon />
              Neue Liste erstellen
            </button>
          </hlm-sub-menu>
        </ng-template>
      </hlm-menu-group>

      <hlm-menu-separator />

      <hlm-menu-group class="space-y-1">
        @if (mailboxes().length) {
          <button
            hlmMenuItem
            class="px-4 py-2"
            #trigger="cdkMenuTriggerFor"
            (mouseenter)="trigger.isOpen() || trigger.open()"
            [brnMenuTriggerFor]="voiceMailsTemplate">
            <hlm-icon name="lucideFileAudio" hlmMenuIcon />
            Voice-Mails
            <hlm-menu-item-sub-indicator />
          </button>

          <ng-template #voiceMailsTemplate>
            <hlm-sub-menu
              (mouseleave)="trigger.close()"
              class="w-64 [&_button]:py-4 [&_button]:md:px-4 [&_button]:md:py-2">
              <hlm-menu-label>Voice-Mails</hlm-menu-label>
              <hlm-menu-separator />
              <hlm-menu-group class="space-y-1">
                @for (mailbox of mailboxes(); track mailbox) {
                  <button
                    hlmMenuItem
                    inset
                    routerLinkActive="bg-gray-100"
                    [routerLink]="['/voicemail', mailbox.id]"
                    class="px-4 py-2">
                    {{ mailbox.displayName }}
                  </button>
                }
              </hlm-menu-group>
            </hlm-sub-menu>
          </ng-template>
        }

        @for (item of rootLinks(); track item) {
          <a
            hlmMenuItem
            [attr.href]="item.Link"
            [attr.target]="item.BlankTarget ? '_blank' : null"
            class="px-4 py-2">
            <hlm-icon name="lucideCircuitBoard" hlmMenuIcon />

            {{ item.Text }}
          </a>
        }

        @for (menu of subMenus(); track menu) {
          <button
            hlmMenuItem
            [inset]="true"
            [brnMenuTriggerFor]="subMenu"
            #trigger="cdkMenuTriggerFor"
            (mouseenter)="trigger.isOpen() || trigger.open()"
            class="px-4 py-2">
            <hlm-icon name="lucideCircuitBoard" hlmMenuIcon />

            {{ menu.Text }}

            <hlm-menu-item-sub-indicator />
          </button>

          <ng-template #subMenu>
            <hlm-sub-menu
              (mouseleave)="trigger.close()"
              class="w-64 [&_a]:py-4 [&_a]:md:px-4 [&_a]:md:py-2">
              <hlm-menu-label>{{ menu.Text }}</hlm-menu-label>
              <hlm-menu-separator />
              <hlm-menu-group class="space-y-1">
                @for (item of menu.Items; track item) {
                  <a
                    hlmMenuItem
                    inset
                    [attr.href]="item.Link"
                    [attr.target]="item.BlankTarget ? '_blank' : null"
                    class="px-4 py-2">
                    {{ item.Text }}
                  </a>
                }
              </hlm-menu-group>
            </hlm-sub-menu>
          </ng-template>
        }
      </hlm-menu-group>
    </hlm-menu>

    <!-- Copyright -->
    <span
      class="flex flex-col items-center justify-around py-2 text-center text-xs text-gray-500">
      <span class="font-semibold text-gray-700">V1.19</span>
      <span>
        <hlm-icon name="lucideCopyright" size="sm" />
        2019 - 2023
        <br />
        <a href="https://github.com/tierklinik-dobersberg" target="_blank"
          >Tierklinik Dobersberg</a
        >
        /
        <a href="https://github.com/ppacher" target="_blank">Patrick Pacher</a>
      </span>
    </span>
  }
</nav>
