<div class="toolbar">
  <div class="alerts">
    <nz-alert *ngIf="showNoRosterAlert" [nzMessage]="noRosterAlertTemplate" nzType="warning">
    </nz-alert>

    <ng-template #noRosterAlertTemplate>
      <span>
        <i class="warning-sign" nz-icon nzType="warning" nzTheme="outline"></i>
        Kein Dienstplan für {{ selectedDate.toLocaleString('default', { month: 'long' }) }} {{
        selectedDate.getFullYear() }} gefunden!</span>
    </ng-template>
  </div>

  <div class="actions">
    <button nz-button nzType="primary" nzShape="circle" [nzLoading]="saveLoading" (click)="toggleEdit()">
      <i nz-icon [nzType]="editMode ? 'save' : 'edit'" nzTheme="outline"></i>
    </button>
    <button nz-button nzType="danger" nzShape="circle" [nzLoading]="false" nz-popconfirm
      nzPopconfirmTitle="Dienstplan sicher löschen?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteRoster()">
      <i nz-icon nzType="delete" nzTheme="outline"></i>
    </button>
  </div>
</div>

<nz-calendar (nzPanelChange)="onPanelChange($event)" (nzSelectChange)="onDateSelected($event)">
  <ul *nzDateFullCell="let date" [class.other-month]="date.getMonth() != selectedDate.getMonth()"
    class="selected-users">
    <span style="padding-right: 2px;">{{date.getDate()}}</span>
    <li (click)="updateCell(date, 'forenoon')" nz-button nz-dropdown [nzClickHide]="false" [nzDropdownMenu]="userMenu"
      nzTrigger="click">
      <span *ngFor="let user of getDay(date).forenoon"> {{ user.toLocaleUpperCase()[0] }} </span>
    </li>

    <li (click)="updateCell(date, 'afternoon')" nz-button nz-dropdown [nzClickHide]="false" [nzDropdownMenu]="userMenu"
      nzTrigger="click">
      <span *ngFor="let user of getDay(date).afternoon"> {{ user.toLocaleUpperCase()[0] }} </span>
    </li>

    <li (click)="updateCell(date, 'emergency')" nz-button nz-dropdown [nzClickHide]="false" [nzDropdownMenu]="userMenu"
      nzTrigger="click">
      <span *ngFor="let user of getDay(date).emergency"> {{ user.toLocaleUpperCase()[0] }} </span>
    </li>
  </ul>
</nz-calendar>

<nz-dropdown-menu #userMenu="nzDropdownMenu">
  <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="updateSelectedStaff($event)">
    <div nz-row nz-menu>
      <div *ngFor="let user of usernames" nz-col nzSpan="8" nz-menu-item>
        <label nz-checkbox [nzValue]="user"
          [(ngModel)]="selectedDaySlice[user]">{{userProfiles[user]?.fullname}}</label>
      </div>
    </div>
  </nz-checkbox-wrapper>
</nz-dropdown-menu>