@import 'src/utils';

:host {
  display: block;
  padding: 24px;
  background-color: white;
}

nz-select {
  width: 100%;
}

.selection-row {
  padding: {
    top  : 6px;
    left : 12px;
    right: 12px;
  }

  &:last-child {
    padding-bottom: 12px;
  }

  button:not(:last-child) {
    margin-right: 4px;
  }
}

.holiday-tag {
  .date {
    font-weight: bold;
  }

  .name {
    display: none;

    @include for-tablet-landscape-up {
      display: inline-block;
    }
  }
}

.toolbar {
  width        : 100%;
  display      : flex;
  position     : sticky;
  top          : 0px;
  z-index      : 100;
  background   : white;
  border-bottom: 1px solid #f0f0f0;

  @include for-phone-only {
    position: relative;
  }

  h1 {
    margin-bottom  : 0;
    display        : flex;
    align-items    : center;
    justify-content: flex-start;

    nz-tag {
      margin-left: 0.5rem;
    }
  }

  .actions {
    flex-grow: 0;

    button:not(:last-child) {
      margin-right: 3px;
    }

    nz-button-group {
      button {
        margin-right: 0px;
      }
    }
  }

  .alerts {
    margin-right: 12px;
    flex-grow   : 1;
  }

  padding-top  : 12px;
  margin-bottom: 12px;
}

.user-menu {
  width: 25vw;
  min-width: 450px;
  overflow: auto;

  @include for-phone-only {
    width: auto;
    min-width: auto;
  }
}

.ant-picker-calendar-date {
  padding: 0 !important;
}

.warning-sign {
  color       : #f3ba00;
  margin-right: 7px;
}

.other-month {
  opacity: 0.2;
}

ul.holiday {
  background-color: #EEF2FF;
}

ul {
    transition: all .2s ease-in-out;
}

ul.highlight-active {
    opacity: 0.35;

    &.highlight-day {
      opacity: 1;
      background-color: rgba(238, 255, 0, 0.26);
    }
}

.selected-users {
  color     : black;
  text-align: left;
  overflow  : hidden;

  li {
    display        : flex;
    justify-content: flex-start;
    align-items    : center;
    overflow       : hidden;
    white-space    : nowrap;
  }

  li>span {
    padding: {
      top   : 0px;
      bottom: 0px;
      left  : 6px;
      right : 6px;
    }

    border-radius: 2px;
    border       : 1px solid #b0b0b0;

    &.highlight-user {
      font-weight: bold;
    }

    &:not(:last-child) {
      margin-right: 3px;
    }
  }
}

span.title {
  display       : block;
  color         : gray;
  padding-bottom: 3px;
  font-size     : 90%;
  text-transform: uppercase;
}

nz-checkbox-wrapper {
  margin-bottom: 12px;
}

ul {
  list-style: none;
  padding   : 0;

  li:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
  }

  li {
    height: 30px;
  }
}

nz-button-group {
  margin-bottom: 8px;
  margin-right: 8px;
}

.mobile-view {
  h3 {
    text-align: center;
  }
  .day {
    border-bottom: 1px solid lightgray;
    padding-top: 12px;

    .selection-row {
      padding: 0;
    }

    &.highlight-active {
      opacity: 0.35;
    }

    &.highlight-day {
      opacity: 1;
    }
  }
}

.comment-container {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;

  .create-comment-container {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #b0b0b0;
    margin-top: 24px;

    textarea {
      margin-bottom: 12px;
    }
  }

  .commenter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  span.ant-avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;

    img {
      width : 100%;
      height: auto;
    }
  }

  .comment-content {
    padding-top: 6px;
    margin-left: 52px;
  }

  .commenter {

    flex-grow: 1;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    color: gray;

    span:not(.username) {
      font-size: 90%;
    }
  }
}