<div class="toolbar">
  <div class="alerts">
    <nz-alert *ngIf="showNoRosterAlert" [nzMessage]="noRosterAlertTemplate" nzType="warning">
    </nz-alert>

    <ng-template #noRosterAlertTemplate>
      <span>
        <i class="warning-sign" nz-icon nzType="warning" nzTheme="outline"></i>
        Kein Dienstplan für {{ selectedDate.toLocaleString('default', { month: 'long' }) }} {{
        selectedDate.getFullYear() }} gefunden!</span>
    </ng-template>
  </div>

  <div class="actions">
    <button nz-button nzType="primary" nzShape="circle" [nzLoading]="saveLoading" (click)="toggleEdit()">
      <i nz-icon [nzType]="editMode ? 'save' : 'edit'" nzTheme="outline"></i>
    </button>
    <button nz-button nzType="danger" nzShape="circle" [nzLoading]="false" nz-popconfirm
      nzPopconfirmTitle="Dienstplan sicher löschen?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteRoster()">
      <i nz-icon nzType="delete" nzTheme="outline"></i>
    </button>
  </div>
</div>

<nz-calendar (nzPanelChange)="onPanelChange($event)" (nzSelectChange)="onDateSelected($event)">
  <ul *nzDateFullCell="let date" [class.other-month]="date.getMonth() != selectedDate.getMonth()"
    (click)="updateCell(date)" nz-button nz-dropdown [nzClickHide]="false" [nzDropdownMenu]="userMenu" nzTrigger="click"
    class="selected-users">

    <span style="padding-right: 2px;">{{date.getDate()}}</span>
    <li>
      <span *ngFor="let user of getDay(date).forenoon"> {{ user.toLocaleUpperCase()[0] }} </span>
    </li>

    <li>
      <span *ngFor="let user of getDay(date).afternoon"> {{ user.toLocaleUpperCase()[0] }} </span>
    </li>

    <li>
      <span *ngFor="let user of getDay(date).emergency"> {{ user.toLocaleUpperCase()[0] }} </span>
    </li>
  </ul>
</nz-calendar>

<nz-dropdown-menu #userMenu="nzDropdownMenu">
  <div nz-menu>
    <span nz-menu-group class="title">Vormittag</span>
    <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="updateSelectedStaff($event, 'forenoon')">
      <div nz-row>
        <div *ngFor="let user of usernames" nz-col nzSpan="8" nz-menu-item>
          <label nz-checkbox [nzValue]="user"
            [ngModel]="selectedDay?.forenoon?.includes(user)">{{userProfiles[user]?.fullname}}</label>
        </div>
      </div>
    </nz-checkbox-wrapper>

    <span nz-menu-group class="title">Nachmittag</span>
    <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="updateSelectedStaff($event, 'afternoon')">
      <div nz-row>
        <div *ngFor="let user of usernames" nz-col nzSpan="8" nz-menu-item>
          <label nz-checkbox [nzValue]="user"
            [ngModel]="selectedDay?.afternoon?.includes(user)">{{userProfiles[user]?.fullname}}</label>
        </div>
      </div>
    </nz-checkbox-wrapper>

    <span nz-menu-group class="title">Nachtdienst</span>
    <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="updateSelectedStaff($event, 'emergency')">
      <div nz-row>
        <div *ngFor="let user of usernames" nz-col nzSpan="8" nz-menu-item>
          <label nz-checkbox [nzValue]="user"
            [ngModel]="selectedDay?.emergency?.includes(user)">{{userProfiles[user]?.fullname}}</label>
        </div>
      </div>
    </nz-checkbox-wrapper>
  </div>
</nz-dropdown-menu>