<div class="toolbar content-section">
  <div class="alerts">
    <nz-alert *ngIf="showNoRosterAlert && !editMode; else: dateHeader" [nzMessage]="noRosterAlertTemplate"
      nzType="warning">
    </nz-alert>

    <ng-template #dateHeader>
      <h1>
        {{ selectedDate.toLocaleString('default', { month: 'long' }) }} {{
        selectedDate.getFullYear() }}
        <nz-tag *ngIf="editMode" nzColor="geekblue">in Bearbeitung</nz-tag>
      </h1>
    </ng-template>

    <ng-template #noRosterAlertTemplate>
      <span>
        <i class="warning-sign" nz-icon nzType="warning" nzTheme="outline"></i>
        Kein Dienstplan für {{ selectedDate.toLocaleString('default', { month: 'long' }) }} {{
        selectedDate.getFullYear() }} gefunden!</span>
    </ng-template>
  </div>

  <div class="actions">
    <ng-container *ngIf="layout.isPhone">
      <nz-button-group>
        <button nz-button (click)="today()">
          <i nz-icon nzType="calendar" nzTheme="outline"></i>
        </button>
      </nz-button-group>

      <nz-button-group>
        <button nz-button (click)="prevMonth()" nzType="primary">
          <i nz-icon nzType="left" nzTheme="outline"></i>
        </button>
        <button nz-button (click)="nextMonth()" nzType="primary">
          <i nz-icon nzType="right" nzTheme="outline"></i>
        </button>
      </nz-button-group>

    </ng-container>

    <button nz-button nzType="primary" nzShape="circle" *ngIf="!editMode && !readonly" (click)="toggleEdit()"
      nzTooltipTitle="Dienstplan bearbeiten" nz-tooltip>
      <i nz-icon nzType="edit" nzTheme="outline"></i>
    </button>

    <button nz-button nzType="primary" nzShape="circle" *ngIf="editMode || saveLoading" [nzLoading]="saveLoading"
      (click)="toggleEdit()" nzTooltipTitle="Dienstplan speichern" nz-tooltip>
      <i nz-icon nzType="save" nzTheme="outline"></i>
    </button>

    <button nz-button *ngIf="editMode" nzType="default" nzShape="circle" [nzLoading]="false" nz-popconfirm
      nzPopconfirmTitle="Änderungen verwerfen?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="discardChanges()"
      nzTooltipTitle="Änderunge verwerfen" nz-tooltip>
      <i nz-icon nzType="close" nzTheme="outline"></i>
    </button>

    <button nz-button nzType="danger" nzShape="circle" [nzLoading]="false" nz-popconfirm *ngIf="!editMode && !readonly"
      nzTooltipTitle="Dienstplan löschen" nz-tooltip nzPopconfirmTitle="Dienstplan sicher löschen?"
      nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteRoster()">
      <i nz-icon nzType="delete" nzTheme="outline"></i>
    </button>

    <nz-badge [nzCount]="comments.length" style="margin-left: 12px">
      <button nz-button nzType="text" (click)="toggleComments()">
        <i nz-icon nzType="comment" nzTheme="outline"></i>
      </button>
    </nz-badge>
  </div>
</div>

<nz-calendar (nzPanelChange)="onPanelChange($event)" (nzSelectChange)="onDateSelected($event)"
  *ngIf="layout.isTabletLandscapeUp; else mobileViewTemplate" class="content-section">
  <ul *nzDateFullCell="let date" [class.other-month]="date.getMonth() != selectedDate.getMonth()"
    (click)="selectRosterDay(date)" nz-button nz-dropdown
    [(nzVisible)]="getVisibleProp(date.toLocaleString())[date.toLocaleString()]" [nzClickHide]="false"
    [nzDropdownMenu]="readonly ? null: userMenu" nzTrigger="click" class="selected-users"
    [class.holiday]="!!holidays[date.toDateString()]" [class.highlight-active]="!!highlightUser"
    [class.highlight-day]="shouldHighlightDay(date)">

    <span style="padding-right: 2px; overflow: hidden; white-space: nowrap;">
      <nz-tag *ngIf="!!holidays[date.toDateString()]; else: showDayTemplate" nzColor="geekblue" class="holiday-tag">
        <span class="date">{{date.getDate()}}</span>
        <span class="name">
          &nbsp;{{holidays[date.toDateString()].localName}}
        </span>
      </nz-tag>

      <ng-template #showDayTemplate>
        {{date.getDate()}}
      </ng-template>
    </span>

    <ng-container *ngTemplateOutlet="userDutyTemplate; context: {$implicit: 'forenoon'}"></ng-container>
    <ng-container *ngTemplateOutlet="userDutyTemplate; context: {$implicit: 'afternoon'}"></ng-container>
    <ng-container *ngTemplateOutlet="userDutyTemplate; context: {$implicit: 'emergency'}"></ng-container>

    <ng-template #userDutyTemplate let-property>
      <li>
        <span class="user-tag" *ngFor="let user of getDay(date)[property]" nz-tooltip
          [nzTooltipTitle]="userProfiles[user]?.fullname" [class.highlight-user]="highlightUser === user"
          [style.backgroundColor]="userProfiles[user]?.color" [style.color]="userProfiles[user]?.fontColor"
          (mouseenter)="highlightUserSubject.next(user)" (mouseleave)="highlightUserSubject.next('')">
          {{ userProfiles[user]?.fullname.slice(0, 2) || 'N/A' }}
        </span>
      </li>
    </ng-template>
  </ul>
</nz-calendar>

<ng-template #mobileViewTemplate>
  <div class="mobile-view">
    <div class="day content-section" *ngFor="let date of dates" [attr.id]="date.toDateString()"
      [class.highlight-active]="!!highlightUser" [class.highlight-day]="shouldHighlightDay(date)">
      <h3>
        {{ weekdays[date.getDay()] }}, {{ date.toLocaleDateString() }}
      </h3>
      <div class="selection-row">
        <span class="title">Vormittag</span>
        <ng-container *ngTemplateOutlet="mobileUserDutyTemplate; context: {$implicit: getDay(date).forenoon}">
        </ng-container>
      </div>
      <div class="selection-row">
        <span class="title">Nachmittag</span>
        <ng-container *ngTemplateOutlet="mobileUserDutyTemplate; context: {$implicit: getDay(date).afternoon}">
        </ng-container>
      </div>
      <div class="selection-row">
        <span class="title">Nachtdienst</span>
        <ng-container *ngTemplateOutlet="mobileUserDutyTemplate; context: {$implicit: getDay(date).emergency}">
        </ng-container>
      </div>
    </div>

    <ng-template #mobileUserDutyTemplate let-day>
      <span class="user-tag" *ngFor="let user of day" [class.highlight-user]="highlightUser === user"
        [style.backgroundColor]="userProfiles[user]?.color" [style.color]="userProfiles[user]?.fontColor"
        (mouseenter)="highlightUserSubject.next(user)" (mouseleave)="highlightUserSubject.next('')">
        {{ userProfiles[user]?.fullname || 'N/A' }}
      </span>
    </ng-template>
  </div>
</ng-template>

<nz-dropdown-menu #userMenu="nzDropdownMenu">
  <div nz-menu class="user-menu">
    <ng-container *ngTemplateOutlet="userSelection; context: {$implicit: 'forenoon', title: 'Vormittag'}">
    </ng-container>
    <ng-container *ngTemplateOutlet="userSelection; context: {$implicit: 'afternoon', title: 'Nachmittag'}">
    </ng-container>
    <ng-container *ngTemplateOutlet="userSelection; context: {$implicit: 'emergency', title: 'Nachtdienst'}">
    </ng-container>

    <div class="selection-row" style="text-align: right; padding-top: 12px">
      <button *ngIf="!editMode && !readonly" nz-button nzSize="small" nzType="primary" (click)="toggleEdit()">
        <i nz-icon nzType="edit" nzTheme="outline"></i>
        Bearbeiten
      </button>

      <button nz-button nzSize="small" (click)="closeDropdown()" nzType="default">
        <i nz-icon nzType="close" nzTheme="outline"></i>
        Schließen
      </button>
    </div>


    <ng-template #userSelection let-model let-title="title">
      <div class="selection-row">
        <span nz-menu-group class="title">{{title}}</span>
        <nz-select *ngIf="editMode && isDropDownVisible" [(ngModel)]="selectedDay[model]" nzMode="multiple"
          (ngModelChange)="rosterChanged()" nzPlaceHolder="Bitte auswählen">
          <nz-option *ngFor="let option of usernames" [nzLabel]="userProfiles[option]?.fullname" [nzValue]="option">
          </nz-option>
        </nz-select>
        <div *ngIf="!editMode" class="selected-users">
          <li><span *ngFor="let username of selectedDay[model]">{{userProfiles[username]?.fullname}}</span></li>
        </div>
      </div>
    </ng-template>
  </div>
</nz-dropdown-menu>

<nz-drawer [nzClosable]="true" [nzVisible]="showComments" nzPlacement="right" (nzOnClose)="toggleComments()"
  [nzWidth]="layout.isPhone ? '100vw' : layout.isDesktopUp ? '25vw' : '50vw'">
  <div class="comment-container">
    <h2>Kommentare</h2>

    <div *ngFor="let comment of comments">
      <div class="commenter-container">
        <nz-avatar *ngIf="!comment.profile?.avatar" nzIcon="user">
        </nz-avatar>
        <span *ngIf="!!comment.profile?.avatar" class="ant-avatar ant-avatar-circle">
          <img [attr.src]="comment.profile?.avatar">
        </span>

        <div class="commenter">
          <span class="username">{{ comment.profile?.fullname || comment.profile?.name || 'Unbekannt' }}</span>
          <span>{{ comment.edited ? 'bearbeitet am ' : 'erstellt am '}} {{ comment.date.toLocaleDateString() }}, {{
            comment.date.toLocaleTimeString() }}</span>
        </div>
      </div>
      <p class="comment-content">
        {{comment.message}}
      </p>
    </div>

    <div class="create-comment-container">
      <h3>Erstelle einen neuen Kommentar:</h3>
      <textarea nz-input [nzAutosize]="{ minRows: 3, maxRows: 5 }" [(ngModel)]="newComment"></textarea>
      <button nz-button nzType="primary" (click)="createComment()">Kommentieren</button>
    </div>
  </div>
</nz-drawer>