<header class="flex flex-row items-center gap-2">
  <!-- Date controls -->
  <div class="flex flex-row flex-nowrap gap-1">
    <tkd-date-picker
      [ngModel]="currentDate()"
      (ngModelChange)="setDate($event)"
      withTime="false">
      <tkd-picker-trigger *tdkDatePickerTrigger />
    </tkd-date-picker>

    @if (layout.md()) {
      <button hlmBtn variant="outline" size="sm" (click)="loadToday()">
        Heute
      </button>
    }
  </div>

  <!-- Spacer -->
  <div class="flex-grow"></div>

  <div class="">
    <brn-select [multiple]="true" [(ngModel)]="displayedCalendars">
      <hlm-select-trigger>
        <hlm-select-value />
      </hlm-select-trigger>

      <hlm-select-content class="max-h-96 w-96">
        @for (cal of calendars(); track cal.id) {
          <hlm-option [value]="cal.id">{{ cal.name }}</hlm-option>
        }
      </hlm-select-content>
    </brn-select>
  </div>

  <!-- Zoom Controls -->
  <div class="flex flex-row flex-nowrap items-center gap-0">
    <button
      nz-tooltip="Vergrößern (+)"
      hlmBtn
      variant="outline"
      size="sm"
      class="rounded-r-none border-r-0"
      (click)="dayView.zoomIn()">
      <hlm-icon name="lucideZoomIn" size="sm" />
    </button>

    <button
      nz-tooltip="Verkleinern (-)"
      hlmBtn
      size="sm"
      variant="outline"
      class="rounded-l-none"
      (click)="dayView.zoomOut()">
      <hlm-icon name="lucideZoomOut" size="sm" />
    </button>
  </div>
</header>

<tkd-day-view
  [currentDate]="currentDate()"
  (calendarClick)="handleCalendarClick($event)"
  #dayView="tkdDayView"
  class="w-full flex-grow cursor-not-allowed rounded-md border border-border bg-white shadow-md"
  autoScroll="true"
  [showCurrentTime]="isToday()"
  [calendars]="calendars()"
  [displayCalendars]="displayedCalendars()"
  [events]="_computedEvents()">
  <!-- Calendar Header Cell -->
  <ng-template
    [headerCell]="calendarType"
    #headerCell="tkdCalendarHeaderCell"
    let-calendar>
    <div
      [userColorVars]="calendar.id | byCalendarId: profiles()"
      class="overflow-hidden text-ellipsis whitespace-nowrap rounded-t-md bg-white p-2 text-center text-sm font-medium text-[var(--user-color,black)]">
      {{ calendar.name }}
    </div>
  </ng-template>

  <!-- Event Cell Template -->
  <ng-template
    [eventCell]="calendarType"
    #eventCell="tkdCalendarEventCell"
    let-event
    let-calendar="calendar">
    @if (!event.isShiftType) {
      <div
        class="event-container h-full w-full transform overflow-hidden drop-shadow hover:bg-blend-difference hover:shadow-lg">
        <div
          [userColorVars]="calendar.id | byCalendarId: profiles()"
          class="event-details h-full w-full cursor-pointer overflow-hidden border border-[var(--user-contrast)] bg-[var(--user-color,white)] p-2 text-xs text-[var(--user-contrast)]">
          <div
            class="event-summary flex w-full flex-row flex-nowrap gap-1 overflow-hidden whitespace-nowrap">
            <span class="text-opacity-25">
              {{ event.startTime | toDate | date: 'HH:mm' }} -
            </span>
            <span class="overflow-hidden text-ellipsis font-semibold">
              {{ event.summary }}
            </span>
            <span class="flex-grow"></span>
            <span class="text-opacity-25">
              {{ event.duration | duration }}
            </span>
          </div>
          <div
            class="event-description mt-1.5 hidden w-full overflow-hidden border-t border-dashed border-white border-opacity-50 pt-1.5">
            {{ event.description }}
          </div>
        </div>
      </div>
    } @else {
      <div
        class="h-full w-full cursor-default bg-sky-600 bg-opacity-20 shadow-inner"></div>
    }
  </ng-template>
</tkd-day-view>
