<div class="m-4 sm:m-0">
  @if (currentOverwrite) {
    <div>
      <div class="flex flex-row items-start">
        <div class="w-14">
          @if ((currentOverwrite.target.case === 'userId')) {
            <nz-avatar nzIcon="user" nzShape="circle" [nzSize]="56" class="tkd-avatar"
            [nzSrc]="(currentOverwrite.target.value | toUser)?.user.avatar || null"></nz-avatar>
          }
        </div>
        <div class="flex flex-col justify-start flex-grow ml-4">
          <span class="font-semibold text-gray-800">
            {{
            currentOverwrite.target.case === 'userId'
            ? (currentOverwrite.target.value | toUser | displayName)
            : (currentOverwrite.target.value.displayName)
            }}
          </span>
          <span class="text-gray-500">
            Telefon ist bis <span class="text-gray-700">{{ currentOverwrite.to.toDate() | date:'medium' }}</span> umgeleitet und folgt
            nicht dem aktuellen Dienstplan!
          </span>
          <span class="text-gray-500">
            Klicke rechts auf Löschen um die Umleitung zu entfernen.
            <!--
            FIXME
            <span  class="text-red-700">
              Achtung, es existiert <a class="underline text-red-700" routerLink="/roster">kein Dienstplan für
            heute!</a></span>
            -->
          </span>
        </div>
        <div class="self-center">
          <button (click)="deleteCurrentOverwrite()" class="tkd-icon-btn tkd-danger">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  } @else {
    @if (currentRoster?.userIds) {
      <div class="flex flex-row items-start">
        <nz-avatar nzIcon="user" nzShape="circle" [nzSize]="56" class="rounded-full shadow"
        [nzSrc]="(currentRoster.userIds[0] | toUser)?.user.avatar"></nz-avatar>
        <div class="flex flex-col justify-start flex-grow ml-4">
          <span class="font-semibold text-gray-800">{{ currentRoster.userIds[0] | toUser | displayName }}</span>
          <span class="text-gray-500">
            Anrufe werden
            <a routerLink="/roster" class="underline text-gray-700">laut Dienstplan</a>
            zugestellt.
          </span>
        </div>
      </div>
    } @else {
      <div class="flex flex-row items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="p-2 text-white rounded-full shadow w-14 h-14 bg-red-700"
          fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>
        <span class="ml-4 font-semibold text-red-700">
          Es ist momentan
          <a class="underline" routerLink="/roster">kein Dienstplan</a> und
          keine Umleitung eingestellt,
          <br />
          Anrufe <u>außerhalb der Öffnungszeiten</u> können derzeit nicht
          zugestellt werden!
        </span>
      </div>
    }
  }

</div>

<div class="mb-12 tkd-card">
  <header>
    <h1>Telefon umleiten</h1>
    <span>Hier kannst du den bestehenden
      <a class="text-gray-700 hover:underline" routerLink="/roster">Dienstplan</a>
    überschreiben bzw das Notruf-Telefon umleiten.</span>
  </header>

  <div class="p-12 space-y-8">
    <section class="space-y-4">
      <div>
        <h2 class="text-lg font-semibold text-gray-800 ">
          1. Wähle den Zeitraum
        </h2>
        <span class="text-sm text-gray-500">In welchem Zeitraum möchstest du den Dienstplan überschreiben und das
        Notruf-Telefon umleiten?</span>
      </div>

      <div class="flex flex-col justify-between space-y-2 sm:flex-row sm:space-y-0">
        <div class="block w-full mr-1 sm:w-56">
          <nz-select [(ngModel)]="overwriteTarget" (ngModelChange)="onTargetChange($event)"  class="w-full"
            nzPlaceHolder="Bitte auswählen">
            @for (shift of availableShifts; track trackPlannedShift($index, shift)) {
              <nz-option [nzValue]="shift.definition.id" [nzLabel]="shift.definition.name + ' (' + (shift.from.toDate()|date:'shortTime') + ' - ' + (shift.to.toDate()|date:'shortTime') + ')'"></nz-option>
            }
            <nz-option nzValue="custom" nzLabel="Beliebig"></nz-option>
          </nz-select>
        </div>

        <div class="items-center flex-grow space-y-2">
          <!-- Custom Overwrite Date/Time Range -->

          @if (overwriteTarget === 'custom') {
            <div class="flex">
              <div class="w-10 mt-1 text-center">Von</div>
              <div class="flex flex-col flex-grow md:flex-row">
                <nz-date-picker class="w-full md:w-auto" name="from" [(ngModel)]="customFrom" (ngModelChange)="onDateChange()"
                [nzDisabledDate]="disabledStartDate" [nzAllowClear]="false"></nz-date-picker>
                <nz-time-picker class="w-full md:w-auto" nzFormat="HH:mm" [(ngModel)]="customFrom" nzS
                  (ngModelChange)="onDateChange()" [nzMinuteStep]="15"
                [nzAllowEmpty]="false"></nz-time-picker>
              </div>
            </div>
            <div class="flex">
              <div class="w-10 mt-1 text-center">Bis</div>
              <div class="flex flex-col flex-grow md:flex-row">
                <nz-date-picker class="w-full md:w-auto" name="to" [(ngModel)]="customTo" (ngModelChange)="onDateChange()"
                [nzDisabledDate]="disabledEndDate" [nzAllowClear]="false"></nz-date-picker>
                <nz-time-picker class="w-full md:w-auto" nzFormat="HH:mm" [(ngModel)]="customTo"
                  (ngModelChange)="onDateChange()" [nzMinuteStep]="15"
                [nzAllowEmpty]="false"></nz-time-picker>
              </div>
            </div>
          } @else {
            <div class="flex">
              <span class="w-10 mt-1 text-center">vom</span>
              <nz-date-picker class="flex-grow md:flex-grow-0" [(ngModel)]="customFrom" (ngModelChange)="onDateChange()"
              [nzDisabledDate]="isBeforeRosterDate" [nzAllowClear]="false"></nz-date-picker>
              <svg xmlns="http://www.w3.org/2000/svg" class="mt-1.5 ml-1.5 w-5 h-5 text-slate-200"
                viewBox="0 0 20 20" fill="currentColor" [nz-tooltip]="tooltipTemplate">
                <path fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <ng-template #tooltipTemplate>
              Von {{actualBoundary?.from | date:'medium'}} <br />
              Bis {{actualBoundary?.to | date:'medium'}}
            </ng-template>
          }

          <!-- Quick Select Day/Night shift -->
        </div>
      </div>

      <!-- User avatars for day/night on-duty on the selected date -->
      @if (availableShifts?.length) {
        <div
          class="flex flex-col space-y-2 sm:space-x-2 sm:space-y-0 sm:flex-row sm:items-center">
          <span class="text-gray-800">Im Dienst laut Plan:</span>
          @for (shift of availableShifts; track shift) {
            <nz-avatar-group class="current-state">
              @for (user of shift.assignedUserIds; track user) {
                <nz-avatar [nz-tooltip]="(user | toUser | displayName) + ' - ' + shift.definition.name" nzIcon="user" nzShape="circle"
                [nzSrc]="(user|toUser)?.user.avatar"></nz-avatar>
              }
            </nz-avatar-group>
          }
        </div>
      }

      <!-- List of overlapping overwrites -->
      @if (overlapping?.length && !firstLoad) {
        <div
          class="p-4 text-white border rounded shadow bg-red-700 border-red-700" [@scaleInOut]>
          <div class="mb-2">
            <h2 class="text-base text-white underline">
              Überlappende Einträge gefunden
            </h2>
            <span class="text-sm">
              In den angegebenen Zeitraum existiert bereits eine oder mehrere
              Umleitungen. Es ist daher nicht möglich eine neue Umleitung von {{
              actualBoundary?.from | date:'short' }} bis {{ actualBoundary?.to | date:'short' }}
              zu erstellen. Bitte überprüfe den Zeitraum oder lösche notfalls die
              bestehenden Umleitungen:
            </span>
          </div>
          <ul class="mx-4">
            @for (ov of overlapping; track ov) {
              <li
                class="flex flex-col-reverse items-start p-2 space-x-4 border-b border-white border-opacity-20 md:items-center md:flex-row">
                <div class="flex-col items-center justify-around hidden md:flex">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd" />
                  </svg>
                </div>
                <div class="flex flex-row text-xs justify-evenly md:flex-col">
                  <span>{{ ov.from.toDate() | date:"short" }}</span>
                  <span class="inline-block mx-2 md:hidden">bis</span>
                  <span>{{ ov.to.toDate() | date:"short" }}</span>
                </div>
                <div class="relative flex flex-row items-center self-stretch flex-grow space-x-2">
                  @if (ov.target.case === 'userId') {
                    <nz-avatar nzIcon="user" nzShape="circle" [nzSrc]="(ov.target.value | toUser)?.user.avatar"></nz-avatar>
                    <div>{{ ov.target.value | toUser | displayName }}</div>
                  } @else {
                    @if (ov.target.case === 'custom') {
                      <span>{{ ov.target.value.displayName || ov.target.value.transferTarget }}</span>
                      <span>{{ ov.target.value.transferTarget }}</span>
                    }
                  }
                  <button class="absolute inline-block right-2 md:hidden tkd-icon-btn-inverse tkd-danger no-shadow"
                    (click)="deleteOverwrite(ov)">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                  </button>
                </div>
                <button class="hidden mr-4 md:inline-block tkd-icon-btn-inverse tkd-danger no-shadow"
                  (click)="deleteOverwrite(ov)">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                  </svg>
                </button>
              </li>
            }
          </ul>
        </div>
      }
    </section>

    <section [class.ready]="!!selectedUser || !!selectedQuickTargetNumber || !!customPhoneNumber" class="space-y-4">
      <div>
        <h2 class="text-lg font-semibold text-gray-800 ">
          2. Wähle das neue Ziel
        </h2>
        <span class="text-sm text-gray-500">Wähle die Person beziehungsweise das Umleitungsziel für den
        angegebenen Zeitraum.</span>
      </div>

      <div class="user-list">
        @for (setting of quickSettings; track trackQuickSetting($index, setting)) {
          <div class="quick-setting"
            [class.selected]="setting.TargetNumber === selectedQuickTargetNumber" (click)="selectQuickSetting(setting)">
            <nz-avatar nzIcon="number" nzShape="circle"></nz-avatar>
            <div>
              <span class="name">{{ setting.DisplayName }}</span>
              <span class="number">{{ setting.TargetNumber }}</span>
            </div>
          </div>
        }
      </div>
      <div class="user-list">
        @for (user of (showAllUsers || overwriteTarget === 'custom' ? allUsers : preferredUsers); track trackProfile($index, user)) {
          <div class="user"
            (click)="selectUser(user.user.id)" [class.selected]="user.user.id === selectedUser">
            <nz-avatar nzIcon="user" nzShape="circle" [nzSrc]="user.user.avatar"></nz-avatar>
            <span>{{ user | displayName }}</span>
          </div>
        }
      </div>
      @if (allUsers.length > preferredUsers.length) {
        <label nz-checkbox [(ngModel)]="showAllUsers">Alle
        anzeigen</label>
      }
      @if (allowPhone) {
        <div class="user-list">
          <nz-input-group nzAddOnBefore="oder Telefonnummer">
            <input type="text" nz-input placeholder="+43 1234 1234" [(ngModel)]="customPhoneNumber"
              (ngModelChange)="onCustomPhoneNumberChange()" />
          </nz-input-group>
        </div>
      }
    </section>

    <div class="actions">
      <button hlmBtn (click)="createOverwrite()" [disabled]="!valid">
        Umleiten
      </button>
    </div>
  </div>
</div>

<!-- Dialogs and modals -->
<ng-template #confirmDeleteCurrentOverwrite>
  Möchtest du die Umleitung für {{ currentOverwrite.target.case === 'userId' ? (currentOverwrite.target.value | toUser | displayName) : (currentOverwrite.target.value.displayName || currentOverwrite.target.value.transferTarget) }} wirklich löschen?
  <br />
  @if (currentRoster?.userIds?.length) {
    Anrufe werden dann laut Dienstplan an
    <span class="underline text-gray-700">{{ currentRoster.userIds[0] | toUser | displayName }}</span>
    weitergeleitet.
  } @else {
    <span class="text-red-700">Es ist kein Dienstplan für heute konfiguriert, wenn die Umleitung
      gelöscht wird <u>können Anrufe nicht zugestellt werden!</u></span>
    }
  </ng-template>
