<h1 class="text-lg font-lato">
    {{ isEdit ? 'Schicht bearbeiten' : 'Schicht erstellen' }}
</h1>

<form>
    <div class="flex flex-col gap-4 py-4">
        <div class="flex flex-col">
            <span class="text-primary">Name & Farbe:</span>
            <div class="flex flex-row gap-2">
                <input name="name" [(ngModel)]="workshift.name" type="text" placeholder="Name der Schicht"
                    class="tkd-input">
            <span class="block w-7 h-7 rounded shadow" [ngStyle]="{backgroundColor: workshift.color}"
                cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="isColorSelectorOpen = true"></span>

            <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
                [cdkConnectedOverlayOpen]="isColorSelectorOpen">
                    <color-twitter name="color" triangle="hide" [(ngModel)]="workshift.color"
                        (ngModelChange)="isColorSelectorOpen = false"></color-twitter>
            </ng-template>
            </div>
        </div>

        <div class="flex flex-col">
            <span class="text-primary">Identifizierung:</span>
            <input name="shortName" [(ngModel)]="workshift.shortName" type="text" class="tkd-input">
        </div>

        <div class="flex flex-col">
            <span class="text-primary">Beschreibung:</span>
            <input name="description" [(ngModel)]="workshift.description" type="text" placeholder="Optional" class="tkd-input">
        </div>

        <div class="flex flex-col">
            <span class="text-primary">Von:</span>
            <input name="from" [(ngModel)]="workshift.from" type="text" placeholder="08:30" class="tkd-input">
        </div>

        <div class="flex flex-col">
            <span class="text-primary">Dauer: <span class="text-tertiary">(bis {{
                    workshift.from|workShiftEnd:workshift.duration}})</span></span>
            <input name="duration" [ngModel]="duration" (ngModelChange)="setDuration($event)" type="text"
                placeholder="1h 30m" class="tkd-input">
            <span class="text-sm cursor-pointer text-color-secondary hover:text-color-secondary-dark"
                (click)="showMinutesWorth = true" *ngIf="!showMinutesWorth">Anderen Zeitwert festlegen</span>
        </div>

        <div class="flex flex-col" *ngIf="showMinutesWorth">
            <span class="text-primary">Zeitwert:</span>
            <input name="minutesWorth" [ngModel]="minutesWorth" (ngModelChange)="setMinutesWorth($event)" type="text"
                placeholder="1h 30m" class="tkd-input">
        </div>

        <div class="flex flex-col">
            <span class="text-primary">Wochentage</span>
            <nz-select name="days" [nzMode]="'multiple'" [(ngModel)]="workshift.days">
                <nz-option nzLabel="Montag" [nzValue]="Weekdays.Monday"></nz-option>
                <nz-option nzLabel="Dienstag" [nzValue]="Weekdays.Tuesday"></nz-option>
                <nz-option nzLabel="Mittwoch" [nzValue]="Weekdays.Wednesday"></nz-option>
                <nz-option nzLabel="Donnerstag" [nzValue]="Weekdays.Thursday"></nz-option>
                <nz-option nzLabel="Freitag" [nzValue]="Weekdays.Friday"></nz-option>
                <nz-option nzLabel="Samstag" [nzValue]="Weekdays.Saturday"></nz-option>
                <nz-option nzLabel="Sonntag" [nzValue]="Weekdays.Sunday"></nz-option>
            </nz-select>
            <label nz-checkbox [(ngModel)]="workshift.onHoliday" name="onHoliday">Wenn Feiertag</label>
        </div>

        <div class="flex flex-col">
            <span class="text-primary">Erlaubte Benutzer:</span>
            <nz-select name="eligibleRoles" [nzMode]="'tags'" [(ngModel)]="workshift.eligibleRoles">
                <nz-option *ngFor="let role of roles" [nzLabel]="role.name" [nzValue]="role.name"></nz-option>
            </nz-select>
        </div>

        <div class="flex flex-col">
            <span class="text-primary">Anzahl an benötigten Mitarbeitern:</span>
            <input name="requiredStaffCount" [(ngModel)]="workshift.requiredStaffCount" type="number" placeholder="1"
                class="tkd-input">
        </div>

        <div class="flex flex-col">
          <span class="text-primary">Tags</span>
          <nz-select name="tags" nzMode="tags" [(ngModel)]="workshift.tags"></nz-select>
        </div>
    </div>
</form>

<div class="flex flex-row gap-3 justify-end items-center">
    <ng-container *ngIf="isEdit">
        <button (click)="deleteShift()" class="tkd-btn tkd-danger tkd-outline">Löschen</button>
        <div class="flex-grow"></div>
    </ng-container>
    <button (click)="abort()" class="tkd-btn tkd-secondary tkd-outline">Abbrechen</button>
    <button (click)="save()" class="tkd-btn tkd-primary">Speichern</button>
</div>
