nz-tag {
  text-transform: uppercase;
  font-size     : 80%;
}

nz-empty {
  margin-top: 96px;
}

.expert-results {
  margin-top     : 12px;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  opacity        : 0.5;
}

