@import 'src/utils';

:host {
  display: block;
  height: 100%;
  @include page-host;
}

.search {
  flex-grow: 0;
}

cdk-virtual-scroll-viewport {
  flex-grow: 1;
}

nz-empty {
  margin-top: 96px;
}

.expert-results {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.5;
}

a.phonenumber {
  color: rgba(0, 0, 0, 0.45);
  margin-left: 4px;
}