<div class="flex flex-col flex-grow bg-white rounded shadow">
  <div class="flex flex-col p-4 space-y-2 border-b border-tertiary">
    <div class="flex space-x-2">
      <input type="text" class="flex-grow tkd-input" placeholder="Nach Nachnamen suchen ..." [(ngModel)]="searchText" *ngIf="!useAdvancedSearch"
        (ngModelChange)="search($event)" />

      <textarea *ngIf="useAdvancedSearch" class="flex-grow tkd-input" placeholder="Expertenmodus"
        [nzAutosize]="{ minRows: 3, maxRows: 5 }" [(ngModel)]="searchText" (ngModelChange)="search($event)"></textarea>

      <nz-select class="inline-block w-28" [(ngModel)]="visibleTag" (ngModelChange)="updateTagVisibility()">
        <nz-option nzValue="all" nzLabel="Alle"></nz-option>
        <nz-option *ngFor="let tag of sourceTags" [nzValue]="tag" [nzLabel]="tag"></nz-option>
      </nz-select>

      <button class="tkd-btn tkd-primary" (click)="search(searchText)">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
            clip-rule="evenodd" />
        </svg>
        <span>Suchen</span>
      </button>
    </div>
    <div class="flex space-x-2">
      <div class="flex items-center space-x-2 text-secondary">
        <nz-switch nzSize="small" [(ngModel)]="useAdvancedSearch"></nz-switch>
        <span class="text-sm font-lato">Expertenmodus</span>
      </div>
    </div>
  </div>

  <cdk-virtual-scroll-viewport itemSize="73" class="flex-grow">
    <nz-list-empty *ngIf="!customers?.length" [nzNoResult]="emptyTemplate"></nz-list-empty>
    <ng-template #emptyTemplate>
      <nz-empty></nz-empty>
      <nz-spin *ngIf="searching" nzSimple></nz-spin>
    </ng-template>

    <nz-list nzSize="small" class="p-4">
      <nz-list-item *cdkVirtualFor="let customer of customers; trackBy: trackBy"
        [routerLink]="['view', customer.source, customer.cid]">
        <nz-list-item-meta>
          <nz-list-item-meta-title>
            <a>{{ customer.name }} {{ customer.firstname }} </a>
          </nz-list-item-meta-title>
          <nz-list-item-meta-description>
            <i nz-icon nzType="environment" nzTheme="outline"></i>
            {{ customer.cityCode }}&nbsp;{{ customer.city }} - {{ customer.street }} |
            <a class="phonenumber" *ngIf="!!(customer.phoneNumbers || [])[0]"
              [attr.href]="'tel:' + (customer.phoneNumbers || [])[0]">
              <i nz-icon nzType="phone" nzTheme="outline" [nzRotate]="95"></i>
              {{(customer.distinctPhoneNumbers || [])[0]}}
            </a>

            <nz-tag [nzColor]="customer.tagColor">{{ customer.source }}</nz-tag>
          </nz-list-item-meta-description>
        </nz-list-item-meta>
      </nz-list-item>
    </nz-list>
  </cdk-virtual-scroll-viewport>
</div>
