@import 'src/utils';

:host {
  display: block;
  height : 100%;
  @include page-host;

  padding: 0;
}


.search {
  flex-grow: 0;
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

cdk-virtual-scroll-viewport {
  max-width: 1280px;
  flex-grow: 1;
  box-shadow      : 1px 1px 6px -2px rgba(0, 33, 65, 0.1);
}

nz-empty {
  margin-top: 96px;
}

.expert-results {
  margin-top     : 12px;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  opacity        : 0.5;
}

a.phonenumber {
  color      : rgba(0, 0, 0, 0.45);
  margin-left: 4px;
}
