@tailwind base;
@tailwind utilities;
@tailwind variants;
@tailwind components;

@import "~@tierklinik-dobersberg/tailwind/theme.css";
@import '@angular/cdk/overlay-prebuilt.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "./csslib/index";

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");
}


/* You can add global styles to this file, and also import other style files */
html,
body {
  -webkit-font-smoothing: antialiased;
  background-color: #50566310;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-size: 15px;
  @apply font-normal;
}

.ck.ck-content {
  @apply prose;

  max-width: unset;
  font-size: inherit;
}


@import "ckeditor5/ckeditor5.css";


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}