@import './utils';

/* You can add global styles to this file, and also import other style files */
html,
body {
  -webkit-font-smoothing: antialiased;
  background-color      : #50566310;
}

.ant-avatar {
  img {
    width : 100%;
    height: auto;
  }
}

.ant-picker-cell-inner {
  padding: 0 !important;
}

.ant-drawer-body {
  padding       : 0px;
  padding-top   : 12px;
  padding-bottom: 12px;
  padding-left  : 24px;
  padding-right : 24px;
}

.menu-container {
  .ant-drawer-body {
    padding: 0;
  }
}

.content-section {
  box-shadow      : 1px 1px 6px -2px rgba(0, 33, 65, 0.1);
  background-color: white;
  flex-grow       : 1;

  padding: 24px;

  @include for-phone-only {
    padding: 12px;
  }

  &:not(:last-child) {
    margin-bottom: 24px;

    @include for-phone-only {
      margin-bottom: 12px;
    }
  }

  border-radius: 1px;
}

.ant-picker-body {
  th[role="columnheader"] {
    text-align: center;
  }
}

.hide-on-phone {
  @include for-phone-only() {
    display: none;
  }
}

.page-header {
  background    : white;
  display       : flex;
  flex-direction: column;
  align-items   : stretch;
  margin-bottom : 24px;
  box-shadow    : 0 1px 4px rgba(0, 21, 41, 0.08);

  h2 {
    margin     : 0px;
    font-weight: 400;
    font-size  : 120%;
    font-family: Poppins;
  }

  fieldset {
    > * {
      font-weight: 400;
      font-size  : 120%;
      font-family: Poppins;
    }
    legend {
      font-family: Lato, sans-serif;
      margin: 0;
      margin-left: -3px;
      margin-bottom: -3px;
      padding-left: 3px;
      padding-right: 3px;
      display: inline;
      font-size: 75%;
      color: gray;
      text-transform: uppercase;
      width: auto;
    }
    i[nz-icon] {
      color: #40617c;
      font-size: 90%;
    }

    position: relative;
    padding-left: 12px;
    padding-right: 12px;
    border: thin solid #cccccc81;
    border-radius: 3px;
  }

  .info {
    display       : flex;
    flex-direction: column;

    padding: {
      left : 12px;
      right: 12px;
    }

    label:first-child {
      font-family: Lato, sans-serif;
      text-transform: uppercase;
      color         : #40617c;
      font-size     : 80%;
    }

    *:not(:first-child) {
      font-weight: bold;
      display    : block;
      color         : rgb(64, 97, 124);
    }
  }

  .label {
    display    : flex;
    align-items: center;
    flex-wrap  : nowrap;
    font-size  : 90%;

    i[nz-icon] {
      margin-right: 3px;
    }

    padding: {
      left : 6px;
      right: 6px;
    }


    &:not(:first-child) {
      margin-left: 6px;
    }

    &:not(:last-child) {
      margin-right: 6px;
    }

  }

  .main-row,
  .secondary-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .row-container {
    display: flex;
    padding: 12px;
    width: 100%;
    max-width: 1280px;
    @include for-phone-only() {
      flex-wrap: wrap;
    }
  }

  .secondary-row {
    background-color: #f9f9f9;

    &:first-of-type {
      padding-top: 12px;
    }

    &:last-of-type {
      border-bottom : 1px solid #cccccc81;
      padding-bottom: 12px;
    }
  }

  .secondary-row .row-container {
    padding-top     : 6px;
    padding-bottom  : 6px;

    & > span {
      text-transform: uppercase;
      color         : rgb(64, 97, 124);
    }
  }
}
