<!-- Header Row -->
<div class="flex flex-row items-center space-x-4">
  <div class="block h-12 w-12 rounded-full bg-white p-2.5 text-sky-800 shadow">
    @if (!!schema?.svgData) {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        [innerHTML]="domSanitizer.bypassSecurityTrustHtml(schema.svgData)"
        stroke="currentColor"></svg>
    }
  </div>

  <div class="flex flex-col">
    <span class="text-base font-semibold text-gray-800">
      {{ schema?.displayName || schema?.name }}
    </span>
    @if (!!schema?.description) {
      <span class="text-gray-500">
        {{ schema?.description }}
      </span>
    }
  </div>

  <div class="flex-grow"></div>

  <div class="flex flex-row space-x-3">
    @if (singleMode) {
      @if (schema.tests?.length > 0) {
        <button hlmBtn (click)="testSetting()">Testt</button>
      }
      <button
        hlmBtn
        (click)="saveSetting()"
        [disabled]="!singleValueModel?.dirty">
        Save
      </button>
      <button hlmBtn variant="destructive" (click)="deleteSetting()">
        Delete
      </button>
    }

    @if (!singleMode) {
      <button hlmBtn [routerLink]="['new']">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
        </svg>
      </button>
    }
  </div>
</div>

@if (!!schema) {
  @if (!singleMode) {
    <hlm-table class="rounded bg-white shadow">
      <hlm-trow>
        @for (spec of tableKeys; track spec) {
          <hlm-th class="flex-[1_1_10%]">
            {{ spec.name }}
          </hlm-th>
        }
        <hlm-th class="w-32"></hlm-th>
      </hlm-trow>

      @for (data of configs | keyvalue; track trackByKey($index, data)) {
        <hlm-trow>
          @for (spec of tableKeys; track spec) {
            <hlm-td class="flex-[1_1_10%]">
              @if (data.value[spec.name] !== undefined) {
                <span>
                  {{ data.value[spec.name] }}
                </span>
              } @else {
                <span class="text-xs text-gray-400">N/A</span>
              }
            </hlm-td>
          }
          <hlm-td class="flex items-center justify-end space-x-2">
            <button
              class="tkd-icon-btn tkd-small tkd-primary no-shadow"
              [routerLink]="[data.key]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
              </svg>
            </button>
            <button
              class="tkd-icon-btn tkd-danger tkd-small no-shadow"
              (click)="deleteSetting(data.key)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
            </button>
          </hlm-td>
        </hlm-trow>
      }
    </hlm-table>
  } @else {
    <app-setting-editor
      [schema]="schema"
      [(ngModel)]="configs"
      #singleValueModel="ngModel"
      showIndex="false"
      [showHeader]="false"></app-setting-editor>
  }
}
