<!-- Header Row -->
<div class="flex flex-row items-center space-x-4">
  <div class="block h-12 w-12 rounded-full bg-white p-2.5 text-sky-800 shadow">
    @if (!!schema?.svgData) {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        [innerHTML]="domSanitizer.bypassSecurityTrustHtml(schema.svgData)"
        stroke="currentColor"></svg>
    }
  </div>

  <div class="flex flex-col">
    <span class="text-base font-semibold text-gray-800">
      {{ schema?.displayName || schema?.name }}
    </span>
    @if (!!schema?.description) {
      <span class="text-gray-500">
        {{ schema?.description }}
      </span>
    }
  </div>

  <div class="flex-grow"></div>

  <div class="flex flex-row space-x-3">
    @if (singleMode) {
      @if (schema.tests?.length > 0) {
        <button hlmBtn (click)="testSetting()">Test</button>
      }
      <button
        hlmBtn
        (click)="saveSetting()"
        [disabled]="!singleValueModel?.dirty">
        Save
      </button>
      <button hlmBtn variant="destructive" (click)="deleteSetting()">
        Delete
      </button>
    }

    @if (!singleMode) {
      <button hlmBtn size="icon" [routerLink]="['new']">
        <hlm-icon name="lucidePlus" />
      </button>
    }
  </div>
</div>

@if (!!schema) {
  @if (!singleMode) {
    <hlm-table class="rounded bg-white shadow">
      <hlm-trow>
        @for (spec of tableKeys; track spec) {
          <hlm-th class="flex-[1_1_10%]">
            {{ spec.name }}
          </hlm-th>
        }
        <hlm-th class="w-32"></hlm-th>
      </hlm-trow>

      @for (data of configs | keyvalue; track trackByKey($index, data)) {
        <hlm-trow>
          @for (spec of tableKeys; track spec) {
            <hlm-td class="flex-[1_1_10%]">
              @if (data.value[spec.name] !== undefined) {
                <span>
                  {{ data.value[spec.name] }}
                </span>
              } @else {
                <span class="text-xs text-gray-400">N/A</span>
              }
            </hlm-td>
          }
          <hlm-td class="flex items-center justify-end space-x-2">
            <button
              hlmBtn
              size="icon"
              [routerLink]="[data.key]"
              variant="ghost">
              <hlm-icon name="lucidePencil" size="sm" />
            </button>
            <button
              hlmBtn
              size="icon"
              (click)="deleteSetting(data.key)"
              variant="ghost">
              <hlm-icon name="lucideTrash" size="sm" />
            </button>
          </hlm-td>
        </hlm-trow>
      }
    </hlm-table>
  } @else {
    <app-setting-editor
      [schema]="schema"
      [(ngModel)]="configs"
      #singleValueModel="ngModel"
      showIndex="false"
      [showHeader]="false"></app-setting-editor>
  }
}
