<nz-card>
  <nz-card-meta nzTitle="Aktionen"></nz-card-meta>
  <div class="card-content">
    <ul>
      <li *ngFor="let action of actions; trackBy: trackAction">
        <label>
          {{ action.Name }}
        </label>
        <button *ngIf="action?.canExecute" class="w-32 tkd-btn tkd-outline tkd-primary"
          (click)="executeAction(action)" [disabled]="action?.trigger?.pending || action?.running">

          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 animate-spin" fill="none" viewBox="0 0 24 24" stroke="currentColor" *ngIf="action?.running; else: text">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
          </svg>
          <ng-template #text>
            <span>
              {{
              action?.trigger?.pending
              ? action.PendingText
              : action.ActionText
              }}
            </span>
          </ng-template>
        </button>
      </li>
    </ul>
  </div>
</nz-card>
