@import 'src/utils';

.card-container {
  position     : relative;
  margin-top   : 12px;
  margin-bottom: 12px;
}

.card {
  position     : absolute;
  right        : 10px;
  left         : 0px;
  border       : 1px solid lightgray;
  padding      : 24px;
  border-radius: 4px;
  background   : white;
  box-shadow   : 1px 1px 1px rgba(0, 0, 0, .1);

  h4 {
    color         : #1890ff;
    text-transform: uppercase;
    font-weight   : 400;
  }

  &.idx-0 {
    transform       : rotate(1.2deg);
    top             : 0px;
    bottom          : 0px;
    background-color: rgba(0, 0, 0, .01);
  }

  &.idx-1 {
    background-color: rgba(0, 0, 0, .05);
    transform       : rotate(-1.2deg);
    left            : 1px;
    right           : 9px;
    top             : 0px;
    bottom          : 0px;
  }

  &.idx-2 {
    left    : 2px;
    right   : 8px;
    position: relative;
  }
}

.customer-container {
  width         : 100%;
  display       : flex;
  flex-direction: row;
  flex-wrap     : wrap;

  display              : grid;
  grid-gap             : 6px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  .customer-wrapper {
    position     : relative;
    border       : 1px solid rgba(24, 144, 255, .75);
    box-shadow   : 1px 1px 2px rgba(0, 0, 0, .2);
    border-radius: 4px;
    font-weight  : 400;
    font-family  : "Lato";
    cursor       : pointer;
    user-select  : none;

    .primary {
      padding         : 6px;
      color           : white;
      background-color: rgba(24, 144, 255, .75);
      text-align      : center;
      font-weight     : bold;
      text-transform  : uppercase;
      font-size       : 80%;
    }

    .delete {
      position: absolute;
      top     : 12px;
      right   : 12px;
      color   : red;
      cursor  : pointer;

      &:hover {
        opacity: .85;
      }
    }

    .customer {
      display       : flex;
      flex-direction: column;
      padding       : 12px;

      label {
        text-transform: uppercase;
        font-size     : 80%;
      }

      .reason {
        font-weight: 600;
      }

      .name {
        display        : inline-block;
        margin-bottom  : 12px;
        margin-right   : 12px;
        font-size      : 110%;
        font-weight    : 400;
        text-decoration: underline;
      }

      nz-tag {
        text-transform: uppercase;
        display       : inline-block;
        margin-left   : 12px;
      }
    }
  }
}

h4.empty {
  color      : #1890ff;
  font-weight: 400;
  font-family: "Lato";
  font-size  : 130%;
}

span.empty {
  font-weight: 300;
}

.actions {
  margin-top     : 24px;
  display        : flex;
  justify-content: flex-end;
}
