li {
  display        : flex;
  align-items    : center;
  justify-content: flex-start;
  i {
    @apply rounded p-1.5 mr-1.5 block border border-subtle;
  }

  span {
    @apply text-color-primary-dark font-lato leading-3;
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;

    i {
      opacity: 1;
    }

    span {
      text-decoration: underline;
    }
  }
}

nz-badge {
  margin-left: 6px;
  font-size  : 90%;
}
