ul {
  @apply grid grid-cols-2 sm:grid-cols-4 gap-4;
}

li {
  @apply flex flex-col items-center justify-around bg-sky-900 hover:bg-sky-900 rounded shadow text-white p-4 text-center active:bg-sky-900 focus:bg-sky-900;

  svg {
    @apply h-10 w-10;
    stroke-width: 1;
  }
}

nz-badge {
  margin-left: 6px;
  font-size  : 90%;
}
