<hlm-dialog-header>
  <h3 hlmDialogTitle>
    DICOM Studie vom {{ study.time | toDate | date: 'short' }}
  </h3>
  <p hlmDialogDescription class="flex flex-row gap-2">
    <span>Besitzer: </span>
    <span class="font-medium">{{ study.ownerName || 'N/A' }}</span>
    <span>Patient: </span>
    <span class="font-medium">{{ study.patientName || 'N/A' }}</span>
  </p>
</hlm-dialog-header>

<div
  class="flex flex-row items-start justify-start w-full h-full max-h-full gap-4 p-4 overflow-hidden">
  <div
    class="flex flex-col flex-grow-0 flex-shrink-0 w-32 h-full gap-2 p-2 overflow-auto border-r border-border">
    @for (series of study.series; track series.seriesUid) {
      @for (instance of series.instances; track instance.instanceUid) {
        <img
          (click)="selectedInstance.set(instance)"
          [attr.src]="instance | dicomImageUrl: { width: 100, height: 100 }"
          [class.outline]="selectedInstance() === instance"
          class="aspect-auto h-auto w-[100px] flex-shrink-0 flex-grow-0 cursor-pointer hover:outline" />
      }
    }
  </div>

  <hlm-tabs
    tab="viewer"
    class="flex h-full min-h-[500px] w-full flex-grow flex-col gap-2">
    <hlm-tabs-list class="grid w-full grid-cols-2">
      <button hlmTabsTrigger="viewer">Viewer</button>
      <button hlmTabsTrigger="tags">Tag List</button>
    </hlm-tabs-list>

    <div
      hlmTabsContent="viewer"
      class="flex-grow w-full h-full p-2 overflow-auto bg-slate-700">
      <dicom-viewer [study]="study" [instance]="selectedInstance()" />
    </div>

    <div hlmTabsContent="tags" class="flex-grow w-full overflow-auto">
      @if (selectedInstance(); as instance) {
        <hlm-table>
          @for (tag of instance.tags | sortDicomTags; track tag.tag) {
            <hlm-trow>
              <hlm-td class="w-48">
                {{ tag.name }}
              </hlm-td>
              <hlm-td class="w-32">
                {{ tag.tag }}
              </hlm-td>
              <hlm-td class="flex-1 break-all">
                @for (value of tag.value; track value) {
                  {{ value.toJson() }}
                }
              </hlm-td>
            </hlm-trow>
          }
        </hlm-table>
      } @else {
        <span class="flex flex-row items-center justify-center h-32">
          Kein Bild ausgewählt
        </span>
      }
    </div>
  </hlm-tabs>
</div>
