<hlm-dialog-header>
  <h3 hlmDialogTitle>
    DICOM Studie vom {{ study.time | toDate | date: 'short' }}
  </h3>
  <p hlmDialogDescription class="flex flex-row gap-2">
    <span>Besitzer: </span>
    <span class="font-medium">{{ study.ownerName || 'N/A' }}</span>
    <span>Patient: </span>
    <span class="font-medium">{{ study.patientName || 'N/A' }}</span>
  </p>
</hlm-dialog-header>

<div
  class="flex h-full max-h-full w-full flex-col-reverse items-start justify-start gap-4 overflow-hidden p-4 md:flex-row">
  <div
    class="flex h-auto w-full flex-shrink-0 flex-grow-0 flex-col gap-2 overflow-auto border-r border-border p-2 md:h-full md:w-32">
    @for (series of study.series; track series.seriesUid) {
      @for (instance of series.instances; track instance.instanceUid) {
        <img
          (click)="selectedInstance.set(instance)"
          [attr.src]="instance | dicomImageUrl: { width: 100, height: 100 }"
          [class.outline]="selectedInstance() === instance"
          class="aspect-auto h-auto w-[100px] flex-shrink-0 flex-grow-0 cursor-pointer hover:outline" />
      }
    }
  </div>

  <hlm-tabs
    tab="viewer"
    class="flex min-h-[500px] w-full flex-grow flex-col gap-2 p-2 md:h-full">
    <div class="flex flex-row justify-between">
      <hlm-tabs-list class="grid grid-cols-2">
        <button hlmTabsTrigger="viewer">Viewer</button>
        <button hlmTabsTrigger="tags">Tag List</button>
      </hlm-tabs-list>

      <div class="flex flex-row items-center">
        <button
          hlmBtn
          variant="secondary"
          size="icon"
          class="rounded-r-none border-r border-gray-300"
          (click)="studyService.exportStudy(study)">
          <hlm-icon name="lucideDownload" />
        </button>
        <button
          hlmBtn
          variant="secondary"
          size="icon"
          class="rounded-l-none"
          [brnMenuTriggerFor]="menu">
          <hlm-icon name="lucideMoreVertical" />
        </button>
      </div>

      <ng-template #menu>
        <hlm-menu class="min-w-56">
          <hlm-menu-label> Aktionen </hlm-menu-label>
          <hlm-menu-separator />

          <hlm-menu-group>
            <button
              hlmMenuItem
              (click)="
                studyService.openInViewer(
                  study,
                  selectedInstance()?.instanceUid
                )
              ">
              <hlm-icon name="lucideExternalLink" hlmMenuIcon />
              Im Viewer öffnen
            </button>

            <hlm-menu-separator />

            <button hlmMenuItem (click)="studyService.exportStudy(study)">
              <hlm-icon name="lucideDownload" hlmMenuIcon />
              Studie herunterladen
            </button>

            <button hlmMenuItem [brnMenuTriggerFor]="downloadMenu">
              <hlm-icon name="lucideDownload" hlmMenuIcon />
              Bild herunterladen
              <hlm-menu-item-sub-indicator />
            </button>

            <button hlmMenuItem [brnMenuTriggerFor]="shareMenu">
              <hlm-icon name="lucideShare" hlmMenuIcon />
              Teilen
              <hlm-menu-item-sub-indicator />
            </button>

            <ng-template #downloadMenu>
              <hlm-sub-menu class="w-56">
                <hlm-menu-label> Downloaden als .. </hlm-menu-label>
                <hlm-menu-separator />

                <button
                  hlmMenuItem
                  inset
                  [disabled]="!selectedInstance()"
                  (click)="
                    studyService.downloadStudy(
                      study.studyUid,
                      [selectedInstance().instanceUid],
                      ['png']
                    )
                  ">
                  PNG
                </button>

                <button
                  hlmMenuItem
                  inset
                  [disabled]="!selectedInstance()"
                  (click)="
                    studyService.downloadStudy(
                      study.studyUid,
                      [selectedInstance().instanceUid],
                      ['jpeg']
                    )
                  ">
                  JPEG
                </button>

                <button
                  hlmMenuItem
                  inset
                  [disabled]="!selectedInstance()"
                  (click)="
                    studyService.downloadStudy(
                      study.studyUid,
                      [selectedInstance().instanceUid],
                      ['dicom']
                    )
                  ">
                  DICOM
                </button>
              </hlm-sub-menu>
            </ng-template>

            <ng-template #shareMenu>
              <hlm-sub-menu class="w-56">
                <hlm-menu-label> Teilen als .. </hlm-menu-label>
                <hlm-menu-separator />

                <button hlmMenuItem disabled>
                  <hlm-icon name="lucideMail" hlmMenuIcon />
                  E-Mail
                </button>

                <button
                  hlmMenuItem
                  (click)="studyService.exportStudy(study, undefined, 'share')">
                  <hlm-icon name="lucideExternalLink" hlmMenuIcon />
                  Viewer-Link
                </button>

                <button
                  hlmMenuItem
                  (click)="studyService.exportStudy(study, '720h', 'link')">
                  <hlm-icon name="lucideDownload" hlmMenuIcon />
                  Download-Link
                </button>
              </hlm-sub-menu>
            </ng-template>
          </hlm-menu-group>
        </hlm-menu>
      </ng-template>
    </div>

    <div hlmTabsContent="viewer" class="h-full w-full flex-grow overflow-auto">
      <dicom-viewer [study]="study" [instance]="selectedInstance()" />
    </div>

    <div hlmTabsContent="tags" class="w-full flex-grow overflow-auto">
      @if (selectedInstance(); as instance) {
        <hlm-table>
          @for (tag of instance.tags | sortDicomTags; track tag.tag) {
            <hlm-trow>
              <hlm-th class="w-48">
                {{ tag.name }}
              </hlm-th>
              <hlm-td class="w-32">
                {{ tag.tag }}
              </hlm-td>
              <hlm-td class="flex-1 break-all">
                @for (value of tag.value; track value) {
                  {{ value.toJson() }}
                }
              </hlm-td>
            </hlm-trow>
          }
        </hlm-table>
      } @else {
        <span class="flex h-32 flex-row items-center justify-center">
          Kein Bild ausgewählt
        </span>
      }
    </div>
  </hlm-tabs>
</div>
