<hlm-dialog-header>
  <h3 hlmDialogTitle>
    DICOM Studie vom {{ study.time | toDate | date: 'short' }}
  </h3>
  <p hlmDialogDescription class="flex flex-row gap-2">
    <span>Besitzer: </span>
    <span class="font-medium">{{ study.ownerName || 'N/A' }}</span>
    <span>Pateint: </span>
    <span class="font-medium">{{ study.patientName || 'N/A' }}</span>
  </p>
</hlm-dialog-header>

<div class="flex flex-row items-start justify-start w-full gap-0 p-4">
  <div class="flex flex-col w-32 gap-2 p-2 overflow-auto">
    @for (series of study.series; track series.seriesUid) {
      @for (instance of series.instances; track instance.instanceUid) {
        <img
          (click)="selectedInstance.set(instance)"
          [attr.src]="instance | dicomImageUrl: { width: 100, height: 100 }"
          [class.outline]="selectedInstance() === instance"
          class="aspect-auto h-auto w-[100px] flex-shrink-0 flex-grow-0 cursor-pointer hover:outline" />
      }
    }
  </div>

  <hlm-tabs tab="viewer" class="h-full min-h-[500px] w-full flex-grow">
    <div hlmTabsContent="viewer" class="w-full">
      @if (selectedInstance(); as instance) {
        <img
          [attr.src]="instance | dicomImageUrl"
          class="h-auto max-w-screen aspect-auto" />
      } @else {
        <span class="flex flex-row items-center justify-center h-32">
          Kein Bild ausgewählt
        </span>
      }
    </div>

    <div hlmTabsContent="tags" class="w-full h-full">
      @if (selectedInstance(); as instance) {
        <hlm-table>
          @for (tag of instance.tags; track tag.tag) {
            <hlm-trow>
              <hlm-td class="w-32">
                {{ tag.name }}
              </hlm-td>
              <hlm-td class="w-16">
                {{ tag.tag }}
              </hlm-td>
              <hlm-td class="flex-1">
                @for (value of tag.value; track value) {
                  {{ value.toJson() }}
                }
              </hlm-td>
            </hlm-trow>
          }
        </hlm-table>
      } @else {
        <span class="flex flex-row items-center justify-center h-32">
          Kein Bild ausgewählt
        </span>
      }
    </div>

    <hlm-tabs-list class="grid w-full grid-cols-2">
      <button hlmTabsTrigger="viewer">Viewer</button>
      <button hlmTabsTrigger="viewer">Tag List</button>
    </hlm-tabs-list>
  </hlm-tabs>
</div>

<hlm-dialog-footer
  class="flex flex-row flex-wrap items-center justify-between gap-2 p-1 mt-4">
  <button hlmBtn variant="secondary" (click)="close()">Schließen</button>
</hlm-dialog-footer>
