<div class="w-full" role="heading">
  <div class="flex flex-row items-center justify-between max-w-screen-md m-auto">
    <h1>Tierklinik Dobersberg</h1>
    <nav class="flex flex-row items-center gap-4">
      <a class="cursor-pointer text-color-primary hover:text-color-primary-dark">Übersicht</a>
      <a class="cursor-pointer text-color-primary hover:text-color-primary-dark">Dienstplan</a>
      <a class="cursor-pointer text-color-primary hover:text-color-primary-dark">Urlaubsanträge</a>
      <a class="cursor-pointer text-color-primary hover:text-color-primary-dark">Schichten</a>
    </nav>
  </div>
</div>
