<div class="choose-customer content-section">
    <div>
        <h2>1. Kundennamen suchen</h2>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Kunde auswählen" (ngModelChange)="selectCustomer($event)"
            [(ngModel)]="selectedCustomer" (nzOnSearch)="searchCustomer($event)">
            <nz-option *ngFor="let customer of customerSearchResult" [nzLabel]="customer.display" [nzValue]="customer">
            </nz-option>
        </nz-select>
    </div>

    <div>
        <h2>2. Patienten suchen</h2>
        <nz-select nzMode="tags" nzPlaceHolder="Tag Mode" [(ngModel)]="selectedPatients"
            (ngModelChange)="selectPatient($event)">
            <nz-option *ngFor="let patient of customerPatients" [nzLabel]="patient.name" [nzValue]="patient">
            </nz-option>
        </nz-select>
    </div>
</div>

<div class="choose-date content-section">
    <div class="select-date-container">
        <h2>
            3. Termin auswählen:
        </h2>
        <div>
            <button nz-button nzType="text" (click)="prevDay()"><i nz-icon nzType="left"></i></button>
            <nz-date-picker [(ngModel)]="selectedDate" (ngModelChange)="selectDate($event)"></nz-date-picker>
            <button nz-button nzType="text" (click)="nextDay()"><i nz-icon nzType="right"></i></button>
        </div>
        <span class="warning" *ngIf="selectedDate != null && rosterDay === null && !rosterLoading">Kein Dienstplan
            verfügbar!</span>
    </div>
    <div *ngIf="!!rosterDay">
        <div class="user-row">
            <span class="profile"></span>
            <div class="slot-header">
                <span class="slot" *ngFor="let slot of timeSlots">
                    {{ slot.from | date:"HH:mm" }}
                </span>
            </div>
        </div>
        <div *ngFor="let user of allUsers" class="user-row">
            <span class="profile">
                <nz-avatar nzIcon="user" [nzSrc]="user.avatar"></nz-avatar>
                {{ user.fullname }}
            </span>
            <div class="slot-container">
                <ng-container *ngFor="let slot of timeSlots">
                    <span class="slot" [class.closed]="!slot.isOpeningHour"
                        [class.highlighted]="slot.highlighted && highlightedUserSlot === user.name"
                        (mouseenter)="highlightSlot(user.name, slot)" (mouseleave)="highlightSlot(user.name, null)"
                        [class.busy]="slot.users[user.name]?.length > 0" [class.available]="!!slot.available[user.name]"
                        nz-tooltip [nzTooltipTitle]="tooltipTemplate"></span>
                    <ng-template #tooltipTemplate>
                        <div class="slot-tooltip">
                            <span>
                                {{ slot.from | date:"HH:mm" }}
                            </span>
                            <ul>
                                <li *ngFor="let event of slot.users[user.name]">{{ event.summary }}</li>
                            </ul>
                        </div>
                    </ng-template>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<div class="event-description content-section">
    <h2>4. Beschreibug:</h2>

    <fieldset>
        <legend>Benötigte Resourcen</legend>
        <div>
            <label nz-checkbox>Zahnraum</label>
            <label nz-checkbox>OP Steril</label>
            <label nz-checkbox>OP Unsteril</label>
        </div>
    </fieldset>

</div>

<div class="save-event content-section">
    <button nz-button nzType="primary">Erstellen</button>
    <button nz-button nzType="danger">Abbrechen</button>
</div>