:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.choose-customer {
    flex: 0 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: stretch;

    .row {
        nz-select {
            flex: 1 0;
            &:first-of-type {
                margin-right:3px;
            }
            &:last-child {
                margin-left: 3px;;
            }
        }
    }
}

.choose-date {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: stretch;

    .select-date-container {
        display: flex;
        align-items: center;
        width: 100%;
        h2 {
            margin-bottom: 0;
            margin-right: 12px;
        }
    }
}

span.warning {
    margin-left: 12px;
    font-size: 95%;
    color: red;
}

.content-section {
    margin-top: 12px;
    margin-bottom: 0px;
}

.content-section h2 {
    margin: 0px;
    font-weight: 400;
    font-size: 120%;
    font-family: "Poppins";
    display: flex;
    align-items: center;

    margin-bottom: 6px;
}

.save-event {
    flex: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
        width: 100%;
}


  fieldset {
    align-self: stretch;

    >* {
      font-weight: 400;
      font-family: "Poppins";
    }

    legend {
      font-family   : Lato, sans-serif;
      margin        : 0;
      margin-left   : -3px;
      margin-bottom : -3px;
      padding-left  : 3px;
      padding-right : 3px;
      display       : inline;
      font-size     : 75%;
      color         : gray;
      text-transform: uppercase;
      width         : auto;
    }

    i[nz-icon] {
      color    : #40617c;
      font-size: 90%;
    }

    position     : relative;
    padding-left : 12px;
    padding-right: 12px;
    border       : thin solid #cccccc81;
    border-radius: 3px;
  }

  .required-resource {
      flex-shrink: 0;
      flex-grow: 0;
      margin-right: 6px;

      & > div {
          padding: 6px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          label {
              padding: 3px;
              margin-left: 3px;
          }
      }
  }

  .description {
      width: 100%;
      padding: 6px;
      input, textarea {
          width: 100%;
      }

      input {
          margin-bottom: 3px;
      }
  }

  .event-description {
      flex-grow: 0;
      flex-shrink: 0;
  }