<div class="choose-customer content-section">
  <h2>Kunden und Patienten auswählen</h2>

  <div class="row">
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Kunde auswählen" (ngModelChange)="selectCustomer($event)"
      [(ngModel)]="selectedCustomer" (nzOnSearch)="searchCustomer($event)">
      <nz-option *ngFor="let customer of customerSearchResult" [nzLabel]="customer.display" [nzValue]="customer">
      </nz-option>
    </nz-select>
    <nz-select nzMode="tags" nzPlaceHolder="Patienten" [(ngModel)]="selectedPatients">
      <nz-option *ngFor="let patient of customerPatients" [nzLabel]="patient.name" [nzValue]="patient">
      </nz-option>
    </nz-select>
  </div>
</div>

<div class="event-description content-section">
  <h2>2. Beschreibug:</h2>

  <div class="row">
    <div class="column">
      <fieldset class="required-resource">
        <legend>Benötigt</legend>
        <div>
          <label *ngFor="let resource of resources" nz-checkbox [(ngModel)]="resource.selected"
            (ngModelChange)="updateResources()">{{ resource.name
            }}</label>
        </div>
      </fieldset>

      <fieldset class="creator">
        <legend>Erstellt durch</legend>
        <nz-select nzShowSearch required nzAllowClear nzPlaceHolder="Bitte auswählen" [(ngModel)]="createdBy">
          <nz-option *ngFor="let user of (users | async)" [nzLabel]="user.fullname" [nzValue]="user.name">
          </nz-option>
        </nz-select>
      </fieldset>
    </div>

    <fieldset class="description">
      <legend>Beschreiung</legend>
      <input nz-input type="text" required placeholder="Zusammenfassung" [(ngModel)]="summary">
      <textarea rows="4" nz-input placeholder="Beschreiung" [(ngModel)]="description"></textarea>
    </fieldset>
  </div>

</div>

<div class="choose-date content-section">
  <div class="select-date-container">
    <h2>
      3. Termin auswählen:
    </h2>
    <div>
      <button nz-button nzType="text" (click)="prevDay()"><i nz-icon nzType="left"></i></button>
      <nz-date-picker [(ngModel)]="selectedDate" [nzDisabledDate]="disabledDate"></nz-date-picker>
      <button nz-button nzType="text" (click)="nextDay()"><i nz-icon nzType="right"></i></button>
      <span *ngIf="!!selectedTime" class="selected-time">
        <nz-avatar nzIcon="user" [nzSrc]="selectedTime.user?.avatar" nz-tooltip
          [nzTooltipTitle]="selectedTime.user?.fullname || selectedTime.calendarID" nzSize="small">
        </nz-avatar>
        {{ selectedTime.user?.fullname || selectedTime.user?.name }}: <b>{{ selectedTime.date | date:"HH:mm"
          }}</b> für
        <b>{{ selectedTime.duration.toString() }}</b>
      </span>
    </div>
  </div>
  <app-quick-time-selector *ngIf="!!selectedDate" [date]="selectedDate" (selectedTimeChange)="onTimeSelected($event)"
    [selectedTime]="selectedTime" [resourcesRequired]="selectedResources">
  </app-quick-time-selector>
</div>

<div class="save-event content-section">
  <button nz-button nzType="primary" (click)="createEvent()">Erstellen</button>
  <button nz-button nzDanger (click)="resetView()">Abbrechen</button>
</div>
