@if (layout.isPhone) {
  @if (isRangeInput) {
    <div class="flex flex-row gap-2 flex-wrap items-center">
      <div class="flex flex-row gap-1 flex-nowrap items-center">
        <span class="text-secondary">Von</span>
        <input [attr.type]="showTime ? 'datetime-local' : 'date'" class="tkd-input" name="from" [attr.min]="min | toNativeDateString:showTime" [attr.max]="max | toNativeDateString:showTime" (blur)="_onBlur()"
          [ngModel]="value[0] | toNativeDateString:showTime" (ngModelChange)="updateValue([$event, value[1]])">
      </div>
      <div class="flex flex-row gap-1 flex-nowrap items-center">
        <span class="text-secondary">Bis</span>
        <input [attr.type]="showTime ? 'datetime-local' : 'date'" class="tkd-input" name="to" [attr.min]="min | toNativeDateString:showTime" [attr.max]="max | toNativeDateString:showTime" (blur)="_onBlur()"
          [ngModel]="value[1] | toNativeDateString:showTime" (ngModelChange)="updateValue([value[0], $event])">
      </div>
    </div>
  }
  @if (!isRangeInput) {
    <input [attr.type]="showTime ? 'datetime-local' : 'date'" class="tkd-input" name="time" [attr.min]="min | toNativeDateString:showTime" [attr.max]="max | toNativeDateString:showTime" (blur)="_onBlur()"
      [ngModel]="value" (ngModelChange)="updateValue($event)">
  }
} @else {
  @if (!isRangeInput) {
    <nz-date-picker [ngModel]="value" (ngModelChange)="updateValue($event)" [nzShowTime]="showTime" [nzDisabled]="disabled" [nzDisabledDate]="nzIsDateDisabled" (blur)="_onBlur()" [nzDateRender]="nzDateRender">
    </nz-date-picker>
  }
  @if (isRangeInput) {
    <nz-range-picker [ngModel]="value" (ngModelChange)="updateValue($event)" [nzShowTime]="showTime"  [nzDisabled]="disabled" [nzDisabledDate]="nzIsDateDisabled" (blur)="_onBlur()" [nzDateRender]="nzDateRender">
    </nz-range-picker>
  }
}

