<div>
  @for (cat of categories; track trackCategory($index, cat)) {
    @if (cat.name) {
      <span class="block mt-5 mb-3 text-base font-semibold text-gray-500">{{
        cat.name
      }}</span>
    }
    <div
      class="grid w-full gap-4 leading-3 auto-cols-max"
      style="grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))">
      @for (s of cat.schemas; track trackSchema($index, s)) {
        <a hlmBtn [routerLink]="'/admin/settings/' + s.name">
          {{ s.displayName || s.name }}
        </a>
      }
    </div>
  }
</div>
