<div class="shows">

  <div class="show-entry" *ngFor="let show of shows; trackBy: trackShow">
    <iframe class="preview" [src]="show.preview" (mouseenter)="activate(show)" (mouseleave)="deactivate(show)"></iframe>
    <div class="meta">
      <div class="desc">
        <a [href]="show.playUrl" target="_blank" class="name">{{ show.name }}</a>
        <span class="description">{{ show?.description || 'Slide-Show' }}</span>
      </div>
      <div class="actions" *ngIf="layout.isTabletLandscapeUp">
        <i nz-icon nzType="edit" *ngIf="canEditShows" [routerLink]="['edit', show.name]" nzTheme="outline"></i>
        <a [href]="show.playUrl" target="_blank"><i nz-icon nzType="eye" nzTheme="outline"></i></a>
        <a (click)="deleteShow(show)" *ngIf="canDeleteShows"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
      </div>
    </div>
  </div>

  <div class="show-entry" (click)="createNew()" *ngIf="layout.isTabletLandscapeUp">
    <div class="preview add-new">
      <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
    </div>
    <div class="meta">
      <div class="desc">
        <span class="name">Neue Slide-Show</span>
        <span class="description">Erstelle eine neue Slide-Show</span>
      </div>
    </div>
  </div>

</div>

<ng-template #createShow>
  <label for="name">Name</label>
  <input type="text" nz-input [(ngModel)]="newShowName" (ngModelChange)="onShowNameChange()">
</ng-template>