.shows {
  display       : flex;
  flex-direction: row;
  flex-wrap     : wrap;

  display              : grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows       : auto;
  gap                  : 12px;
}

.add-new {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;

  i {
    font-size: 50px;
    color    : rgb(98, 151, 165);
  }
}

.show-entry {
  .preview {
    width  : 100%;
    height : 150px;
    border : none;
    outline: none;
    opacity: 0.8;
  }

  div.meta {
    a {
      color: unset;
    }

    div.desc {
      flex-grow     : 1;
      display       : flex;
      flex-direction: column;

      .name {
        font-weight: bold;
      }

      .description {
        font-weight: 300;
        font-size  : 90%;
        margin-top : -4px;
      }
    }

    div.actions {

      &>* {
        &:not(:last-child) {
          margin-right: 12px;
        }

        cursor : pointer;

        &:hover {
          color: steelblue;
        }
      }
    }
  }
}
