<div class="editor">
  <div class="slides">
    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <div class="slide" *ngFor="let slide of show?.slides; let index=index" cdkDrag
        [class.active]="index === currentSlideIndex">
        <iframe [src]="slide.preview"></iframe>
        <div (click)="openSlide(slide, index)" cdkDragHandle class="cover">
        </div>
        <i (click)="deleteSlide(index)" class="delete" nz-icon nzType="delete" nzTheme="outline"></i>
      </div>
    </div>

    <div class="slide">
      <button nz-button nzType="dashed" (click)="selectLayout()">
        <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
        Neue Folie
      </button>
    </div>
  </div>

  <div class="current-slide">
    <ng-container *ngIf="layoutPreview as url">
      <iframe [src]="url" id="currentSlide"></iframe>
    </ng-container>
    <button nz-button nzType="default" nzSize="large" nzShape="round" (click)="saveOrPlay()"
      [nzLoading]="refreshPending">
      <i nz-icon [nzType]="unsaved ? 'save' : 'caret-right'" nzTheme="outline"></i>
      {{ refreshPending ? 'Laden ...' : unsaved ? 'Speichern' : 'Abspielen'}}
    </button>
  </div>

  <nz-collapse class="vars">
    <nz-collapse-panel nzHeader="Slide-Show Einstellungen">
      <ng-container *ngIf="!!show">
        <div class="var">
          <label>Name:</label>
          <span class="description">Der Name für die Slide-Show. Sollte keine Sonderzeichen oder Leerzeichen
            enthalten.</span>
          <input nz-input type="text" [disabled]="true" [(ngModel)]="show.name">
        </div>

        <div class="var">
          <label>Beschreibung:</label>
          <span class="description">Eine kurze Beschreibung für die Slide-Show.</span>

          <input nz-input type="text" [(ngModel)]="show.description" (ngModelChange)="unsaved = true">
        </div>

        <div class="var">
          <label>Theme:</label>
          <span class="description">Das Theme for die Slide-Show</span>

          <nz-select [(ngModel)]="show.theme" (ngModelChange)="updatePreview()">
            <nz-option *ngFor="let choice of themes" [nzValue]="choice.value" [nzLabel]="choice.name"></nz-option>
          </nz-select>
        </div>
      </ng-container>

    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="Folien Einstellungen" [nzDisabled]="!currentSlide">
      <ng-container *ngIf="!!currentSlide">
        <div class="var">
          <label>Auto-Animation</label>
          <input nz-input type="text" [(ngModel)]="currentSlide!.autoAnimate" (ngModelChange)="updatePreview()">
        </div>
        <div class="var">
          <label>
            Hintergrund-Farbe
            <i *ngIf="currentSlide!.background" class="clear-value"
              (click)="currentSlide!.background = ''; updatePreview()" nz-icon nzType="close-circle"
              nzTheme="outline"></i>
          </label>
          <color-twitter triangle="hide" [(ngModel)]="currentSlide!.background" (ngModelChange)="updatePreview()">
          </color-twitter>
        </div>
        <div class="var">
          <label>Dauer (in Sekunden)</label>
          <input nz-input type="number" [ngModel]="(currentSlide!.duration || 0) / 1000 / 1000 / 1000"
            (ngModelChange)="setDuration($event)">
        </div>
      </ng-container>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="Layout Eigenschaften" [nzActive]="!!currentSlide" [nzDisabled]="!currentSlide">

      <div class="var" *ngFor="let item of layouts[currentSlide?.layout]?.variables">
        <ng-container *ngIf="item.type !== 'bool'">
          <label>{{ item.displayName || item.name }}</label>
        </ng-container>
        <span class="description" *ngIf="item.description">{{ item.description }}</span>

        <app-show-editor-input [(ngModel)]="currentSlide.vars[item.name]" (ngModelChange)="updatePreview()"
          [item]="item" [showName]="show.name" [previewIndex]="currentSlideIndex"></app-show-editor-input>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
</div>

<ng-template #layoutSelector>
  <div class="layouts">
    <div class="layout" *ngFor="let layout of (layouts | keyvalue)" (click)="onLayoutSelected(layout.key)">
      <img class="preview" src="/api/infoscreen/v1/layout/{{layout.value.name}}/icon">
      <span class="name">{{ layout.value.displayName || layout.value.name }}</span>
      <span class="description" *ngIf="layout.value.description">{{ layout.value.description }}</span>
    </div>
  </div>
</ng-template>