@import 'src/utils';

:host {
  @include page-host;
  overflow: auto;

  @include for-phone-only {
    padding: 12px;
  }

  display : flex;
  flex-direction: column;
}

iframe {
  border: none;
  outline: none;
}

.editor {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  ::ng-deep {
    .ant-collapse-content-box {
      @apply bg-subtle bg-opacity-light;
    }

    .ant-collapse-header {
      @apply font-lato text-secondary select-none;
    }
  }

  .slide {
    position: relative;

    iframe {
      width: 220px;
      height: 150px;
    }

    .cover {
      transition: all 200ms ease-in-out;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0.3;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;



      &:hover {
        background-color: lightgray;

      }
    }

    .delete {
      display: none;
      position: absolute;
      top: 12px;
      right: 12px;
      color: red;

      &:hover {
        display: block;
      }
    }

    .cover:hover~.delete {
      display: block;
    }

    &.active {
      iframe {
        border-color: rgb(100, 149, 237);
      }

      .cover {
        background-color: rgba(100, 149, 237, .3);
      }

      .cover:hover {
        background-color: rgba(100, 149, 237, .6);
      }
    }
  }

  .current-slide {
    margin-left: 24px;
    margin-right: 24px;
    align-self: center;
    justify-self: center;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #currentSlide {
      width: 100%;
      height: 70vh;
      box-shadow: 0px 0px 4px 1px rgb(0 21 41 / 8%);
      border: 1px solid lightgray;
      margin-bottom: 12px;
    }
  }

  .vars {
    .var {
      width: 100%;

      &:not(:first-of-type) {
        padding-top: 24px;
      }

      padding-bottom: 24px;

      label {
        @apply font-lato text-color-primary font-semibold;
      }

      .description {
        @apply text-secondary block mb-2 text-xs leading-3;
      }

      .upload-asset {
        display: flex;
        flex-direction: column;

        .meta {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
        }

        img {
          width: calc(100% - 24px);
        }
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid lightgray;
      }
    }
  }
}

.layouts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: auto;
  gap: 12px;

  .layout {
    padding: 12px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    background-color: rgba(250, 250, 250, 0.7);
    cursor: pointer;


    &:hover {
      background-color: rgba(228, 228, 228, .5);
    }

    .preview {
      height: 100px;
      background: white;
      margin-bottom: 12px;
    }

    .name {
      font-weight: bold;
    }

    .description {
      font-size: 95%;
      opacity: 0.9;
    }
  }
}

.clear-value {
  cursor: pointer;

  &:hover {
    color: red;
  }
}
