<div class="grid items-center w-full gap-2 md:gap-5 lg:gap-8 xl:gap-10" style="grid-template-columns: repeat(auto-fill, minmax(180px, 1fr))">
  <div *ngFor="let ping of pings; trackBy: trackPing" class="flex flex-col items-center justify-center w-full gap-3 bg-white border-l-2 rounded-r shadow h-14 md:h-24" [ngClass]="{
    'border-alert-red ': ping.State === 'failed',
    'border-alert-orange ': ping.State === 'late',
    'border-alert-green ': ping.State === 'passed'
  }">
    <span class="text-xl uppercase font-lato" [ngClass]="{
      'text-alert-red-dark': ping.State == 'failed',
      'text-alert-orange-dark': ping.State == 'late',
      'text-alert-green-dark': ping.State == 'passed'
    }">
      {{ ping.State }}
    </span>

    <span class="-mt-3 leading-3 text-center font-lato text-secondary ">
      {{ ping.Description }}
    </span>

    <span class="hidden text-xs leading-3 text-center text-secondary sm:block">
      {{ ping.LastPingReceived | timeago }}
    </span>
  </div>
</div>

<div *ngFor="let ping of pings; trackBy: trackPing">
  <tkd-time-chart chartType="line" timeRound="hour" timeRange="minute" [from]="from" [to]="to" [title]="ping.Description" [description]="ping.Comment" [load]="ping.load"></tkd-time-chart>
</div>

<div *ngIf="!pings?.length && !loading" class="flex flex-col items-center justify-center w-full gap-4 p-4 md:p-8 lg:p-12">
  <h1 class="text-xl text-color-primary-dark">Es sind noch keine Healthchecks konfiguriert.</h1>
  <button routerLink="/admin/settings/healthchecks" class="text-base tkd-btn tkd-primary">Einstellungen</button>
</div>
