<div hlmCard>
  <div
    hlmCardHeader
    class="flex flex-row items-center justify-between border-b border-border"
    [ngClass]="{
      '!flex-col gap-2': !layout.md(),
    }">
    <div>
      <h1 hlmCardTitle>Urlaubsanträge & Zeitausgleich</h1>

      @if (!worktime()?.excludeFromTimeTracking) {
        @if (vacation(); as vacation) {
          <span hlmCardDescription>
            Bis zum Ende des Jahres hast du noch
            <span
              [ngClass]="{
                'text-green-700': vacation.vacationCreditsLeft.seconds > 0,
                'text-red-700': vacation.vacationCreditsLeft.seconds <= 0,
              }"
              class="font-medium underline">
              {{
                vacation.vacationCreditsLeft
                  | duration: 'default-hours' : undefined
              }}
            </span>
            Urlaubsanspruch.
            <br />
            Dein Zeitausgleich-Guthaben beträgt derzeit
            <span
              [ngClass]="{
                'text-green-700': vacation.timeOffCredits.seconds > 0,
                'text-red-700': vacation.timeOffCredits.seconds <= 0,
              }"
              class="font-medium underline">
              {{
                vacation.timeOffCredits | duration: 'default-hours' : undefined
              }}
            </span>
          </span>
        }
      }
    </div>

    <div class="flex flex-row items-center gap-4">
      <app-offtime-filter-sheet #filterSheet (filter)="filter.set($event)" />

      <button hlmBtn routerLink="create" class="whitespace-nowrap">
        Neuer Antrag
      </button>
    </div>
  </div>

  <div hlmCardContent>
    <div
      class="sticky -top-5 z-50 flex flex-row items-center justify-center gap-2 bg-white pb-1.5">
      <button
        hlmBtn
        variant="ghost"
        size="icon"
        (click)="switchDate(null, -1)"
        type="button">
        <hlm-icon name="lucideArrowLeft" size="sm" />
      </button>

      <span
        class="inline-block w-40 text-center text-sm font-medium md:text-base lg:text-lg">
        {{ _selectedMonth() | date: 'MMMM, YYYY' }}
      </span>

      <button
        hlmBtn
        variant="ghost"
        size="icon"
        (click)="switchDate(null, 1)"
        type="button">
        <hlm-icon name="lucideArrowRight" size="sm" />
      </button>
    </div>

    <hlm-tabs class="w-full" tab="overview">
      <hlm-tabs-list class="grid w-full grid-cols-2">
        <button hlmTabsTrigger="overview">Übersicht</button>
        <button hlmTabsTrigger="calendar">Kalender</button>
      </hlm-tabs-list>

      <div hlmTabsContent="overview">
        <div class="sticky top-3 z-50 bg-white p-4">
          <app-date-table
            [variant]="layout.sm() ? 'default' : 'small'"
            class="mx-4 block rounded-md border border-border"
            [calendarDate]="_selectedMonth()"
            (calendarDateChange)="switchDate($event, 0)"
            changable="true"
            [ranges]="_computedCalendarRanges()">
            <div
              [highlightRange]="ctx"
              [highlightRangeClasses]="{
                highlight: {
                  start: '!bg-red-200 rounded-l border-l',
                  between: 'bg-red-200/50 border-t border-b border-red-300',
                  end: '!bg-red-200 rounded-r border-r',
                },
              }"
              class="my-0.5 flex !h-8 items-center justify-center text-sm transition-all duration-150 ease-in-out"
              [class.bg-gray-100]="!ctx.currentMonth"
              *dateTableCell="let ctx">
              @if (
                ctx.date | matchingOfftime: _computedFilteredEntries();
                as entries
              ) {
                <span [class.text-red-500]="entries.length > 0">{{
                  ctx.date | date: 'd'
                }}</span>
              }
            </div>
          </app-date-table>
        </div>

        <brn-table
          hlm
          stickHeader
          customTemplateDataRows="true"
          class="mt-4 block min-h-[200px] flex-grow self-stretch overflow-auto border-t border-border @container"
          [dataSource]="paginator.data()"
          [displayedColumns]="_computedDisplayedColumns()"
          [trackBy]="trackEntry">
          <tkd-empty-table
            brnNoDataRow
            [filter]="filterSheet"
            [totalCount]="_computedTotalCount()"
            [filteredCount]="_computedFilteredCount()" />

          <cdk-row
            (mouseenter)="hoveredEntryId.set(row.id)"
            (mouseleave)="hoveredEntryId.set(null)"
            *cdkRowDef="let row; columns: _computedDisplayedColumns()"
            class="flex w-fit min-w-[100%] border-b border-border transition-[background-color] hover:bg-muted/50 [&:has([role=checkbox][aria-checked=true])]:bg-muted" />

          <brn-column-def name="from" class="flex-[0_0_8rem]">
            <hlm-th *brnHeaderDef> Von </hlm-th>
            <hlm-td *brnCellDef="let entry">
              {{ entry.from | toDate | date: 'mediumDate' }}
            </hlm-td>
          </brn-column-def>

          <brn-column-def name="to" class="flex-[0_0_8rem]">
            <hlm-th *brnHeaderDef> Bis </hlm-th>
            <hlm-td *brnCellDef="let entry">
              {{ entry.to | toDate | date: 'mediumDate' }}
            </hlm-td>
          </brn-column-def>

          <brn-column-def name="user" class="flex-[0_0_24rem] overflow-hidden">
            <hlm-th *brnHeaderDef> Mitarbeiter </hlm-th>
            <hlm-td *brnCellDef="let entry">
              <app-avatar [user]="entry.requestorId" showName="true" />
            </hlm-td>
          </brn-column-def>

          <brn-column-def name="description" class="flex-[1_0_10rem]">
            <hlm-th *brnHeaderDef> Beschreibung </hlm-th>
            <hlm-td *brnCellDef="let entry">
              {{ entry.description }}
            </hlm-td>
          </brn-column-def>

          <brn-column-def
            name="actions"
            class="flex flex-[0_0_12rem] flex-row items-center justify-end">
            <hlm-th *brnHeaderDef>
              @if (layout.md()) {
                <tkd-pagination [paginator]="paginator" />
              }
            </hlm-th>

            <hlm-td *brnCellDef="let entry">
              <div class="flex flex-row justify-end gap-2">
                <button
                  hlmBtn
                  variant="ghost"
                  size="icon"
                  [appSheetTriggerFor]="sheet"
                  side="right"
                  (click)="selectedEntry.set(entry)">
                  <hlm-icon name="lucideMessageCircle" size="sm" />
                </button>

                @if (
                  !entry.approval &&
                  entry.requestorId === currentUser()?.user.id
                ) {
                  <button
                    hlmBtn
                    variant="outline"
                    [brnAlertDialogTriggerFor]="alertDialog"
                    (click)="entryToDelete.set(entry)">
                    Löschen
                  </button>
                }
              </div>
            </hlm-td>
          </brn-column-def>
        </brn-table>

        <div class="flex w-full justify-end border-t border-border p-2 pt-4">
          <tkd-pagination [paginator]="paginator" />
        </div>
      </div>

      <div hlmTabsContent="calendar">
        <app-date-table
          [_calendarDate]="_selectedMonth()"
          changable="true"
          (calendarDateChange)="switchDate($event, 0)">
          <div
            *dateTableCell="let ctx"
            [ngClass]="{
              'bg-gray-100': !ctx.currentMonth,
            }"
            class="m-1 flex !h-36 flex-col rounded-md border border-border">
            <header
              class="flex flex-row items-center justify-center overflow-hidden text-sm font-medium">
              {{ ctx.date | date: 'd' }}
            </header>

            <ul class="flex flex-grow flex-col gap-1 overflow-auto p-1">
              @for (
                entry of ctx.date | matchingOfftime: _computedFilteredEntries();
                track entry.id
              ) {
                <brn-hover-card>
                  <li
                    class="flex flex-row items-center gap-2 rounded-md border border-[var(--user-color,var(--border-border))] px-1 py-0.5 text-xs transition-colors duration-150"
                    (mouseenter)="hoveredEntryId.set(entry.id)"
                    (mouseleave)="hoveredEntryId.set(null)"
                    brnHoverCardTrigger
                    [ngClass]="{
                      'bg-[var(--user-color,var(--border-border))] text-[var(--user-contrast)]':
                        hoveredEntryId() === entry.id,
                    }"
                    [userColorVars]="entry.requestorId">
                    @if (entry.approval?.approved) {
                      <hlm-icon name="lucideCheckCircle" size="sm" />
                    }

                    <span>{{
                      entry.requestorId | toUser: profiles() | displayName
                    }}</span>
                  </li>

                  <hlm-hover-card-content
                    *brnHoverCardContent
                    class="min-w-[20rem]">
                    <div class="w-full">
                      <app-avatar
                        [user]="entry.requestorId"
                        showName="true"
                        class="block text-base" />

                      <span
                        class="-mt-3 ml-[50px] flex flex-row items-center gap-2 text-sm font-medium">
                        {{ entry.from | toDate | date: 'mediumDate' }}
                        <hlm-icon name="lucideArrowRight" size="sm" />
                        {{ entry.to | toDate | date: 'mediumDate' }}
                      </span>

                      <brn-separator decorative="true" hlm />

                      <div class="ml-[50px] flex flex-col gap-2">
                        <markdown class="block text-sm text-gray-600">
                          {{ entry.description }}
                        </markdown>

                        <span class="flex flex-row gap-2 text-xs text-gray-600">
                          <hlm-icon name="lucideCalendar" size="sm" />
                          Erstellt am
                          <span class="underline">
                            {{ entry.createdAt | toDate | date: 'mediumDate' }}
                          </span>
                        </span>

                        @if (entry.approval) {
                          <span
                            class="flex flex-row gap-2 text-xs text-gray-600">
                            @if (entry.approval.approved) {
                              <hlm-icon name="lucideCheckCircle" size="sm" />
                              Genehmigt
                            } @else {
                              <hlm-icon name="lucideXCircle" size="sm" />
                              Abgelehnt
                            }
                            am
                            {{
                              entry.approval.approvedAt
                                | toDate
                                | date: 'mediumDate'
                            }}
                            von
                            {{
                              entry.approval.approverId
                                | toUser: profiles()
                                | displayName
                            }}
                          </span>
                        }
                      </div>
                    </div>
                  </hlm-hover-card-content>
                </brn-hover-card>
              }
            </ul>
          </div>
        </app-date-table>
      </div>
    </hlm-tabs>
  </div>
</div>

<hlm-sheet #sheet side="right">
  <hlm-sheet-content *brnSheetContent>
    <hlm-sheet-header>
      <h3 hlmSheetTitle>Kommentare</h3>
    </hlm-sheet-header>

    @for (comment of comments(); track comment) {
      <app-comment
        [comment]="comment"
        [rendered]="true"
        [canReply]="true"
        (replied)="reloadComments()"></app-comment>
    } @empty {
      <tkd-empty-table
        class="[&>div]:!h-[100px]"
        [totalCount]="0"
        [filteredCount]="0" />
    }

    <div class="flex flex-col gap-2 border-t border-border py-2">
      <h2 hlmLabel>Neuen Kommentar</h2>
      <app-text-input
        format="markdown"
        name="commentText"
        [(ngModel)]="commentText"></app-text-input>
      <button hlmBtn (click)="createComment()">Erstellen</button>
    </div>
  </hlm-sheet-content>
</hlm-sheet>

<hlm-alert-dialog #alertDialog>
  <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
    @if (entryToDelete(); as entry) {
      <hlm-alert-dialog-header>
        <h3 hlmAlertDialogTitle>Antrag wirklich löschen?</h3>
        <p hlmAlertDialogDescription>
          Diese Aktion kann nicht mehr rückgängig gemacht werden!
        </p>
      </hlm-alert-dialog-header>

      <hlm-alert-dialog-footer class="mt-2 flex flex-row gap-2">
        <button hlmBtn variant="secondary" (click)="ctx.close()">
          Abbrechen
        </button>

        <button
          hlmBtn
          variant="destructive"
          (click)="deleteRequest(entry); ctx.close()">
          Löschen
        </button>
      </hlm-alert-dialog-footer>
    }
  </hlm-alert-dialog-content>
</hlm-alert-dialog>
