<div class="rounded bg-white shadow">
  <div
    class="flex flex-row items-center justify-between border-b border-gray-400 p-4 sm:p-6 md:p-8"
    [ngClass]="{
      '!flex-col gap-2': !layout.md(),
    }">
    <div>
      <h1 class="text-lato text-lg text-sky-800">
        Urlaubsanträge & Zeitausgleich
      </h1>

      @if (!worktime()?.excludeFromTimeTracking) {
        @if (vacation(); as vacation) {
          <span class="text-gray-500">
            Bis zum Ende des Jahres hast du noch
            <span
              [ngClass]="{
                'text-green-700': vacation.vacationCreditsLeft.seconds > 0,
                'text-red-700': vacation.vacationCreditsLeft.seconds <= 0,
              }"
              class="font-medium underline">
              {{
                vacation.vacationCreditsLeft
                  | duration: 'default-hours' : undefined
              }}
            </span>
            Urlaubsanspruch.
            <br />
            Dein Zeitausgleich-Guthaben beträgt derzeit
            <span
              [ngClass]="{
                'text-green-700': vacation.timeOffCredits.seconds > 0,
                'text-red-700': vacation.timeOffCredits.seconds <= 0,
              }"
              class="font-medium underline">
              {{
                vacation.timeOffCredits | duration: 'default-hours' : undefined
              }}
            </span>
          </span>
        }
      }
    </div>

    <div class="flex flex-row items-center gap-4">
      <app-offtime-filter-sheet (filter)="filter.set($event)" />

      <button hlmBtn routerLink="create" class="whitespace-nowrap">
        Neuer Antrag
      </button>
    </div>
  </div>

  <nz-tabset id="offtime-tab-set" [nzSelectedIndex]="0">
    <nz-tab nzTitle="Meine Anträge">
      <nz-table [nzData]="_computedFilteredEntries()" #offTimeEntries>
        <thead>
          <!-- Desktop Header -->
          @if (layout.md()) {
            <tr>
              <th>Zeitraum</th>
              <th>Antragsart</th>
              <th>Beschreibung</th>
              <th>Erstellt am</th>
              <th>Bestätigt</th>
              <th></th>
            </tr>
          }
        </thead>

        <tbody>
          <!-- Desktop View -->
          @if (layout.md()) {
            @for (entry of offTimeEntries.data; track entry.id) {
              <tr>
                <td>
                  <span>{{ entry.from | toDate | date: 'mediumDate' }}</span>
                  <span class="text-gray-500"> bis </span>
                  <span>{{ entry.to | toDate | date: 'mediumDate' }}</span>
                </td>
                <td>
                  {{ types[entry.type] }}
                </td>
                <td>
                  <markdown
                    class="prose prose-sm"
                    [data]="entry.description"></markdown>
                </td>
                <td>
                  {{ entry.createdAt | toDate | date: 'mediumDate' }}
                  @if (entry.creatorId !== entry.requestorId) {
                    <span class="text-gray-500">
                      (von
                      {{ entry.creatorId | toUser: profiles() | displayName }})
                    </span>
                  }
                </td>
                <td>
                  @if (entry.approval) {
                    <hlm-tooltip>
                      <span
                        hlmTooltipTrigger
                        [ngClass]="{
                          'text-green-700': entry.approval.approved,
                          'text-red-700': !entry.approval.approved,
                        }">
                        {{
                          entry.approval.approved ? 'Bestätigt' : 'Abgelehnt'
                        }}
                      </span>

                      <span *brnTooltipContent hlm>
                        Von
                        {{
                          entry.approval.approverId
                            | toUser: profiles()
                            | displayName
                        }}
                        am
                        {{ entry.approval.approvedAt | toDate | date: 'short' }}
                      </span>
                    </hlm-tooltip>
                  } @else {
                    <span class="text-gray-500">Noch nicht genehmigt</span>
                  }
                </td>
                <td>
                  <div class="flex flex-row justify-end gap-2">
                    <button
                      hlmBtn
                      variant="ghost"
                      [appSheetTriggerFor]="sheet"
                      side="right"
                      (click)="selectedEntry.set(entry)">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-4 w-4">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                      </svg>
                    </button>
                    @if (!entry.approval) {
                      <button
                        hlmBtn
                        variant="outline"
                        [brnAlertDialogTriggerFor]="alertDialog"
                        (click)="entryToDelete.set(entry)">
                        Löschen
                      </button>
                    }
                  </div>
                </td>
              </tr>
            }
          }

          <!-- Mobile View -->
          @if (!layout.md()) {
            @for (entry of offTimeEntries.data; track entry.id) {
              <tr class="group-[foo]">
                <td class="!border-0">
                  @if (entry.description) {
                    <markdown
                      class="prose prose-sm underline"
                      [data]="entry.description">
                    </markdown>
                  }
                  @if (!entry.description) {
                    <span class="italic text-gray-500">Keine Beschreibung</span>
                  }
                </td>
                <td class="!border-0 text-right">
                  @if (entry.approval) {
                    <hlm-tooltip>
                      <span
                        hlmTooltipTrigger
                        [ngClass]="{
                          'text-green-700': entry.approval.approved,
                          'text-red-700': !entry.approval.approved,
                        }">
                        {{
                          entry?.approval?.approved ? 'Bestätigt' : 'Abgelehnt'
                        }}
                      </span>

                      <span *brnTooltipContent hlm>
                        Von
                        {{
                          entry?.approval?.approverId
                            | toUser: profiles()
                            | displayName
                        }}
                        am
                        {{ entry.approval.approvedAt | toDate | date: 'short' }}
                      </span>
                    </hlm-tooltip>
                  } @else {
                    <span class="text-gray-500">Noch nicht genehmigt</span>
                  }
                </td>
              </tr>
              <tr class="group-[foo] hover:group-[foo]:bg-text-gray-500">
                <td>
                  <span>{{ entry.from | toDate | date: 'mediumDate' }}</span>
                  <span class="text-gray-500"> bis </span>
                  <span>{{ entry.to | toDate | date: 'mediumDate' }}</span>
                </td>
                <td>
                  <div class="flex flex-row justify-end gap-2">
                    <button
                      hlmBtn
                      variant="ghost"
                      size="icon"
                      (click)="selectedEntry.set(entry)">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-4 w-4">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                      </svg>
                    </button>
                    @if (!entry.approval) {
                      <button
                        hlmBtn
                        variant="outline"
                        [brnAlertDialogTriggerFor]="alertDialog"
                        (click)="entryToDelete.set(entry)">
                        Löschen
                      </button>
                    }
                  </div>
                </td>
              </tr>
            }
          }
        </tbody>
      </nz-table>
    </nz-tab>

    <nz-tab nzTitle="Übersicht">
      <div class="py-2">
        <app-offtime-calendar-overview></app-offtime-calendar-overview>
      </div>
    </nz-tab>

    @if (layout.md()) {
      <nz-tab nzTitle="Kalendar">
        <div class="py-2">
          <app-offtime-calendar-overview
            mode="calendar"></app-offtime-calendar-overview>
        </div>
      </nz-tab>
    }
  </nz-tabset>
</div>

<hlm-sheet #sheet side="right">
  <hlm-sheet-content *brnSheetContent>
    <hlm-sheet-header>
      <h3 hlmSheetTitle>Kommentare</h3>
    </hlm-sheet-header>

    @for (comment of comments(); track comment) {
      <app-comment
        [comment]="comment"
        [rendered]="true"
        [canReply]="true"
        (replied)="reloadComments()"></app-comment>
    }

    <div class="flex flex-col gap-2">
      <h2 class="text-base">Neuen Kommentar</h2>
      <app-text-input
        format="markdown"
        name="commentText"
        [(ngModel)]="commentText"></app-text-input>
      <button hlmBtn (click)="createComment()">Erstellen</button>
    </div>
  </hlm-sheet-content>
</hlm-sheet>

<hlm-alert-dialog #alertDialog>
  <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
    @if (entryToDelete(); as entry) {
      <hlm-alert-dialog-header>
        <h3 hlmAlertDialogTitle>Antrag wirklich löschen?</h3>
        <p hlmAlertDialogDescription>
          Diese Aktion kann nicht mehr rückgängig gemacht werden!
        </p>
      </hlm-alert-dialog-header>

      <hlm-alert-dialog-footer class="mt-2 flex flex-row gap-2">
        <button hlmBtn variant="secondary" (click)="ctx.close()">
          Abbrechen
        </button>

        <button
          hlmBtn
          variant="destructive"
          (click)="deleteRequest(entry); ctx.close()">
          Löschen
        </button>
      </hlm-alert-dialog-footer>
    }
  </hlm-alert-dialog-content>
</hlm-alert-dialog>
