<h1 class="text-lg font-lato">
    {{ isEdit ? 'Regel bearbeiten' : 'Regel erstellen' }}
</h1>

<form>
    <div class="flex flex-col gap-4 py-4">
        <div class="flex flex-col">
            <span class="text-primary">Regel-Typ:</span>
            <nz-select name="rosterOnly" [(ngModel)]="constraint.rosterOnly">
                <nz-option nzLabel="Schicht" [nzValue]="false"></nz-option>
                <nz-option nzLabel="Dienstplan" [nzValue]="true"></nz-option>
            </nz-select>
        </div>

        <div class="flex flex-col">
            <span class="text-primary">Beschreibung:</span>
            <input name="description" [(ngModel)]="constraint.description" type="text" placeholder="Beschreibung" class="tkd-input">
        </div>

        <div class="flex flex-col">
            <span class="text-primary">Ausdruck:</span>
            <input name="expression" [(ngModel)]="constraint.expression" type="text" placeholder="Beschreibung" class="tkd-input">
        </div>

        <div class="flex flex-col">
            <span class="text-primary">Benutzer:</span>
            <nz-select name="appliesToUser" [nzMode]="'tags'" [(ngModel)]="constraint.appliesToUser">
                <nz-option *ngFor="let user of users" [nzLabel]="user.fullname || user.name" [nzValue]="user.name"></nz-option>
            </nz-select>
        </div>

        <div class="flex flex-col">
            <span class="text-primary">Rollen:</span>
            <nz-select name="appliesToRole" [nzMode]="'tags'" [(ngModel)]="constraint.appliesToRole">
                <nz-option *ngFor="let role of roles" [nzLabel]="role.name" [nzValue]="role.name"></nz-option>
            </nz-select>
        </div>

        <div class="flex flex-col">
            <label class="text-primary" name="hard" nz-checkbox [(ngModel)]="constraint.hard">Hard-Constraint</label>
        </div>
    </div>
</form>

<div class="flex flex-row gap-3 justify-end items-center">
    <ng-container *ngIf="isEdit">
        <button (click)="deleteConstraint()" class="tkd-btn tkd-danger tkd-outline">Löschen</button>
        <div class="flex-grow"></div>
    </ng-container>
    <button (click)="abort()" class="tkd-btn tkd-secondary tkd-outline">Abbrechen</button>
    <button (click)="save()" class="tkd-btn tkd-primary">Speichern</button>
</div>