<div class="change-password-container">
    <div class="current-user">
        <nz-avatar nzIcon="user" [nzSrc]="profile?.avatar" [nzSize]="128">
        </nz-avatar>
    </div>
    <h1 class="username">Hallo {{ profile?.fullname || profile?.name }},</h1>

    <p>Fülle folgendes Formular aus um dein Passwort zu ändern. Aus Sicherheitsgründen musst du auch dein aktuelles
        Passwort angeben:</p>

    <form nz-form [formGroup]="validateForm" class="change-password-form" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-control>
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="currentPassword" [(ngModel)]="currentPwd"
                        placeholder="Dein derzeitiges Passwort" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control>
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="Dein neues Passwort"
                        [(ngModel)]="newPwd" (ngModelChange)="onPasswordChange($event)" />
                </nz-input-group>
            </nz-form-control>

        </nz-form-item>

        <nz-form-item>
            <nz-form-control>
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="passwordRepeat" [(ngModel)]="repeatPwd"
                        placeholder="Dein neues Passwort wiederholen" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <span *ngIf="!!strength" class="strength-meter">
            Passwort-Stärke:
            <nz-tag *ngIf="newPwd != ''" [nzColor]="strength.color" nz-tooltip [nzTooltipTitle]="tooltipTemplate">{{
                strength.text }}
                <i nz-icon nzType="question-circle" nzTheme="outline"></i>
            </nz-tag>

            <ng-template #tooltipTemplate>
                Voraussichtlich benötigte Zeit um dein Passwort zu knacken:<br>
                <span [style.color]="strength.color"
                    style="font-weight: bold; font-size: 120%; display: block; text-align: center">
                    {{strength.crackTime}}
                </span>
            </ng-template>
        </span>

        <button nz-button class="form-button form-margin" [nzType]="'primary'">Passwort ändern</button>
        Oder gehe <a routerLink="../"> zurück </a>
    </form>

</div>