<button
  hlmBtn
  [variant]="variant()"
  [size]="size()"
  [appSheetTriggerFor]="sheet"
  class="w-full"
  side="right">
  <ng-content />
</button>

<hlm-sheet #sheet>
  <hlm-sheet-content *brnSheetContent="let ctx" class="!h-[100dvh] h-screen">
    <hlm-sheet-header>
      <ng-content select="[hlmSheetTitle]" />
      <ng-content select="[hlmSheetDescription" />
    </hlm-sheet-header>

    <ul class="mt-1 h-full overflow-scroll border-t border-border pt-1">
      @for (item of items(); track trackItem; let index = $index) {
        @for (grp of groups; track grp) {
          @if (grp.when()(item, items()[index - 1])) {
            <ng-container *ngTemplateOutlet="grp.templateRef" />
          }
        }

        <li
          (click)="selected.set(item); ctx.close()"
          class="flex cursor-pointer items-center rounded p-1.5 hover:bg-gray-100">
          <ng-container
            *ngTemplateOutlet="
              itemTemplate.templateRef;
              context: {
                $implicit: item,
              }
            " />
        </li>
      }
    </ul>
  </hlm-sheet-content>
</hlm-sheet>
