<h1 class="mb-2 text-2xl font-light font-lato" *ngIf="!modalRef">Neuer Abwesenheitsantrag</h1>

<div class="flex flex-col" *ngIf="isAdmin">
  <span class="font-medium">Mitarbeiter: </span>
  <nz-select [(ngModel)]="staffId">
    <nz-option *ngFor="let user of (users.users|async)" [nzValue]="user.user.id" [nzLabel]="user | displayName"></nz-option>
  </nz-select>
</div>


<div class="flex flex-col">
  <span class="font-medium">Antragsart: </span>
  <nz-select [(ngModel)]="requestType">
    <nz-option nzLabel="Urlaub" [nzValue]="requestTypes.Vacation"></nz-option>
    <nz-option nzLabel="ZA (wenn möglich)" [nzValue]="requestTypes.TimeOff"></nz-option>
    <nz-option nzLabel="Urlaub oder ZA" [nzValue]="requestTypes.Auto"></nz-option>
  </nz-select>
</div>

<div class="flex flex-col">
  <span class="font-medium">Beschreibung: <span class="text-sm italic text-tertiary">(optional)</span></span>
  <input class="tkd-input" type="text" [(ngModel)]="description">
</div>

<div class="flex flex-col">
  <span class="font-medium">Ein Tag oder ein Zeitraum: </span>
  <nz-select [(ngModel)]="createRange">
    <nz-option nzLabel="Ein Tag" [nzValue]="false"></nz-option>
    <nz-option nzLabel="Ein Zeitraum" [nzValue]="true"></nz-option>
  </nz-select>
</div>

<div class="flex flex-col">
  <ng-container *ngIf="createRange">
    <span class="mt-2 font-medium">Bitte wähle den Zeitraum:</span>
    <nz-range-picker nzInline [(ngModel)]="rangeDate" (ngModelChange)="onRangeChange($event)"></nz-range-picker>
  </ng-container>

  <ng-container *ngIf="!createRange">
    <span class="mt-2 font-medium">Bitte wähle ein Datum:</span>
    <nz-date-picker nzInline [ngModel]="singleDate" (ngModelChange)="onRangeChange([$event, $event])"></nz-date-picker>
  </ng-container>

  <span class="text-tertiary" *ngIf="dayKinds !== null">
    {{ dayKinds.workingDays}} Arbeitstage, {{ dayKinds.weekendDays }} Wochend-Tage und {{ dayKinds.publicHolidays }}
    Feiertage
  </span>
</div>

<div class="flex flex-row items-center justify-end gap-2 py-3 mt-3 border-t border-subtle">
  <button class="tkd-btn tkd-outline tkd-primary" *ngIf="!!modalRef"
    (click)="modalRef.triggerCancel()">Abbrechen</button>
  <button class="tkd-btn tkd-primary" (click)="create()" [disabled]="(isAdmin && !staffId) || (rangeDate === null)">Erstellen</button>
</div>
