<hlm-dialog-header>
  <h3 hlmDialogTitle>
    @if (isNew()) {
      Neuen Termin erstellen
    } @else {
      @if (edit()) {
        Termin bearbeiten
      } @else {
        Termin Details
      }
    }
  </h3>
  <p hlmDialogDescription></p>
</hlm-dialog-header>

<hlm-table
  class="w-full overflow-auto [&_hlm-td]:flex-1 [&_hlm-th]:h-8 [&_hlm-th]:sm:h-12 [&_hlm-trow]:flex-col [&_hlm-trow]:sm:flex-row">
  <hlm-trow>
    <hlm-th class="w-48 overflow-hidden text-ellipsis">Kalender</hlm-th>
    <hlm-td>
      @if (edit() && availableCalendars().length) {
        <brn-select [(ngModel)]="calendarId" required class="w-full">
          <hlm-select-trigger class="w-full flex-1">
            <hlm-select-value />
          </hlm-select-trigger>

          <hlm-select-content class="max-h-60">
            @for (cal of availableCalendars(); track cal.id) {
              <hlm-option [value]="cal.id">{{ cal.name }}</hlm-option>
            }
          </hlm-select-content>
        </brn-select>
      } @else {
        @if (user) {
          <app-avatar [user]="user()" showName="true" />
        } @else {
          <span>
            {{ calendar.name }}
          </span>
        }
      }
    </hlm-td>
  </hlm-trow>

  <hlm-trow>
    <hlm-th class="w-48 overflow-hidden text-ellipsis">
      Kunde / Zusammenfassung
    </hlm-th>
    <hlm-td class="whitespace-normal">
      @if (edit()) {
        <input
          type="text"
          required
          hlmInput
          [(ngModel)]="summary"
          [matAutocompleteDisabled]="
            disabledComplete() ||
            (matchingCustomers().length === 0 &&
              recentCalls().length === 0 &&
              matchingTreatments().length === 0)
          "
          (ngModelChange)="searchCustomer($event)"
          #trigger="matAutocompleteTrigger"
          [matAutocomplete]="isNew() ? auto : null"
          class="w-full flex-1" />

        <mat-autocomplete
          [displayWith]="customerName"
          #auto="matAutocomplete"
          (optionSelected)="handleCustomerSelection($event.option.value)">
          <label hlmLabel class="block p-2 pb-4 text-sm"
            >Bitte Kunde auswählen:</label
          >

          @if (isNew()) {
            @if (
              matchingCustomers().length && matchingCustomers();
              as customers
            ) {
              @for (customer of customers; track customer.id) {
                <mat-option
                  [value]="customer"
                  class="!h-auto !min-h-[unset] !p-2 !font-sans !text-sm !font-medium [&>span]:!w-full">
                  <div
                    class="flex w-full flex-row items-center justify-between">
                    <span class="font-bold">
                      {{ customer.lastName }} {{ customer.firstName }}
                    </span>

                    @if (
                      customer.addresses?.length > 0 && customer.addresses[0];
                      as addr
                    ) {
                      <span class="ml-2">
                        {{ addr.street }}, {{ addr.postalCode }} {{ addr.city }}
                      </span>
                    }
                  </div>
                </mat-option>
              }
            } @else if (matchingTreatments().length) {
              @for (treatment of matchingTreatments(); track treatment.name) {
                <mat-option
                  [value]="treatment.name"
                  class="!h-auto !min-h-[unset] !p-2 !font-sans !text-sm !font-bold [&>span]:!w-full">
                  {{ treatment.displayName || treatment.name }}
                </mat-option>
              }
            } @else {
              @for (option of recentCalls(); track option.name) {
                @if (option.customer; as customer) {
                  <mat-option
                    [value]="customer"
                    class="!h-auto !min-h-[unset] !p-2 !font-sans !text-sm !font-medium [&>span]:!w-full">
                    <div
                      class="flex w-full flex-row items-center justify-between">
                      <span class="font-bold">
                        {{ customer.lastName }} {{ customer.firstName }}
                      </span>

                      @if (
                        customer.addresses?.length > 0 && customer.addresses[0];
                        as addr
                      ) {
                        <span class="ml-2">
                          {{ addr.street }}, {{ addr.postalCode }}
                          {{ addr.city }}
                        </span>
                      }
                    </div>
                  </mat-option>
                } @else {
                  <mat-option
                    [value]="option"
                    class="!h-auto !min-h-[unset] !p-2 !font-sans !text-sm !font-bold [&>span]:!w-full">
                    {{ option.name }}
                  </mat-option>
                }
              }
            }
          }
        </mat-autocomplete>
      } @else {
        {{ event.summary }}

        @if (customer(); as customer) {
          <button hlmBtn variant="secondary" (click)="openCustomerDetails()">
            Kundendetails
          </button>
        }
      }
    </hlm-td>
  </hlm-trow>

  <hlm-trow>
    <hlm-th class="w-48 overflow-hidden text-ellipsis">Beschreibung</hlm-th>
    <hlm-td class="whitespace-normal">
      @if (edit()) {
        <ckeditor
          class="min-h-[80px] w-[200px] flex-[1_1_200px]"
          [editor]="editor"
          [config]="config"
          [(ngModel)]="description" />
      } @else {
        <span [innerHTML]="event.description || 'N/A'"></span>
      }
    </hlm-td>
  </hlm-trow>

  @if (
    availableResources().length > 0 &&
    (edit() || selectedResources().length > 0)
  ) {
    <hlm-trow>
      <hlm-th class="w-48 overflow-hidden text-ellipsis">Benötigt</hlm-th>
      <hlm-td class="flex flex-col items-start justify-start gap-1">
        <ul class="flex w-full flex-row justify-between gap-2">
          @for (res of availableResources(); track res.name) {
            <li>
              <label hlmLabel class="flex items-center">
                <hlm-checkbox
                  [ngModel]="selectedResources().includes(res.name)"
                  (ngModelChange)="toggleResource(res.name)"
                  [disabled]="!edit()"
                  class="mr-2" />
                {{ res.displayName }}
              </label>
            </li>
          }
        </ul>
      </hlm-td>
    </hlm-trow>
  }

  <hlm-trow>
    <hlm-th class="w-48 overflow-hidden text-ellipsis">Zeitraum</hlm-th>
    <hlm-td class="flex flex-col items-start justify-start gap-1">
      @if (edit()) {
        <tkd-date-picker
          required
          [minutes]="[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55]"
          class="inline-block w-full"
          [(ngModel)]="startTime"
          withTime="true" />

        <brn-select [(ngModel)]="duration" required duration class="w-full">
          <hlm-select-trigger class="[&>button]:w-full">
            <hlm-select-value class="w-full" />
          </hlm-select-trigger>

          <hlm-select-content>
            <hlm-option value="10m">10 Minuten</hlm-option>
            <hlm-option value="15m">15 Minuten</hlm-option>
            <hlm-option value="30m">30 Minuten</hlm-option>
            <hlm-option value="45m">45 Minuten</hlm-option>
            <hlm-option value="1h">1 Stunde</hlm-option>
            <hlm-option value="1h30m">1,5 Stunden</hlm-option>
            <hlm-option value="2h">2 Stunden</hlm-option>
          </hlm-select-content>
        </brn-select>
      } @else {
        <span class="flex flex-row items-center gap-2">
          <hlm-icon name="lucideCalendar" size="sm" />
          {{ event.startTime | toDate | date: 'longDate' }}
        </span>

        <span class="flex flex-row items-center gap-2">
          <hlm-icon name="lucideClock" size="sm" />
          {{ event.startTime | toDate | date: 'shortTime' }}
          -
          {{ event.endTime | toDate | date: 'shortTime' }}
        </span>
      }
    </hlm-td>
  </hlm-trow>

  @if (createTime(); as time) {
    <hlm-trow>
      <hlm-th class="w-48 overflow-hidden text-ellipsis">Erstellt am</hlm-th>
      <hlm-td class="whitespace-normal">
        {{ time | date: 'medium' }}
      </hlm-td>
    </hlm-trow>
  }
</hlm-table>

<div class="flex-grow"></div>

<hlm-dialog-footer
  class="mt-4 flex flex-row flex-wrap items-center justify-between gap-2 p-1">
  @if (isNew()) {
    <button
      variant="outline"
      hlmBtn
      (click)="useNewEventSheet()"
      class="flex flex-row items-center gap-2">
      Mehr

      <label hlmBadge size="default" class="text-sm"> Neu </label>
    </button>
    <div class="flex-grow"></div>
  }

  <button hlmBtn variant="secondary" (click)="close(null)">Schließen</button>

  <div class="flex flex-row flex-wrap items-center justify-end gap-2">
    @if (edit()) {
      <button hlmBtn (click)="isNew() ? create() : save()">Speichern</button>
    } @else {
      <button hlmBtn (click)="edit.set(true)">Bearbeiten</button>
    }

    @if (!isNew()) {
      <hlm-alert-dialog #deleteDialog>
        <button hlmBtn variant="destructive" brnAlertDialogTrigger>
          Löschen
        </button>

        <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
          <hlm-alert-dialog-header>
            <h3 hlmAlertDialogTitle>Bestätigung erforderlich</h3>
            <p hlmAlertDialogDescription>
              Möchtest du den Termin wirklich löschen
            </p>
          </hlm-alert-dialog-header>
          <hlm-alert-dialog-footer>
            <button hlmBtn variant="secondary" (click)="ctx.close()">
              Abbrechen
            </button>

            <button
              hlmBtn
              variant="destructive"
              (click)="delete(); ctx.close()">
              Löschen
            </button>
          </hlm-alert-dialog-footer>
        </hlm-alert-dialog-content>
      </hlm-alert-dialog>
    }
  </div>
</hlm-dialog-footer>
