<div class="flex justify-end">
  <div>
    <button class="tkd-icon-btn tkd-primary" nz-tooltip="Erstelle einen neuen Benutzer" [routerLink]="['create']">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
      </svg>
    </button>
  </div>
</div>
<nz-table #userTable class="bg-white rounded shadow" [nzData]="profiles">
    <thead>
        <tr>
            <th>Name</th>
            <ng-container *ngIf="!layout.isPhone">
                <th>Benutzername</th>
                <th>Telefon</th>
                <th>Mail</th>
                <th>Farbe</th>

                <th *ngFor="let prop of userProps">{{prop.displayName || prop.name}}</th>
                <th></th>

            </ng-container>
            <th *ngIf="layout.isPhone" nzWidth="40px"></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let  data of userTable.data">
            <tr [class.disabled]="!!data.disabled">
                <td class="username">
                    <nz-avatar nzIcon="user" [nzSrc]="data.avatar">
                    </nz-avatar>

                    {{data.fullname}}
                </td>
                <ng-container *ngIf="!layout.isPhone">
                    <td>{{data.name}}</td>
                    <td>
                        <li *ngFor="let phone of data.phoneNumbers">
                            <a [attr.href]="'tel:' + phone">{{ phone }}</a>
                        </li>
                    </td>
                    <td>
                        <li *ngFor="let mail of data.mail">
                            <a [attr.href]="'mailto:' + mail">{{ mail }}</a>
                        </li>
                    </td>
                    <td>
                        <span class="user-color" [style.backgroundColor]="data.color"
                            [style.color]="data.fontColor">{{data.color}}</span>
                    </td>

                    <td *ngFor="let prop of userProps">{{ data?.properties[prop.name] || 'N/A' }}</td>
                </ng-container>

                <td>
                  <button class="tkd-icon-btn tkd-small tkd-secondary no-shadow" [routerLink]="['/admin/identity/users/edit/', data.name]">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                    </svg>
                  </button>
                </td>

                <td *ngIf="layout.isPhone" [nzExpand]="expandSet.has(data.name)" nzWidth="40px"
                    (nzExpandChange)="onExpandChange(data.name, $event)">
                </td>
            </tr>
            <tr [nzExpand]="expandSet.has(data.name)">
                <span class="user-color" [style.backgroundColor]="data.color"
                    [style.color]="data.fontColor">{{data.color}}</span>

                <h3>Telefon</h3>
                <li *ngFor="let phone of data.phoneNumbers">
                    <a [attr.href]="'tel:' + phone">{{ phone }}</a>
                </li>

                <h3>Mail</h3>
                <li *ngFor="let mail of data.mail">
                    <a [attr.href]="'mailto:' + mail">{{ mail }}</a>
                </li>

                <ng-container *ngFor="let prop of userProps">
                    <h3>{{ prop.displayName || prop.name }}</h3>
                    <li>{{ data?.properties[prop.name] || 'N/A' }}</li>
                </ng-container>
            </tr>
        </ng-container>
    </tbody>
</nz-table>
