<section hlmCard>
  <div hlmCardHeader class="flex-col justify-between sm:flex-row">
    <div class="space-y-1.5">
      <h3 hlmCardTitle>
        {{ mailbox() }}
      </h3>
      <p hlmCardDescription>Aufnahmen in der Voice-Mail "{{ mailbox() }}"</p>
    </div>

    <div class="">
      <tkd-date-picker mode="single" [(ngModel)]="date" allowClear="true">
        <tkd-picker-trigger *datePickerInput />
      </tkd-date-picker>
    </div>
  </div>

  <div hlmCardHeader>
    <hlm-table>
      <hlm-trow>
        <hlm-th class="w-16"> Zeit </hlm-th>
        <hlm-th class="w-96"> Kunde / Anrufer </hlm-th>
      </hlm-trow>

      @for (data of recordings(); track data._id) {
        <hlm-trow>
          <hlm-td class="w-16">
            {{ data.localDate | date: 'short' }}
          </hlm-td>

          <hlm-td class="w-96">
            {{ data.from }}
          </hlm-td>
        </hlm-trow>
      }
    </hlm-table>
  </div>
</section>
