@import 'src/utils';

:host {
  @include page-host;
  
  position        : relative;
  display: block;
  & > * {
    display: block;
  }
}

.selection-container {
  flex-grow: 0;
  height   : fit-content;
}

audio {
    outline: none;
}

.date-selection {
  nz-date-picker {
    margin-left: 12px;
  }
  @include for-phone-only {
    nz-date-picker {
      margin-left: 0px;
      width: 100%;
    }
  }
}

.statistics {
  display        : flex;
  justify-content: space-evenly;
}

.data-container {
  padding: 0;
}

.customer-link {
  display: block;
}
