@import 'src/utils';

:host {
  position        : relative;
  display: block;
  & > * {
    display: block;
  }
}

.dash-card {
  box-shadow      : 0px 0px 2px 0px rgba(0, 21, 41, 0.08);
  background-color: white;
  flex-grow       : 1;
  padding         : 24px;
  margin          : 24px;

  &:not(:first-child) {
    margin-top: 0px;
  }

  border-radius: 4px;
}

.selection-container {
  flex-grow: 0;
  height   : fit-content;
}

audio {
    outline: none;
}

.date-selection {
  nz-date-picker {
    margin-left: 12px;
  }
  @include for-phone-only {
    nz-date-picker {
      margin-left: 0px;
      width: 100%;
    }
  }
}

.statistics {
  display        : flex;
  justify-content: space-evenly;
}

.data-container {
  padding: 0;
}

.customer-link {
  display: block;
}
