<ol class="flex flex-col h-full">
  @if (loading()) {
    <li
      class="relative flex flex-row items-center gap-2 p-2 overflow-hidden text-gray-900 border-b cursor-pointer border-border hover:bg-gray-50">
      <div class="flex w-0 flex-[0_0_2.5rem] flex-col gap-1 text-sm">
        <hlm-skeleton class="w-10 h-3" />
        <hlm-skeleton class="w-10 h-3" />
      </div>

      <hlm-skeleton class="w-32 h-3" />
    </li>
    <li
      class="relative flex flex-row items-center gap-2 p-2 overflow-hidden text-gray-900 border-b cursor-pointer border-border hover:bg-gray-50">
      <div class="flex w-0 flex-[0_0_2.5rem] flex-col gap-1 text-sm">
        <hlm-skeleton class="w-10 h-3" />
        <hlm-skeleton class="w-10 h-3" />
      </div>

      <hlm-skeleton class="h-3 w-52" />
    </li>
    <li
      class="relative flex flex-row items-center gap-2 p-2 overflow-hidden text-gray-900 border-b cursor-pointer border-border hover:bg-gray-50">
      <div class="flex w-0 flex-[0_0_2.5rem] flex-col gap-1 text-sm">
        <hlm-skeleton class="w-10 h-3" />
        <hlm-skeleton class="w-10 h-3" />
      </div>

      <hlm-skeleton class="w-40 h-3" />
    </li>
  } @else {
    @for (event of _computedEvents(); track event.uniqueId) {
      <li
        [userColorVars]="event.profile"
        class="relative flex flex-row items-center flex-shrink-0 gap-2 p-2 overflow-hidden text-gray-900 border-b cursor-pointer border-border hover:bg-gray-50"
        [ngClass]="{
          'bg-blue-50 opacity-75': event.isFree,
          'bg-yellow-50': event.isNow && !event.fullDay,
          'text-opacity-70': event.isOver,
        }"
        (click)="openEvent(event)">
        @if (showDate()) {
          <div
            class="flex flex-col text-sm"
            [class.w-48]="layout.md()"
            [class.w-14]="!layout.md()">
            <span>
              {{
                event.startTime
                  | toDate
                  | date: (layout.md() ? 'EE, d. MMMM y' : 'shortDate')
              }}
            </span>
            <span>
              {{ event.startTime | toDate | date: 'shortTime' }} -
              {{ event.endTime | toDate | date: 'shortTime' }}
            </span>
          </div>
        } @else {
          <hlm-tooltip>
            <div
              class="flex w-0 flex-[0_0_2.5rem] flex-col text-sm"
              hlmTooltipTrigger>
              <span>
                {{ event.startTime | toDate | date: 'shortTime' }}
              </span>
              <span>
                {{ event.endTime | toDate | date: 'shortTime' }}
              </span>
            </div>

            <span *brnTooltipContent>
              Dauer: {{ event.duration | duration: 'default-hours' }}
            </span>
          </hlm-tooltip>
        }

        <span
          class="flex-grow text-sm font-medium whitespace-normal text-ellipsis">
            @if(event.completed) {
              <span class="font-extrabold">
              ✓
              </span>
            }
              
          {{ event.summary }}
        </span>

        @if (layout.md()) {
          @if (event.profile) {
            <app-avatar [user]="event.profile" />
          } @else {
            <span>{{ event.calendar.name }} </span>
          }
        }

        <span
          class="absolute bottom-0 right-0 top-0 block h-full w-[4px] bg-[var(--user-color,transparent)]"></span>
      </li>
    } @empty {
      <li
        class="flex flex-col items-center self-stretch justify-center h-full gap-4 py-4">
        @if (onlyUpcoming()) {
          <hlm-icon name="lucideCircleCheck" size="xl" class="text-green-500" />
          Keine Termine mehr
        } @else {
          Keine Termine gefunden
        }
      </li>
    }
  }
</ol>
