<!-- TODO(ppacher): move inline style to scss -->
<div>
  <div class="grid w-full gap-4 leading-3 auto-cols-max font-lato"
    style="grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))">

    <a class="flex flex-col items-center justify-center h-20 px-2 text-center text-white rounded w-36 hover:bg-opacity-75 bg-primary hover:bg-primary hover:text-white"
      routerLink="/admin/identity/roles">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mb-1" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
      </svg>
      Rollen
    </a>

    <a class="flex flex-col items-center justify-center h-20 px-2 text-center text-white rounded w-36 hover:bg-opacity-75 bg-primary hover:bg-primary hover:text-white"
      routerLink="/infoscreen">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mb-1" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
      </svg>
      Infoscreens
    </a>

    <a class="flex flex-col items-center justify-center h-20 px-2 text-center text-white rounded w-36 hover:bg-opacity-75 bg-primary hover:bg-primary hover:text-white"
      routerLink="/admin/trigger">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mb-1" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z" />
      </svg>
      Trigger & Integrationen
    </a>

    <a class="flex flex-col items-center justify-center h-20 px-2 text-center text-white rounded w-36 hover:bg-opacity-75 bg-primary hover:bg-primary hover:text-white"
      routerLink="/admin/roster">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-8 h-8 mb-1"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
      Dienstplan 2
    </a>
  </div>

  <ng-container *ngFor="let cat of categories; trackBy: trackCategory">
    <span class="block mt-5 mb-3 text-base font-semibold text-secondary font-lato"
      *ngIf="cat.name">{{ cat.name }}</span>
    <div class="grid w-full gap-4 leading-3 auto-cols-max font-lato"
      style="grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))">
      <a class="flex flex-col items-center justify-center h-20 px-2 text-center text-white rounded w-36 hover:bg-opacity-75 bg-primary hover:bg-primary hover:text-white"
        *ngFor="let s of cat.schemas; trackBy: trackSchema" [routerLink]="'/admin/settings/' + s.name"
        [nz-tooltip]="s.description || null" nzTooltipPlacement="bottom">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mb-1" fill="none" viewBox="0 0 24 24"
          stroke="currentColor" *ngIf="!!s.svgData" [innerHTML]="dom.bypassSecurityTrustHtml(s.svgData)"></svg>
        {{ s.displayName || s.name }}
      </a>
    </div>
  </ng-container>
</div>
