<button
  class="flex w-full flex-row flex-nowrap items-center justify-between gap-2"
  [class.cursor-default]="readonly()"
  brnPopoverTrigger
  [brnPopoverTriggerFor]="readonly() ? null : popover">
  <div class="flex flex-row flex-wrap items-center gap-2">
    @for (tag of task().tags; track tag) {
      <span
        hlmBadge
        variant="secondary"
        [style.backgroundColor]="tag | tagColor: board()"
        [style.color]="tag | tagColor: board() | contrast">
        {{ tag }}
      </span>
    } @empty {
      <span class="text-gray-500">N/A</span>
    }
  </div>

  @if (!readonly()) {
    <hlm-icon name="lucideChevronDown" size="sm" class="text-gray-500" />
  }
</button>

<brn-popover #popover>
  <brn-cmd
    *brnPopoverContent="let ctx"
    hlmPopoverContent
    hlm
    class="min-w-[200px] p-2">
    <label hlmLabel class="flex flex-row items-center gap-2 p-2">
      <hlm-icon name="lucideLayers" size="sm" />
      Tags verwalten
    </label>

    <hlm-cmd-input-wrapper
      class="w-[var(--width)]"
      [style.--width]="componentWidth()">
      <hlm-icon name="lucideSearch" />
      <input placeholder="Labels / Tags suchen ..." brnCmdInput hlm />
    </hlm-cmd-input-wrapper>

    <div *brnCmdEmpty hlmCmdEmpty>Keine Tag gefunden</div>

    <brn-cmd-list hlm>
      <brn-cmd-group hlm>
        @for (tag of board().allowedTaskTags; track tag.tag) {
          <button
            brnCmdItem
            (selected)="toggleTag.emit(tag.tag)"
            hlm
            class="flex flex-row items-center text-left">
            <hlm-icon
              [class.opacity-0]="!task().tags.includes(tag.tag)"
              name="lucideCheck"
              hlmCmdIcon />
            {{ tag.tag }}
          </button>
        }
      </brn-cmd-group>
    </brn-cmd-list>
  </brn-cmd>
</brn-popover>
