<hlm-table>
  @for (shift of userShifts(); track shift) {
    @if (shift.workShiftId | workshift: definitions(); as shiftDef) {
      <hlm-trow
        [ngClass]="{
          'bg-sky-300/50': shiftDef.onHoliday,
          'bg-yellow-50': (shift.from | toDate | isSameDay: today()),
        }">
        <hlm-td class="w-32">
          <span hlmBadge variant="secondary">{{
            shift.from | toDate | date: 'shortDate'
          }}</span>
        </hlm-td>

        <hlm-td class="flex flex-grow flex-row items-center gap-2">
          <span
            class="block h-4 w-4 rounded"
            [style.backgroundColor]="shiftDef?.color"></span>
          {{ shiftDef.name }}
          <span class="text-sm text-gray-700">
            ({{ shiftDef.displayName }})
          </span>
        </hlm-td>

        <hlm-td class="w-64 text-sm">
          <div class="flex flex-col">
            <span>{{ shift.from | toDate | date: 'shortTime' }}</span>
            <span>{{ shift.to | toDate | date: 'shortTime' }}</span>
          </div>
        </hlm-td>
      </hlm-trow>
    }
  }
</hlm-table>
