.create-overwrite {
    border: 1px solid rgba(211, 211, 211, 0.76);
    border-left: 4px solid rgb(32, 132, 178);
    padding: 16px;
    margin-bottom: 8px;
    border-radius: 3px;;

    h2 {
        font-size: 110%;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

}
    nz-date-picker {
        margin-left: 12px;
        margin-right: 12px;
    }

.datetime-selector {
    display: flex;

    nz-select {
        min-width: 250px;
    }

    .datetime-container {
        margin-left: 12px;
        flex-grow: 1;
    }
}

.date-time {
    padding-top: 2px;
    padding-bottom: 2px;
    & > span:first-of-type {
        display: inline-block;
        width: 40px;
    }
}

.select-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.user-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 6px;

    &:not(:last-of-type) {
        border-bottom: 1px solid lightgray;
        margin-bottom: 6px;
        padding-bottom: 6px;
    }
}



.user, .quick-setting {
    display: inline-block;
    border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    nz-avatar {
        margin-right: 6px;
    }

    &.selected {
        background-color: rgba(211, 211, 211, 0.35);
    }

    &:hover {
        background-color: rgba(211, 211, 211, 0.35);
    }
}

.quick-setting {
    display: flex;
    flex-direction: row;

    & > div {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;

        .number {
            font-weight: 300;
            font-size: 95%;
            margin-top: -6px;
        }
    }
}