.create-overwrite {
  border: 1px solid rgba(211, 211, 211, 0.76);
  border-left: 4px solid rgba(32, 132, 178, 0.5);
  padding: 16px;
  margin-bottom: 8px;
  border-radius: 3px;

  &.ready {
    border-left: 4px solid rgba(32, 132, 178, 1);
  }

  &.warn {
    border-left: 4px solid rgb(178, 32, 39);
  }

  h2 {
    font-size: 110%;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

nz-date-picker {
  margin-left: 12px;
  margin-right: 12px;
}

.current-state {
  opacity: .85;
  nz-avatar {
    margin-right: -3px;
  }
}

.overlap {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 3px;;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;

  .times {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    font-size: 95%;
    font-weight: 300;
    margin-right: 18px;
  }

  .target {
    flex-grow: 1;
  }

  .user-avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    nz-avatar {
      margin-right: 6px;
    }
  }

  &:hover {
    background-color:  rgba(211, 211, 211, 0.5);
  }

  .delete-overwrite {
    cursor: pointer;
    &:hover {
      color: rgb(178, 32, 39);
    }
  }
}

.datetime-selector {
  display: flex;

  nz-select {
    min-width: 250px;
  }

  .datetime-container {
    margin-left: 12px;
    flex-grow: 1;
  }
}

.date-time {
  padding-top: 2px;
  padding-bottom: 2px;

  &>span:first-of-type {
    display: inline-block;
    width: 40px;
  }
}

.select-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.user-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 6px;

  &:not(:last-of-type) {
    border-bottom: 1px solid lightgray;
    margin-bottom: 6px;
    padding-bottom: 6px;
  }
}

.user,
.quick-setting {
  display: inline-block;
  border-radius: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;

  nz-avatar {
    margin-right: 6px;
  }

  &.selected {
    background-color: rgba(211, 211, 211, 0.35);
  }

  &:hover {
    background-color: rgba(211, 211, 211, 0.35);
  }
}

.quick-setting {
  display: flex;
  flex-direction: row;

  &>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .number {
      font-weight: 300;
      font-size: 95%;
      margin-top: -6px;
    }
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  button:not(:last-of-type) {
    margin-right: 6px;
  }
}
