<brn-table
  hlm
  [dataSource]="loading() ? [] : paginator.data()"
  customTemplateDataRows="true"
  [trackBy]="trackRecord"
  [displayedColumns]="_computedDisplayedColumns()">
  <!-- Loading skeleton rows -->
  <ng-container brnNoDataRow>
    @if (loading()) {
      <hlm-trow class="flex flex-row">
        <hlm-td class="w-0 flex-[0_0_4rem] sm:flex-[0_0_9rem]">
          <hlm-skeleton class="h-8 w-8 rounded-full sm:w-32" />
        </hlm-td>

        <hlm-td class="w-0 flex-[0_0_8rem] sm:flex-[0_0_12rem]">
          <hlm-skeleton class="h-5 w-16" />
        </hlm-td>

        <hlm-td class="w-0 flex-[1_1_9rem]">
          <hlm-skeleton class="h-5 w-20 sm:w-64" />
        </hlm-td>

        <hlm-td class="w-0 flex-[0_0_4rem] p-0"> </hlm-td>
      </hlm-trow>

      <hlm-trow class="flex flex-row">
        <hlm-td class="w-0 flex-[0_0_4rem] sm:flex-[0_0_9rem]">
          <hlm-skeleton class="h-8 w-8 rounded-full sm:w-32" />
        </hlm-td>

        <hlm-td class="w-0 flex-[0_0_8rem] sm:flex-[0_0_12rem]">
          <hlm-skeleton class="h-5 w-20" />
        </hlm-td>

        <hlm-td class="w-0 flex-[1_1_9rem]">
          <hlm-skeleton class="h-5 w-24 sm:w-32" />
        </hlm-td>

        <hlm-td class="w-0 flex-[0_0_4rem] p-0"> </hlm-td>
      </hlm-trow>

      <hlm-trow class="flex flex-row">
        <hlm-td class="w-0 flex-[0_0_4rem] sm:flex-[0_0_9rem]">
          <hlm-skeleton class="h-8 w-8 rounded-full sm:w-32" />
        </hlm-td>

        <hlm-td class="w-0 flex-[0_0_8rem] sm:flex-[0_0_12rem]">
          <hlm-skeleton class="h-5 w-16" />
        </hlm-td>

        <hlm-td class="w-0 flex-[1_1_9rem]">
          <hlm-skeleton class="h-5 w-20 sm:w-64" />
        </hlm-td>

        <hlm-td class="w-0 flex-[0_0_4rem] p-0"> </hlm-td>
      </hlm-trow>
    } @else {
      <tkd-empty-table [totalCount]="0" [filteredCount]="0" />
    }
  </ng-container>

  <cdk-row
    (click)="openDetails(row)"
    *cdkRowDef="let row; columns: _computedDisplayedColumns()"
    class="flex w-fit min-w-[100%] cursor-pointer border-b border-border transition-[background-color] hover:bg-muted/50 [&:has([role=checkbox][aria-checked=true])]:bg-muted" />

  <brn-column-def
    [name]="cols.Icon"
    class="w-0 flex-[0_0_4rem] sm:flex-[0_0_9rem]">
    <hlm-th *brnHeaderDef>Typ</hlm-th>
    <hlm-td *brnCellDef="let row">
      <div
        hlmBadge
        class="flex w-fit flex-row items-center justify-center py-2 sm:w-32 sm:justify-start"
        [variant]="
          row.isLostOrUnanswared
            ? 'destructive'
            : row.outbound
              ? 'outline'
              : 'default'
        ">
        <hlm-icon [name]="row.iconName" size="sm" class="sm:mr-2" />
        <span
          class="hidden flex-grow items-center justify-center sm:inline-flex">
          @if (row.outbound) {
            Ausgehend
          } @else {
            Eingehend
          }
        </span>
      </div>
    </hlm-td>
  </brn-column-def>

  <brn-column-def
    [name]="cols.Time"
    class="w-0 flex-[0_0_8rem] sm:flex-[0_0_12rem]">
    <hlm-th *brnHeaderDef> Zeit </hlm-th>
    <hlm-td *brnCellDef="let row">
      <div class="flex flex-col gap-1">
        <span>{{ row.entry.receivedAt | toDate | date: 'short' }} </span>
        <span>{{ row.entry.duration | duration }}</span>
      </div>
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="cols.Participants" class="w-0 flex-[1_1_9rem]">
    <hlm-th *brnHeaderDef>
      <span class="hidden sm:inline">Anrufer und Ziel</span>
      <span class="sm:hidden">Kunde</span>
    </hlm-th>
    <hlm-td *brnCellDef="let row">
      <div class="sm:hidden">
        <ng-container
          *ngTemplateOutlet="
            customerTemplate;
            context: {
              $implicit: row,
            }
          " />
      </div>

      <div class="hidden w-full max-w-[350px] grid-cols-[1fr_3rem_1fr] sm:grid">
        @if (!row.outbound) {
          <ng-container
            *ngTemplateOutlet="
              customerTemplate;
              context: {
                $implicit: row,
              }
            " />
        } @else {
          <ng-container
            *ngTemplateOutlet="
              agentTemplate;
              context: {
                $implicit: row,
              }
            " />
        }

        <hlm-icon name="lucideArrowRight" size="sm" />

        @if (row.outbound) {
          <ng-container
            *ngTemplateOutlet="
              customerTemplate;
              context: {
                $implicit: row,
              }
            " />
        } @else {
          <ng-container
            *ngTemplateOutlet="
              agentTemplate;
              context: {
                $implicit: row,
              }
            " />
        }
      </div>
    </hlm-td>
  </brn-column-def>

  <brn-column-def [name]="cols.Actions" class="w-0 flex-[0_0_4rem] p-0">
    <hlm-th *brnHeaderDef></hlm-th>
    <hlm-td *brnCellDef="let row">
      <a
        hlmBtn
        variant="ghost"
        size="icon"
        class="h-full w-full"
        (click)="$event.stopPropagation()"
        [attr.href]="'tel:' + row.entry.caller">
        <hlm-icon name="lucidePhoneCall" />
      </a>
    </hlm-td>
  </brn-column-def>
</brn-table>

<ng-template #customerTemplate let-data [callLog]>
  @if (!!data.customer) {
    @if (data.customer.source === '__identities') {
      <span class="overflow-hidden text-ellipsis whitespace-normal">
        <span>{{ data.customer.id | toUser: profiles() | displayName }}</span>
        <br />
        <span class="italic text-gray-500"> ({{ data.entry.caller }}) </span>
      </span>
    } @else {
      <span class="overflow-hidden text-ellipsis whitespace-normal">
        <span>
          {{ data.customer.lastName }}&nbsp;{{ data.customer.firstName }}
        </span>
        <br />
        <span class="italic text-gray-500"> ({{ data.entry.caller }}) </span>
      </span>
    }
  } @else {
    <span>{{ data.entry.caller }}</span>
  }
</ng-template>

<ng-template #agentTemplate let-data [callLog]>
  @if (!!data.entry.agentUserId || data.entry.acceptedAgent) {
    @if (data.entry.agentUserId | toUser: profiles(); as profile) {
      <span class="overflow-hidden text-ellipsis whitespace-normal">
        <span>
          {{ profile | displayName }}
        </span>
        <br />
        <span class="italic text-gray-500">
          ({{ data.entry.acceptedAgent }})
        </span>
      </span>
    } @else {
      <span class="overflow-hidden text-ellipsis whitespace-normal">
        <span>
          {{
            (data.entry.acceptedAgent
              | knownPhoneExtension: phoneExtensions()) || 'Unbekannt'
          }}
        </span>
        <br />
        <span class="italic text-gray-500">
          ({{ data.entry.acceptedAgent }})
        </span>
      </span>
    }
  } @else {
    N/A
  }

  @if (data.entry.transferTarget) {
    <span class="transfer-target">
      (via
      {{ data.entry.transferTarget }}
      )
    </span>
  }
</ng-template>

<div class="flex justify-end">
  <tkd-pagination class="mt-4 w-full p-4 sm:w-fit" [paginator]="paginator" />
</div>
