<div
  class="flex flex-row flex-nowrap overflow-x-hidden"
  (swipeArrowControl)="handleSwipe($event)"
  #ctrl="swipeArrowControl">
  <ng-container #viewRef></ng-container>

  <!-- the view template -->
  <ng-template #viewTemplate let-ctx>
    <div
      class="w-full h-full flex-shrink-0 {{ classes() }}"
      [style.transform]="translateX()">
      {{ ctx.date | date: 'shortDate' }}
      {{ ctx.virtual }}
      <ng-container *ngTemplateOutlet="content.template; context: ctx" />
    </div>
  </ng-template>
</div>
