::ng-deep tkd-roster-planner .ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: white !important;
}

::ng-deep tkd-roster-planner .ant-picker-cell-inner:hover {
  background-color: #fafafa !important;
}

::ng-deep tkd-roster-planner nz-calendar-header {
  display: none !important;
}
