@if (_customer(); as customer) {
  <hlm-table class="w-full">
    <hlm-trow>
      <hlm-th class="w-40">Name</hlm-th>
      <hlm-td>{{ customer.firstName }} {{ customer.lastName }}</hlm-td>
    </hlm-trow>

    <hlm-trow>
      <hlm-th class="w-40">Addresse</hlm-th>
      <hlm-td class="flex-grow">
        <ul class="w-full space-y-2">
          @for (addr of customer.addresses; track addr) {
            <li>
              <div class="flex w-full flex-row justify-between">
                <div class="flex flex-col gap-1">
                  <span>{{ addr.street }}</span>
                  @if (addr.extra) {
                    <span>{{ addr.extra }}</span>
                  }
                  <span>{{ addr.postalCode }} {{ addr.city }}</span>
                </div>

                @if (addr | customerRoute; as url) {
                  <a
                    hlmBtn
                    variant="outline"
                    [attr.href]="url"
                    target="_blank"
                    size="icon">
                    <hlm-icon name="lucideMapPin" />
                  </a>
                }
              </div>
            </li>
          }
        </ul>
      </hlm-td>
    </hlm-trow>

    <hlm-trow>
      <hlm-th class="w-40">Telefon-Nummern</hlm-th>
      <hlm-td class="flex-grow">
        <ul class="w-full space-y-2">
          @for (number of customer.phoneNumbers; track number) {
            <li>
              <a href="tel:{{ number }}">{{ number }}</a>
            </li>
          }
        </ul>
      </hlm-td>
    </hlm-trow>

    <hlm-trow>
      <hlm-th class="w-40">E-Mail Addressen</hlm-th>
      <hlm-td>
        <ul>
          @for (number of customer.emailAddresses; track number) {
            <li>{{ number }}</li>
          }
        </ul>
      </hlm-td>
    </hlm-trow>
  </hlm-table>
}
