<ng-template
  [headerCell]="calendarType"
  #defaultHeaderCell="tkdCalendarHeaderCell"
  let-calendar>
  {{ calendar.name }}
</ng-template>

<ng-template
  [eventCell]="calendarType"
  #defaultEventCell="tkdCalendarEventCell"
  let-event>
  {{ event.id }}
</ng-template>

<header
  class="grid-container z-50 w-full flex-shrink-0 flex-grow-0 border-b border-border drop-shadow-sm"
  [style.gridTemplateColumns]="_computedGridTemplateColumns()"
  (swipe)="handleHeaderSwipe($event)">
  @for (cal of _computedCalendarsToDisplay(); track cal.id) {
    <div class="overflow-hidden text-ellipsis">
      <ng-container
        *ngTemplateOutlet="
          headerCell?.template || defaultHeaderCell.template;
          context: {
            $implicit: cal,
          }
        "></ng-container>
    </div>
  }
</header>

<div
  class="relative flex-grow !touch-pan-y flex-nowrap overflow-auto"
  #calendarContainer
  (swipe)="handleCalendarSwipe($event)"
  (scroll)="handleScroll($event)">
  <div
    class="grid-container w-full"
    [style.gridTemplateColumns]="_computedGridTemplateColumns()"
    [style.height]="24 * 3600 | secondsToPixel: sizeFactor()">
    @for (cal of _computedCalendarsToDisplay(); track cal.id) {
      <div
        #container
        tkdDebounceEvent="click"
        tkdDebounceStopEvent="dblclick"
        [tkdDebounceEventTime]="10"
        (tkdOnEvent)="handleCalendarClick($any($event), cal, container, false)"
        (dblclick)="handleCalendarClick($event, cal, container, true)"
        class="relative h-full"
        [attr.calendar-id]="cal.id">
        @for (h of hours; track h; let last = $last) {
          <div
            [attr.hour]="h"
            class="absolute w-full select-none border-t border-sky-900 border-opacity-50 p-2 text-xs"
            [ngClass]="{
              'border-b-8 border-b-primary': last,
            }"
            [ngStyle]="{
              top: (h * 60 * 60 | secondsToPixel: sizeFactor()) + 'px',
              height: (60 * 60 | secondsToPixel: sizeFactor()) + 'px',
            }">
            {{ h }}:00
          </div>
        }
        @if (cal.events | eventStyle: sizeFactor() : min; as events) {
          @for (event of events; track event.id) {
            <div
              class="absolute overflow-visible transition duration-150 ease-in-out"
              [ngClass]="{
                'hover:!z-[100]': !event.ignoreOverlapping,
              }"
              [attr.event-id]="event.uniqueId"
              [ngStyle]="event.style">
              <ng-container
                *ngTemplateOutlet="
                  eventCell?.template || defaultEventCell.template;
                  context: {
                    $implicit: event,
                    calendar: cal,
                  }
                ">
              </ng-container>
            </div>
          }
        }
      </div>
    }
  </div>

  <!-- Current Time Marker -->
  @if (showCurrentTime()) {
    <div
      class="absolute left-0 right-0 z-[100] select-none border-t border-primary drop-shadow"
      [style.top.px]="currentTime$ | async | secondsToPixel: sizeFactor()">
      <span
        class="absolute right-0 top-0 rounded-b bg-primary px-1 py-0.5 text-xs font-medium text-primary-foreground">
        {{ currentTime$ | async | time }}
      </span>
    </div>
  }
</div>
