@import '../../../utils';


.grid {
  display: grid;
  grid-gap: 12px;

  @include for-phone-only {
    padding: 0px;
    grid-gap: 6px;
  }
  grid-auto-rows: minmax(145px, auto);

  @include for-tablet-landscape-up {
    grid-template-columns: repeat(2, 1fr);
  }

  @include for-desktop-up {
    grid-template-columns: repeat(3, 1fr);
  }

  @include for-phone-only {
    ::ng-deep .ant-card-meta-title {
      font-size: 100%;
      padding-bottom: 6px;
    }
  }

  app-door-card {
    @include for-tablet-portrait-up {
      grid-column: 1 / span 2;
      grid-row: 1;
    }
    @include for-desktop-up {
      grid-column: auto;
    }
  }

  app-emergency-card {
    grid-column: 1;
  }
  app-roster-card {
    grid-column: 1;
    @include for-tablet-portrait-up {
      grid-column: 2;
      grid-row: 2 / span 2;
    }

    @include for-desktop-up {
      grid-row: auto;
      grid-column: 1;
    }
  }

  app-upcoming-events-card {
    grid-row: auto / span 3;
    @include for-tablet-portrait-up {
      grid-column: 1 / span 2;
      height: 700px;
    }
    @include for-desktop-up {
      grid-column: 2 / span 2;
      grid-row: 1 / span 4;
    }
  }

  app-trigger-action-card {
    grid-column: 1;
  }
}

::ng-deep nz-card {
  @apply h-full shadow-sm flex-grow relative;
  border-radius: 0.25rem !important;

  .ant-card-meta-title {
    @apply text-color-primary font-lato text-sm font-semibold;
  }
}

app-clock-card {
  @include for-phone-only {
    display: none;
  }
}

// TESTING
//
.select-appointment {
  border       : 1px solid #f0f0f0;
  border-radius: 2px;
  height       : 100%;
  padding      : 12px;

  span {
    font-weight: 300;
  }

  h3 {
    margin-bottom: 24px;
  }

  display       : flex;
  flex-direction: column;

  .form {
    height         : 100%;
    display        : flex;
    flex-direction : row;
    justify-content: flex-start;

    nz-steps {
      width       : 140px;
      margin-left : 24px;
      margin-right: 24px;
    }

    nz-divider.vertical-divider {
      height: 100%;
    }

    .divider-text {
      font-size: 90%;
    }

    .time-select {
      width         : 100%;
      display       : flex;
      flex-direction: column;
    }

    .quick-select {
      flex-grow    : 1;
      padding-left : 24px;
      padding-right: 24px;
    }

    .time-picker {
      span {
        margin-left : 12px;
        margin-right: 12px;
      }

      button.right {
        float: right;
      }
    }
  }
}

.username {
  nz-avatar {
    margin-right: 6px;
  }
}

.upcoming {
  border : 1px solid #f0f0f0;
  display: flex;
  height : 100%;

  .stats {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    width          : 150px;

    h1 {
      font-size    : 350%;
      font-weight  : 300;
      margin-bottom: -12px;
    }
  }

  .stats-details {
    flex-grow      : 1;
    display        : flex;
    flex-direction : row;
    justify-content: space-around;
    align-items    : center;

    nz-list {
      flex-grow: 1;
      padding  : 12px;
    }
  }
}

.time-range-picker {
  position       : relative;
  width          : 100%;
  display        : flex;
  flex-direction : column;
  justify-content: flex-start;

  .row {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 4px;
    margin-bottom  : 4px;

    .time-slots {
      display    : flex;
      height     : 40px;
      margin-left: 12px;
      width      : 70%;

      div {
        background : rgba(0, 255, 0, .3);
        width      : calc(100% / 39);
        overflow   : visible;
        border-left: 1px solid white;
        cursor     : pointer;

        &.off {
          background: rgba(255, 255, 255, 0.8);
        }

        &.busy {
          background: #f0f0f0;
          cursor    : not-allowed;
        }

        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }

      }
    }
  }

  .header {
    .time-slots {
      height: auto;

      div {
        text-align : center;
        font-size  : 8px;
        font-weight: 300;

        b {
          font-weight: bolder;
          font-size  : 10px;
        }

        &:hover {
          background: unset;
        }
      }
    }
  }
}
