:host {
    padding-right: 0px !important;
}

.large-grid {
    grid-template-columns: 2.5fr 5fr;
    grid-template-areas: 
        "emergency study"
        "roster calendar"
        "roster calendar"
        "roster calendar"
}

app-emergency-card {
    grid-area: emergency;
}

app-roster-card {
    grid-area: roster;
}

app-upcoming-events-card {
    grid-area: calendar;
}

app-study-card {
    grid-area: study;
}