<div class="grid overflow-x-hidden">
  @if (layout.isPhone) {
    @defer {
      <app-mobile-welcome-card></app-mobile-welcome-card>
    }
  }
  @if (hasDoctorOnDutyAccess) {
    @defer {
      <app-emergency-card class="dash-card"></app-emergency-card>
    }
  }
  @if (hasRosterAccess) {
    @defer {
      <app-roster-card (userHover)="hoveredUser.set($event)"> </app-roster-card>
    }
  }

  @defer {
    @for (name of mailboxes; track name) {
      <app-voicemail-card
        class="dash-card"
        [mailboxName]="name"></app-voicemail-card>
    }
  }

  @defer {
    <app-upcoming-events-card
      #upcomingEvents
      [displayedCalendars]="
        hoveredUser() ? [hoveredUser() | calendarId] : null
      " />
  }
</div>
