<div
  class="large-grid flex h-full flex-col items-stretch gap-2 overflow-x-hidden py-8 sm:grid sm:gap-3 md:gap-6 lg:gap-8">
  @if (!layout.sm()) {
    @defer {
      <app-mobile-welcome-card class="grid-start-1"></app-mobile-welcome-card>
    }
  }

  @defer {
    <app-emergency-card></app-emergency-card>
  }

  @defer {
    <app-roster-card (userHover)="hoveredUser.set($event)"> </app-roster-card>
  }

  @defer {
    <app-upcoming-events-card
      [displayedCalendars]="
        hoveredUser() ? [hoveredUser() | calendarId] : null
      " />
  }

  @defer {
    <app-study-card />
  }
</div>
