@import '../../../utils';

:host {
  background-color: #50566310;
  display         : block;
  min-height      : 100%;
  display         : flex;
  flex-direction  : column;
  position        : relative;
}

.top-row {
  display        : flex;
  flex-direction : column;
  justify-content: space-evenly;
  flex-wrap      : wrap;
  align-items    : center;
  padding        : 12px;

  @include for-tablet-landscape-up {
    flex-direction: row;
    padding       : 0;
    padding-top   : 48px;
    padding-bottom: 48px;
  }

  .dash-card {
    box-shadow: 0px 0px 2px 0px rgba(0, 21, 41, 0.08);
    min-width : 300px;
    @include for-tablet-landscape-up {
      min-width: 350px;
    }
    width     : 100%;
    height    : 145px;

    &:not(:last-child) {
      margin-bottom: 12px;
    }


    @include for-tablet-landscape-up {
      width: 30%;

      margin-bottom: 12px;
    }
  }
}

.placeholder-img {
  position  : absolute;
  bottom    : 0vh;
  opacity   : 0.2;
  height    : 50vh;
  min-height: 20vw;
  align-self: center;
  max-width: 100vw;
}



app-clock-card {
  @include for-phone-only {
    display: none;
  }
}

// TESTING
//
.select-appointment {
  border       : 1px solid #f0f0f0;
  border-radius: 2px;
  height       : 100%;
  padding      : 12px;

  span {
    font-weight: 300;
  }

  h3 {
    margin-bottom: 24px;
  }

  display       : flex;
  flex-direction: column;

  .form {
    height         : 100%;
    display        : flex;
    flex-direction : row;
    justify-content: flex-start;

    nz-steps {
      width       : 140px;
      margin-left : 24px;
      margin-right: 24px;
    }

    nz-divider.vertical-divider {
      height: 100%;
    }

    .divider-text {
      font-size: 90%;
    }

    .time-select {
      width         : 100%;
      display       : flex;
      flex-direction: column;
    }

    .quick-select {
      flex-grow    : 1;
      padding-left : 24px;
      padding-right: 24px;
    }

    .time-picker {
      span {
        margin-left : 12px;
        margin-right: 12px;
      }

      button.right {
        float: right;
      }
    }
  }
}

.username {
  nz-avatar {
    margin-right: 6px;
  }
}

.upcoming {
  border : 1px solid #f0f0f0;
  display: flex;
  height : 100%;

  .stats {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    width          : 150px;

    h1 {
      font-size    : 350%;
      font-weight  : 300;
      margin-bottom: -12px;
    }
  }

  .stats-details {
    flex-grow      : 1;
    display        : flex;
    flex-direction : row;
    justify-content: space-around;
    align-items    : center;

    nz-list {
      flex-grow: 1;
      padding  : 12px;
    }
  }
}

.time-range-picker {
  position       : relative;
  width          : 100%;
  display        : flex;
  flex-direction : column;
  justify-content: flex-start;

  .row {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 4px;
    margin-bottom  : 4px;

    .time-slots {
      display    : flex;
      height     : 40px;
      margin-left: 12px;
      width      : 70%;

      div {
        background : rgba(0, 255, 0, .3);
        width      : calc(100% / 39);
        overflow   : visible;
        border-left: 1px solid white;
        cursor     : pointer;

        &.off {
          background: rgba(255, 255, 255, 0.8);
        }

        &.busy {
          background: #f0f0f0;
          cursor    : not-allowed;
        }

        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }

      }
    }
  }

  .header {
    .time-slots {
      height: auto;

      div {
        text-align : center;
        font-size  : 8px;
        font-weight: 300;

        b {
          font-weight: bolder;
          font-size  : 10px;
        }

        &:hover {
          background: unset;
        }
      }
    }
  }
}
