<hlm-sheet>
  <button class="hidden" brnSheetTrigger side="right"></button>

  @if (task()?.id) {
    <hlm-sheet-content
      *brnSheetContent
      class="flex w-screen !max-w-[unset] flex-col gap-0 overflow-auto rounded-l-3xl p-0 lg:w-[70vw] lg:!max-w-[1200px]">
      <hlm-sheet-header class="border-b border-border p-6 text-left">
        <label hlmLabel>Zusammenfassung</label>
        <h3 hlmSheetTitle class="flex flex-row items-center justify-between">
          <span class="flex flex-row gap-4">
            @if (!editTitle()) {
              {{ task().title }}
            } @else {
              <input type="text" hlmInput [(ngModel)]="title" />
            }

            @if (task().status; as status) {
              <span class="inline-flex flex-row items-center">
                <label
                  hlmBadge
                  [style.color]="status | statusColor: board() | contrast"
                  [style.backgroundColor]="status | statusColor: board()">
                  {{ status }}
                </label>
              </span>
            }
          </span>

          <button
            hlmBtn
            variant="outline"
            size="sm"
            (click)="toggleEditTitle()">
            {{ editTitle() ? 'Speichern' : 'Bearbeiten' }}
          </button>
        </h3>
        <p hlmSheetDescription>
          Erstellt von
          <span hlmBadge>{{
            task().creatorId | toUser: profiles() | displayName
          }}</span>
          am {{ task().createTime | toDate | date: 'longDate' }}
        </p>
      </hlm-sheet-header>

      <div class="flex w-full flex-grow flex-col md:flex-row">
        <div
          class="flex flex-grow flex-col overflow-auto border-r border-border p-6 pt-4">
          <label
            hlmLabel
            class="mb-4 flex flex-row items-center justify-between">
            Beschreibung
            <button
              hlmBtn
              variant="outline"
              size="sm"
              (click)="toggleEditDescription()">
              {{ editDescription() ? 'Speichern' : 'Bearbeiten' }}
            </button>
          </label>

          @if (!editDescription()) {
            <div class="w-full rounded-md border border-border">
              <header
                [style.--user-color-opacity]="0.15"
                class="flex w-full flex-row items-center gap-2 rounded-t-md border-b border-border bg-[var(--user-color)] p-2 px-4"
                [userColorVars]="task().creatorId">
                <app-avatar
                  class="text-sm font-medium"
                  [user]="task().creatorId"
                  variant="small"
                  showName="true" />
              </header>
              <div class="prose px-4">
                <markdown [data]="task().description || 'N/A'" />
              </div>
            </div>
          } @else {
            <ckeditor [editor]="editor" [(ngModel)]="description"></ckeditor>
          }

          <ol class="relative ml-8 space-y-4 border-l border-border pr-8 pt-8">
            @for (tl of timeline(); track tl.id) {
              <li
                class="relative -left-6 top-2 flex flex-row items-center gap-4 p-1.5"
                [ngClass]="{
                  'rounded-md border border-border bg-gray-100/75':
                    tl.kind.case === 'valueChange',
                }">
                <hlm-tooltip>
                  <span
                    [userColorVars]="tl.userId"
                    hlmTooltipTrigger
                    class="flex flex-row items-center justify-center rounded-full border border-border bg-white p-2 text-[var(--user-color)]">
                    <hlm-icon name="lucideActivity" size="sm" />
                  </span>
                  <span *brnTooltipContent hlm>
                    {{ tl.createTime | toDate | date: 'long' }}
                  </span>
                </hlm-tooltip>

                <app-timeline-entry
                  [entry]="tl"
                  [board]="board()"
                  class="block w-full" />
              </li>
            }

            <li
              class="relative -left-6 top-2 flex flex-col items-stretch gap-4 bg-white">
              <ckeditor
                [editor]="editor"
                [(ngModel)]="newCommentText"
                class="w-full" />

              <button hlmBtn (click)="createComment()">
                Kommentar erstellen
              </button>
            </li>
          </ol>
        </div>

        <div class="flex flex-shrink-0 flex-col">
          <div class="border-b border-border p-6">
            <label hlmLabel class="py-3">Details</label>

            <hlm-table class="[&_hlm-td.flex-1>*]:w-full">
              @if (board().allowedTaskPriorities?.length) {
                <hlm-trow>
                  <hlm-td class="w-32 items-center gap-2 pl-0">
                    <hlm-icon name="lucideCircleDot" size="sm" />
                    Priorität
                  </hlm-td>

                  <hlm-td class="flex-1">
                    @defer {
                      <app-task-priority
                        [task]="task()"
                        [board]="board()"
                        (switch)="setPriority($event)" />
                    } @placeholder {
                      <hlm-skeleton class="h-5 w-32" />
                    }
                  </hlm-td>
                </hlm-trow>
              }

              @if (board().allowedTaskStatus?.length) {
                <hlm-trow>
                  <hlm-td class="w-32 items-center gap-2 pl-0">
                    <hlm-icon name="lucideCircleDot" size="sm" />
                    Status
                  </hlm-td>
                  <hlm-td class="flex-1">
                    @defer {
                      <app-task-status
                        [task]="task()"
                        [board]="board()"
                        (switch)="setStatus($event)" />
                    } @placeholder {
                      <hlm-skeleton class="h-5 w-16" />
                    }
                  </hlm-td>
                </hlm-trow>
              }

              <hlm-trow>
                <hlm-td class="w-32 items-center gap-2 pl-0">
                  <hlm-icon name="lucideUser" size="sm" />
                  Zugewiesen
                </hlm-td>
                <hlm-td class="flex-1">
                  @defer {
                    <app-task-assignee
                      [task]="task()"
                      [board]="board()"
                      (switch)="setAssignee($event)" />
                  } @placeholder {
                    <hlm-skeleton class="h-5 w-24" />
                  }
                </hlm-td>
              </hlm-trow>

              <hlm-trow>
                <hlm-td class="w-32 items-center gap-2 pl-0">
                  <hlm-icon name="lucideUser2" size="sm" />
                  Besitzer
                </hlm-td>
                <hlm-td class="flex-1">
                  <app-avatar
                    [user]="task().creatorId"
                    showName="true"
                    variant="small" />
                </hlm-td>
              </hlm-trow>

              <hlm-trow>
                <hlm-td class="w-32 items-center gap-2 pl-0">
                  <hlm-icon name="lucideClock" size="sm" />
                  Erstellt am
                </hlm-td>
                <hlm-td class="flex-1">
                  <span>{{ task().createTime | toDate | date: 'short' }}</span>
                </hlm-td>
              </hlm-trow>

              <hlm-trow>
                <hlm-td class="w-32 items-center gap-2 pl-0">
                  <hlm-icon name="lucideCalendarCheck" size="sm" />
                  Fertig bis
                </hlm-td>
                <hlm-td class="flex-1">
                  @defer {
                    <tkd-date-picker
                      [ngModel]="
                        task().dueTime ? (task().dueTime | toDate) : null
                      "
                      (ngModelChange)="updateDueTime($event)"
                      allowClear="true"
                      mode="single">
                      <div *datePickerInput class="cursor-pointer">
                        @if (task().dueTime; as dueTime) {
                          {{ dueTime | toDate | date: 'short' }}
                        } @else {
                          <span class="text-gray-500">Nicht angegeben</span>
                        }
                      </div>
                    </tkd-date-picker>
                  } @placeholder {
                    <hlm-skeleton class="h-5 w-20" />
                  }
                </hlm-td>
              </hlm-trow>

              <hlm-trow>
                <hlm-td class="w-32 items-center gap-2 pl-0">
                  <hlm-icon name="lucideCalendarCheck" size="sm" />
                  Nicht bevor
                </hlm-td>
                <hlm-td class="flex-1">
                  @defer {
                    <tkd-date-picker
                      [ngModel]="
                        task().notBefore ? (task().notBefore | toDate) : null
                      "
                      (ngModelChange)="updateNotBefore($event)"
                      allowClear="true"
                      mode="single">
                      <div *datePickerInput class="cursor-pointer">
                        @if (task().notBefore; as notBefore) {
                          {{ notBefore | toDate | date: 'short' }}
                        } @else {
                          <span class="text-gray-500">Nicht angegeben</span>
                        }
                      </div>
                    </tkd-date-picker>
                  } @placeholder {
                    <hlm-skeleton class="h-5 w-20" />
                  }
                </hlm-td>
              </hlm-trow>

              @if (board().allowedTaskTags?.length) {
                <hlm-trow>
                  <hlm-td class="w-32 items-start gap-2 pl-0">
                    <hlm-icon name="lucideTags" size="sm" />
                    Labels
                  </hlm-td>
                  <hlm-td class="flex-1">
                    @defer (on idle) {
                      <app-tag-list
                        [task]="task()"
                        [board]="board()"
                        (toggleTag)="toggleTag($event)" />
                    }
                  </hlm-td>
                </hlm-trow>
              }
            </hlm-table>
          </div>

          <div
            class="flex flex-col items-stretch gap-2 p-4 [&>button]:justify-start">
            <label hlmLabel class="py-3">Aktionen</label>

            @if (!task().completeTime) {
              <button hlmBtn variant="ghost" (click)="completeTask()">
                <hlm-icon name="lucideCheckCheck" class="mr-4" />
                Als Fertig markieren
              </button>
            }

            <button hlmBtn variant="ghost">
              <hlm-icon name="lucideMoveHorizontal" class="mr-4" />
              Verschieben
            </button>

            <button
              hlmBtn
              variant="ghost"
              [routerLink]="['/tasks', task().boardId]">
              <hlm-icon name="lucideLayers" class="mr-4" />
              Board öffnen
            </button>

            <app-subscription-button
              [id]="task().id"
              [service]="taskService"
              [subscription]="task().subscriptions" />

            <hlm-alert-dialog>
              <button
                hlmBtn
                brnAlertDialogTrigger
                variant="ghost"
                class="w-full justify-start text-red-500 hover:text-red-500">
                <hlm-icon name="lucideTrash2" class="mr-4" />
                Task Löschen
              </button>

              <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
                <hlm-alert-dialog-header>
                  <h3 hlmAlertDialogTitle>Bestätigung erforderlich</h3>
                  <p hlmAlertDialogDescription>
                    Möchtest du diesen Task wirklich löschen? Diese Aktion kann
                    nicht rückgängig gemacht werden!
                  </p>
                </hlm-alert-dialog-header>
                <hlm-alert-dialog-footer>
                  <button hlmAlertDialogCancel (click)="ctx.close()">
                    Nein
                  </button>

                  <button
                    hlmAlertDialogAction
                    class="!bg-destructive !text-destructive-foreground"
                    (click)="deleteTask(); ctx.close()">
                    Ja, löschen
                  </button>
                </hlm-alert-dialog-footer>
              </hlm-alert-dialog-content>
            </hlm-alert-dialog>
          </div>
        </div>
      </div>
    </hlm-sheet-content>
  }
</hlm-sheet>
