<div class="rounded bg-white shadow">
  <div
    class="flex flex-row items-center justify-between border-b border-border p-4 sm:p-6 md:p-8">
    <div>
      <h1 class="text-lato text-lg text-sky-800">
        Antrag auf Urlaub/Zeitausgleich
      </h1>
      @if (layout.sm() && vacation(); as vacation) {
        <span class="text-gray-500">
          Bis zum Ende des Jahres hast du noch
          <span
            [ngClass]="{
              'text-green-700': vacation.vacationCreditsLeft.seconds > 0,
              'text-red-700': vacation.vacationCreditsLeft.seconds <= 0,
            }"
            class="font-medium underline">
            {{
              vacation.vacationCreditsLeft
                | duration: 'default-hours' : undefined
            }}
          </span>

          Urlaubsanspruch. Dein Zeitausgleich-Guthaben beträgt derzeit

          <span
            [ngClass]="{
              'text-green-700': vacation.timeOffCredits.seconds > 0,
              'text-red-700': vacation.timeOffCredits.seconds <= 0,
            }"
            class="font-medium underline">
            {{
              vacation.timeOffCredits | duration: 'default-hours' : undefined
            }}</span
          >
        </span>
      }
    </div>
  </div>

  <form class="flex flex-col" #requestForm="ngForm">
    <div
      class="relative flex flex-col items-start justify-start gap-3 border-b border-border p-4 pl-16">
      <label
        class="absolute bottom-0 left-0 top-0 flex w-12 flex-col items-center justify-center bg-gray-100 p-2 text-xl text-sky-800">
        1.
      </label>

      <label hlmLabel> Bitte wähle den gewünschten Zeitraum: </label>

      <label hlmLabel for="wholeDays" class="flex items-center">
        <hlm-checkbox
          name="wholeDays"
          class="mr-2"
          [ngModel]="!showTime()"
          (ngModelChange)="showTime.set(!showTime())" />
        Ganze Tage
      </label>

      <tkd-date-picker
        [ngClass]="{
          'rounded-md border border-border': layout.sm(),
        }"
        name="test"
        required
        [minutes]="[0, 15, 30, 45]"
        [variant]="layout.md() ? 'inline' : 'default'"
        [(ngModel)]="dateRange"
        allowOpenRange="false"
        [withTime]="showTime()"
        mode="range" />
    </div>

    <div
      class="relative flex flex-col items-start justify-start gap-3 border-b border-border p-4 pl-16">
      <label
        class="absolute bottom-0 left-0 top-0 flex w-12 flex-col items-center justify-center bg-gray-100 p-2 text-xl text-sky-800">
        2.
      </label>

      <label hlmLabel for="description">
        Hier kannst du eine zusätzliche Beschreibung angeben:
      </label>
      <ckeditor
        class="w-full max-w-full"
        [editor]="Editor"
        [(ngModel)]="description"
        name="description"></ckeditor>
    </div>

    <div
      class="relative flex flex-col items-start justify-start gap-3 border-b border-border p-4 pl-16">
      <label
        class="absolute bottom-0 left-0 top-0 flex w-12 flex-col items-center justify-center bg-gray-100 p-2 text-xl text-sky-800">
        3.
      </label>

      <label for="type" hlmLabel> Bitte wähle die Antragsart: </label>

      @if (layout.md()) {
        <brn-select
          placeholder="Bitte auswählen"
          required
          [(ngModel)]="offTimeType"
          name="type">
          <hlm-select-trigger class="w-56">
            <hlm-select-value />
          </hlm-select-trigger>

          <hlm-select-content>
            <hlm-option value="auto">Beliebig</hlm-option>
            <hlm-option value="vacation">Urlaub</hlm-option>
            <hlm-option value="timeoff">Zeitausgleich</hlm-option>
          </hlm-select-content>
        </brn-select>
      } @else {
        <hlm-sheet side="bottom">
          <button
            hlmBtn
            variant="secondary"
            class="border border-border"
            brnSheetTrigger>
            @switch (offTimeType()) {
              @case ('auto') {
                Beliebig
              }
              @case ('timeoff') {
                Zeitausgleich
              }
              @case ('vacation') {
                Urlaub
              }
            }
          </button>

          <hlm-sheet-content *brnSheetContent="let ctx">
            <hlm-sheet-header>
              <h3 hlmSheetTitle>Antrags-Art</h3>
              <p hlmSheetDescription>Bitte wähle die gewünschte Antrags-Art.</p>
            </hlm-sheet-header>

            <div class="mt-4 flex flex-col items-stretch justify-start gap-1">
              <button
                hlmBtn
                [variant]="offTimeType() === 'auto' ? 'secondary' : 'ghost'"
                class="w-full border border-border"
                (click)="offTimeType.set('auto'); ctx.close()">
                Beliebig
              </button>

              <button
                hlmBtn
                [variant]="offTimeType() === 'vacation' ? 'secondary' : 'ghost'"
                class="w-full border border-border"
                (click)="offTimeType.set('vacation'); ctx.close()">
                Urlaub
              </button>

              <button
                hlmBtn
                [variant]="offTimeType() === 'timeoff' ? 'secondary' : 'ghost'"
                class="w-full border border-border"
                (click)="offTimeType.set('timeoff'); ctx.close()">
                Zeitausgleich
              </button>
            </div>
          </hlm-sheet-content>
        </hlm-sheet>
      }
    </div>

    <div
      class="relative flex flex-col items-start justify-start gap-2 border-b border-border p-4 pl-16">
      <label
        class="absolute bottom-0 left-0 top-0 flex w-12 flex-col items-center justify-center bg-gray-100 p-2 text-xl text-sky-800">
        4.
      </label>

      <hlm-alert-dialog>
        <button
          hlmBtn
          type="button"
          [disabled]="requestForm.invalid"
          brnAlertDialogTrigger>
          Antrag erstellen
        </button>

        <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
          <hlm-alert-dialog-header>
            <h3 hlmAlertDialogTitle>Bestätigung erforderlich</h3>
            <p hlmAlertDialogDescription>
              Bitte überprüfe die Daten deines Antrags!
            </p>
          </hlm-alert-dialog-header>

          <hlm-table>
            <hlm-trow>
              <hlm-th class="w-16"> Von </hlm-th>
              <hlm-td>
                {{ dateRange()[0] | date: 'medium' }}
              </hlm-td>
            </hlm-trow>
            <hlm-trow>
              <hlm-th class="w-16"> Bis </hlm-th>
              <hlm-td>
                {{ dateRange()[1] | date: 'medium' }}
              </hlm-td>
            </hlm-trow>
            <hlm-trow>
              <hlm-th class="w-16">Antrags-Art</hlm-th>
              <hlm-td>
                @switch (offTimeType()) {
                  @case ('auto') {
                    Beliebig
                  }
                  @case ('timeoff') {
                    Zeitausgleich
                  }
                  @case ('vacation') {
                    Urlaub
                  }
                }
              </hlm-td>
            </hlm-trow>
            <hlm-trow>
              <hlm-th class="w-16">Beschreibung</hlm-th>
              <hlm-td>
                <markdown class="prose prose-sm">
                  {{ description() }}
                </markdown>
              </hlm-td>
            </hlm-trow>
          </hlm-table>

          <hlm-alert-dialog-footer
            class="flex flex-col-reverse flex-wrap gap-2 sm:flex-row">
            <button hlmBtn variant="secondary" (click)="ctx.close()">
              Abbrechen
            </button>

            <button
              hlmBtn
              (click)="createRequest()"
              [disabled]="requestForm.invalid"
              brnAlertDialogTrigger>
              Antrag erstellen
            </button>
          </hlm-alert-dialog-footer>
        </hlm-alert-dialog-content>
      </hlm-alert-dialog>
    </div>
  </form>
</div>
