<!-- Header Row -->
<div class="flex flex-row items-center space-x-4">
  <div
    class="
      block
      p-2.5
      w-12
      h-12
      bg-white
      rounded-full
      shadow
      text-color-primary
    "
    >
    @if (!!schema?.svgData) {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        [innerHTML]="domSanitizer.bypassSecurityTrustHtml(schema.svgData)"
        stroke="currentColor"
      ></svg>
    }
  </div>

  <div class="flex flex-col">
    <span class="text-base font-semibold font-lato text-primary">
      {{ schema?.displayName || schema?.name }}
    </span>
    @if (!!schema?.description) {
      <span class="text-secondary">
        {{ schema?.description }}
      </span>
    }
  </div>

  <div class="flex-grow"></div>

  <div class="flex flex-row space-x-3">
    @if (singleMode) {
      @if (schema.tests?.length > 0) {
        <button
          class="tkd-icon-btn tkd-primary tkd-small"
          nz-tooltip="Teste deine Einstellungen"
          (click)="testSetting()"
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z"
              />
          </svg>
        </button>
      }
      <button
        class="tkd-icon-btn tkd-primary tkd-small"
        (click)="saveSetting()"
        [disabled]="!singleValueModel?.dirty"
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          nz-tooltip="Speichern"
          >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4"
            />
        </svg>
      </button>
      <button
        class="tkd-icon-btn tkd-danger tkd-small"
        (click)="deleteSetting()"
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
            />
        </svg>
      </button>
    }

    @if (!singleMode) {
      <button
        class="tkd-icon-btn tkd-primary"
        nz-tooltip="Neuen Eintrag erstellen"
        [routerLink]="['new']"
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 6v6m0 0v6m0-6h6m-6 0H6"
            />
        </svg>
      </button>
    }
  </div>
</div>

@if (!!schema) {
  @if (!singleMode) {
    <nz-table
      #configTable
      [nzData]="configs | keyvalue"
      class="bg-white rounded shadow"
      >
      <thead>
        <tr>
          @for (spec of tableKeys; track spec) {
            <th [nz-tooltip]="spec.description">
              {{ spec.name }}
            </th>
          }
          <th class="w-32"></th>
        </tr>
      </thead>
      <tbody>
        @for ( data of configTable.data; track trackByKey($index,  data)) {
          <tr>
            @for (spec of tableKeys; track spec) {
              <td>
                @if (data.value[spec.name] !== undefined) {
                  <span
                    >
                    {{ data.value[spec.name] }}
                  </span>
                } @else {
                  <span class="text-xs text-tertiary">N/A</span>
                }
              </td>
            }
            <td class="flex items-center justify-end space-x-2">
              <button
                class="tkd-icon-btn tkd-small tkd-primary no-shadow"
                [routerLink]="[data.key]"
                >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                    />
                </svg>
              </button>
              <button
                class="tkd-icon-btn tkd-danger tkd-small no-shadow"
                (click)="deleteSetting(data.key)"
                >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                    />
                </svg>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
  } @else {
    <app-setting-editor
      [schema]="schema"
      [(ngModel)]="configs"
      #singleValueModel="ngModel"
      showIndex="false"
      [showHeader]="false"
    ></app-setting-editor>
  }
}
