@import 'src/utils';

:host {
    @include page-host;
}


.tag-list {
  margin-bottom : 12px;
  text-transform: uppercase;
}

.calllog-container {
  margin-top: 24px;
}

.chart-container {
  height    : 20vh;
  min-height: 100px;

  @include for-phone-only {
    display: none;
  }
}
