<div class="page-header">
  <div class="main-row">
    <div class="row-container">
      <fieldset>
        <legend>Name</legend>
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <span>
          {{ customer?.name }}&nbsp;{{ customer?.firstname }}
        </span>
      </fieldset>
    </div>
  </div>
  <div class="secondary-row">
    <div class="row-container justify-between phone-grid">
      <div class="info">
        <label>ID</label>
        <span>{{ customer?.cid || 'N/A'}}</span>
      </div>

      <div class="info">
        <label>Ursprung</label>
        <nz-tag [nzColor]="customer?.tagColor" nz-tooltip [nzTooltipTitle]="tooltipTemplate">{{ customer?.source }}
        </nz-tag>
        <ng-template #tooltipTemplate>
          Erstellt am: {{ customer.createdAt | date: 'short' }}<br />
          Zuletzt geändert am: {{ customer.modifiedAt | date: 'short' }}
        </ng-template>
      </div>

      <div class="info">
        <label>Summe Telefonate</label>
        <span>{{ (totalCallTime || 0) | duration }}</span>
      </div>

      <div class="info">
        <label>Letzter Anruf</label>
        <span>{{ callrecords.length > 0 ? (callrecords[0].date | date:'short':'':'de') : 'N/A' }}</span>
      </div>

      <div class="info">
        <label>Tiere</label>
        <span>{{ patients?.length || 0 }}</span>
      </div>

      <div class="info" *ngIf="!!missingData.length">
        <label>Fehlende Daten</label>
        <span>⚠️</span>
      </div>
    </div>
  </div>
</div>

<div class="content-wrapper">
  <nz-tabset [nzAnimated]="{inkBar:true, tabPane:false}">
    <nz-tab nzTitle="Übersicht">
      <div class="content-section" *ngIf="!!missingData.length">
        <h2>
          <i nz-icon nzType="warning" nzTheme="outline"></i>
          Nicht alle Kundendaten vorhanden
        </h2>
        <p>Bitte ergänze die folgenden Informationen:</p>
        <ul>
          <li *ngFor="let point of missingData">{{ point }}</li>
        </ul>
      </div>
      <div class="content-section">
        <nz-empty *ngIf="!customerComment; else: noteTemplate" nzNotFoundContent="Keine Kundennotiz"
          [nzNotFoundFooter]="editCustomerNote">
        </nz-empty>
        <ng-template #editCustomerNote>
          <button nz-button nzType="primary" (click)="editComment()">Beschreibung erstellen</button>
        </ng-template>
        <ng-template #noteTemplate>
          <app-comment [comment]="customerComment" [canReply]="false" [showReplies]="false"></app-comment>
          <div>
            <button nz-button nzType="link" (click)="editComment()">Beschreibung bearbeiten</button>
            <a nz-button (click)="toggleComments()" nzType="link">Alle anzeigen</a>
          </div>
        </ng-template>

        <nz-modal [(nzVisible)]="showCommentModal" nzTitle="Notiz bearbeiten" (nzOnCancel)="handleCommentCancel()"
          [nzWidth]="600" (nzOnOk)="handleCommentOk()">

          <ng-container *nzModalContent>
            <app-text-input *ngIf="showCommentModal" format="markdown" [(ngModel)]="commentText"></app-text-input>
          </ng-container>
        </nz-modal>
      </div>

      <div class="content-section">
        <nz-descriptions nzBordered>
          <nz-descriptions-item nzTitle="Name" [nzSpan]="3">{{customer?.name || 'N/A'}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Vorname" [nzSpan]="3">{{customer?.firstname || 'N/A'}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Titel" [nzSpan]="3">{{customer?.title || 'N/A'}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Gruppe" [nzSpan]="3">{{customer?.group || 'N/A'}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Impferinnerung" [nzSpan]="3">{{ customer?.vaccinationReminder ? 'Ja' : 'Nein'
            }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Telefon" [nzSpan]="3">
            <li *ngFor="let phone of customer?.distinctPhoneNumbers">{{phone}}</li>
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="E-Mail" [nzSpan]="3">
            <li *ngFor="let mail of customer?.mailAddresses">{{mail}}</li>
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Addresse" [nzSpan]="3">
            {{ customer?.street }}<br />
            {{ customer?.cityCode }}&nbsp;{{ customer?.city }}
          </nz-descriptions-item>
        </nz-descriptions>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Patienten">
      <div class="content-section">
        <nz-list nzSize="small">
          <nz-list-item *ngFor="let patient of patients">
            <nz-list-item-meta>
              <nz-list-item-meta-title>
                <ng-container *ngIf="patient.name; else noName">
                  {{ patient.name }}
                </ng-container>
                <ng-template #noName>
                  <i>Kein Name</i>
                </ng-template>
              </nz-list-item-meta-title>

              <nz-list-item-meta-description>
                {{ patient.species }}
                <ng-container *ngIf="patient.breed">
                  &nbsp;|&nbsp;{{ patient.breed }}
                </ng-container>
                <ng-container *ngIf="patient.birthday">
                  &nbsp; - <i nz-icon nzType="calendar" nzTheme="outline"></i> {{ patient.birthday }}
                </ng-container>
              </nz-list-item-meta-description>
            </nz-list-item-meta>
          </nz-list-item>
        </nz-list>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Anruf Journal">
      <ng-template nz-tab>
        <div class="content-section">
          <div class="chart-container">
            <ngx-charts-line-chart [scheme]="lineScheme" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
              [xAxis]="true" [yAxis]="true" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="false"
              [results]="callLogSeries">
            </ngx-charts-line-chart>
          </div>
          <div class="chart-container">
            <ngx-charts-heat-map [results]="heatMapSeries" [legend]="false" xAxisLabel="Wochentag" yAxisLabel="Uhrzeit"
              [scheme]="areaScheme" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true">
            </ngx-charts-heat-map>
          </div>

          <app-calllog-table [records]="callrecords" (totalCallTime)="totalCallTime = $event"></app-calllog-table>
        </div>
      </ng-template>
    </nz-tab>

    <nz-tab nzTitle="Erweitert">
      <ng-template nz-tab>
        <pre class="content-section">{{ customer | json }}</pre>
      </ng-template>
    </nz-tab>
  </nz-tabset>
</div>

<nz-drawer [nzClosable]=" true" [nzVisible]="showCommentDrawer" nzPlacement="right" (nzOnClose)="toggleComments()"
  [nzWidth]="layout.isPhone ? '100vw' : layout.isDesktopUp ? '25vw' : '50vw'">
  <ng-template [nzDrawerContent]>
    <div class="comment-container">
      <h2>Kommentare</h2>

      <app-comment *ngFor="let comment of allComments" [comment]="comment" (replied)="reload.next()" [nestedLimit]="2">
      </app-comment>

      <div class="create-comment-container">
        <h3>Erstelle einen neuen Kommentar:</h3>
        <app-text-input format="markdown" [(ngModel)]="commentText"></app-text-input>
        <button nz-button nzType="primary" (click)="handleCommentOk()">Kommentieren</button>
      </div>
    </div>
  </ng-template>
</nz-drawer>
