@import 'src/utils';

:host {
  @include page-host;
  padding: 0;
}

.chart-container {
  height    : 20vh;
  min-height: 100px;

  @include for-phone-only {
    display: none;
  }
}

nz-tag {
  text-transform: uppercase;
}

.phone-grid {
  @include for-phone-only {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap             : 5px;
  }
}
