@import 'src/utils';

:host {
  @apply block;
}


fieldset {
  min-width: 150px;
}

nz-tag {
  text-transform: uppercase;
}

.phone-grid {
  @include for-phone-only {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap             : 5px;
  }
}
