<div class="commenter-container">
  <nz-avatar nzIcon="user" nzSize="small" nzShape="square" [nzSrc]="(comment.comment.creatorId | toUser).user?.avatar">
  </nz-avatar>

  <div class="commenter">
    <span class="username">{{ (comment.comment.creatorId | toUser | displayName) || 'Unbekannt' }}</span>
    <span>erstellt am {{ comment.comment.createdAt | toDate | date:'short' }}</span>
  </div>
</div>
<div class="comment-content">

  @if (!rendered) {
    <markdown emoji class="prose-sm prose prose-important">
      {{comment.comment.content}}
    </markdown>
  }

  @if (rendered) {
    <div
    class="prose prose-sm prose-important" [innerHTML]="safeContent"></div>
  }

</div>

@if (canReply) {
  <p class="comment-actions">
    <a (click)="toggleReply()">Antworten</a>
  </p>
}

@if (reply) {
  <div class="create-comment-container">
    <app-text-input [(ngModel)]="commentText" format="markdown"></app-text-input>
    <div class="actions">
      <div>
        <button nz-button nzType="primary" nzSize="small" (click)="replyComment()">Kommentieren</button>
        <button nz-button nzType="text" nzSize="small" (click)="toggleReply()">Abbrechen</button>
      </div>
      <a href="https://guides.github.com/features/mastering-markdown/" target="_blank">Markdown</a>
    </div>
  </div>
}

@if (showReplies) {
  <div [class.replies]="nestedCount < nestedLimit">
    @for (reply of comment.answers; track reply) {
      <app-comment [comment]="reply" (replied)="replied.next($event)"
      [nestedLimit]="nestedLimit" [nestedCount]="nestedCount + 1"></app-comment>
    }
  </div>
}
