<div class="commenter-container">
  <nz-avatar nzIcon="user" nzSize="small" nzShape="square" [nzSrc]="comment.profile?.avatar">
  </nz-avatar>

  <div class="commenter">
    <span class="username">{{ comment.profile?.fullname || comment.profile?.name || 'Unbekannt' }}</span>
    <span>{{ comment.edited ? 'bearbeitet am ' : 'erstellt am '}} {{ comment.date.toLocaleDateString() }}, {{
      comment.date.toLocaleTimeString() }}</span>
  </div>
</div>
<p class="comment-content">
  <markdown emoji class="prose-sm prose prose-important">
    {{comment.message}}
  </markdown>
</p>
<p class="comment-actions" *ngIf="canReply">
  <a (click)="toggleReply()">Antworten</a>
</p>

<div *ngIf="reply" class="create-comment-container">
  <app-text-input [(ngModel)]="commentText" format="markdown"></app-text-input>
  <div class="actions">
    <div>
      <button nz-button nzType="primary" nzSize="small" (click)="replyComment()">Kommentieren</button>
      <button nz-button nzType="text" nzSize="small" (click)="toggleReply()">Abbrechen</button>
    </div>
    <a href="https://guides.github.com/features/mastering-markdown/" target="_blank">Markdown</a>
  </div>

</div>

<div [class.replies]="nestedCount < nestedLimit" *ngIf="showReplies">
  <app-comment *ngFor="let reply of comment.children" [comment]="reply" (replied)="replied.next($event)"
    [nestedLimit]="nestedLimit" [nestedCount]="nestedCount + 1"></app-comment>
</div>
