<div hlmCardHeader>
  <h3 hlmCardTitle>Letzte DICOM Studien</h3>
</div>

<div
  hlmCardContent
  class="flex max-h-[200px] flex-grow flex-col overflow-auto p-2 !pt-0 md:p-4 lg:p-6">
  <hlm-table class="flex-grow h-full">
    @for (study of studies(); track study.studyUid) {
      <hlm-trow class="hover:bg-gray-100">
        <hlm-td
          class="flex-row flex-1 gap-2 p-2 cursor-pointer"
          (click)="openStudyDialog(study)">
          <span class="flex flex-col items-end justify-start text-gray-700">
            @if (study.time | toDate; as date) {
              <span>
                {{ date | date: 'shortDate' }}
              </span>
              <span>
                {{ date | date: 'shortTime' }}
              </span>
            }
          </span>

          <span class="flex flex-col items-start justify-start">
            <span class="font-medium">{{ study.ownerName || 'N/A' }}</span>
            <span>
              {{ study.patientName || 'N/A' }}
            </span>
          </span>
        </hlm-td>

        <hlm-td class="flex flex-row gap-2 p-2">
          @if (study.previewUrls?.length) {
            @if (!layout.md()) {
              <img
                [attr.src]="study.previewUrls[0].url + '?viewport=70,70'"
                (click)="openInViewer(study)"
                class="w-12 cursor-pointer aspect-square min-h-12" />
            } @else {
              @for (url of study.previewUrls; track url.uid) {
                <img
                  [attr.src]="url.url + '?viewport=70,70'"
                  (click)="openInViewer(study, url.uid)"
                  class="w-12 cursor-pointer aspect-square min-h-12" />
              }
            }
          }
        </hlm-td>
      </hlm-trow>
    }
  </hlm-table>
</div>
