<div hlmCardHeader>
  <h3 hlmCardTitle>Letzte DICOM Studien</h3>
</div>

<div
  hlmCardContent
  class="flex max-h-[200px] flex-grow flex-col overflow-auto p-2 !pt-0 md:p-4 lg:p-6">
  <hlm-table>
    @for (study of studies(); track study.studyUid) {
      <hlm-trow (click)="openStudy(study)">
        <hlm-td class="flex-1">
          {{ study.ownerName }}, {{ study.patientName }}
        </hlm-td>
        <hlm-td class="h-8 w-8 p-0">
          @if (study.previewUrls?.length) {
            <img [attr.src]="study.previewUrls[0]" class="h-8 w-8" />
          }
        </hlm-td>
      </hlm-trow>
    }
  </hlm-table>
</div>
