<div hlmCardHeader>
  <h3 hlmCardTitle>Letzte DICOM Studien</h3>
</div>

<div
  hlmCardContent
  class="flex max-h-[200px] flex-grow flex-col overflow-auto p-2 !pt-0 md:p-4 lg:p-6">
  <hlm-table>
    @for (study of studies(); track study.studyUid) {
      <hlm-trow (click)="openStudy(study)">
        <hlm-td class="flex-1 flex-col items-start justify-start">
          <span class="font-medium">{{ study.ownerName }}</span>
          {{ study.patientName }}
        </hlm-td>

        <hlm-td class="min-h-12 w-12">
          @if (study.previewUrls?.length) {
            <img
              [attr.src]="study.previewUrls[0]"
              class="aspect-square min-h-12 w-12" />
          }
        </hlm-td>
      </hlm-trow>
    }
  </hlm-table>
</div>
