<div class="w-full p-4 bg-opacity-75 border rounded bg-subtle border-subtle">
  <span class="block mb-2 text-lg font-thin font-lato">Backlinks</span>

  <div class="prose prose-sm">
    <ul *ngIf="!!backlinks?.length; else: noBacklinksTemplate">
      <li *ngFor="let link of backlinks" [routerLink]="['/wiki/collection', link.collection]" [fragment]="link.path" class="outline-none cursor-pointer hover:text-color-primary-dark">
        {{ link.title }}
      </li>
    </ul>

    <ng-template #noBacklinksTemplate>
      <i class="w-full text-sm text-center text-secondary">Es wurden keine Links zu diesem Dokument gefunden.</i>
    </ng-template>

  </div>

</div>
