@switch (testState) {
@case ('') {
<div class="space-y-2 overflow-auto">
  <nz-select [(ngModel)]="selectedTest" class="w-full mb-4 border-b border-gray-100"
    nzPlaceHolder="Bitten wähle eine Test">
    @for (test of schema.tests; track test) {
    <nz-option [nzValue]="test" [nzLabel]="test.name || test.id" (ngModelChange)="values={}"></nz-option>
    }
  </nz-select>
  @for (spec of selectedTest?.spec; track spec) {
  <tkd-option-spec-input [spec]="spec" class="pb-2 border-b border-sky-900 border-opacity-20"
    [(ngModel)]="values[spec.name]"></tkd-option-spec-input>
  }
</div>
}
@case ("running") {
<div class="flex flex-col items-center justify-center w-full">
  <i nz-icon [nzType]="'loading'" style="font-size: 4rem"></i>
  Test wird ausgeführt
</div>
}
@case ("success") {
<div class="flex flex-col items-center justify-center w-full space-y-2">
  <svg xmlns="http://www.w3.org/2000/svg" class="
          w-16
          h-16
          p-2
          border
          rounded-full
          border-emerald-500
          text-emerald-500
        " fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
  </svg>
  <span class="text-xl text-sky-800 ">
    Test erfolgreich!
  </span>
</div>
}
@default {
<div class="flex flex-col items-center justify-center w-full space-y-2">
  <svg xmlns="http://www.w3.org/2000/svg" class="
          w-16
          h-16
          p-2
          border
          rounded-full
          text-red-700
          border-red-700
        " fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
  </svg>
  <span class="text-xl text-red-700 ">
    {{ testState }}
  </span>
  <button hlmBtn variant="outline" (click)="testState = ''">
    Erneut versuchen
  </button>
</div>
}
}

<div class="flex flex-row justify-end mt-4 space-x-2">
  <button hlmBtn variant="secondary" (click)="cancel()">
    Close
  </button>
  @if (testState === '') {
  <button hlmBtn (click)="executeTest()">
    Test
  </button>
  }
</div>
