@import '../utils';

:host {
  display                : flex;
  text-rendering         : optimizeLegibility;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
  max-width: 100vw;
}

.menu-sidebar {
  position  : relative;
  z-index   : 10;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
  //display   : none;

  @include for-tablet-portrait-up {
    display: block;
  }
}

.header-trigger {
  padding   : 0 24px;
  cursor    : pointer;
  transition: all .3s, padding 0s;
  display   : none;

  @include for-tablet-portrait-up {
    display: block;
  }
}

.header-logo {
  display     : none;
  padding-left: 12px;

  img {
    height      : 32px;
    margin-right: 12px;
  }

  h2 {
    font-size: 16px;
    margin   : 0;
  font-family   : Roboto, Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  }

  @include for-phone-only {
    display    : flex;
    align-items: center;
  }
}

app-header-title-outlet {
  display: block;

  font-size: 20px;
  font-weight: 300;
  font-family   : Roboto, Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;

  @include for-phone-only {
    display: none;
  }
}

.current-user {
  display    : flex;
  align-items: center;
  padding    : 0 12px;

  @include for-tablet-portrait-up {
    padding: 0 24px;
  }

  cursor : pointer;

  .username {
    margin-left: 12px;

    @include for-phone-only {
      display: none;
    }
  }
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position      : relative;
  height        : 64px;
  padding-left  : 24px;
  overflow      : hidden;
  line-height   : 64px;
  //background  : #001529;
  background    : white;
  transition    : all .3s;
}

.sidebar-logo img {
  display       : inline-block;
  height        : 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display       : inline-block;
  margin        : 0 0 0 10px;
  font-weight   : 300;
  font-size     : 18px;
  font-family   : Roboto, Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;

  span:first-of-type {
    margin-right: 0.2rem;
  }
}

li>i>fa-icon {
  position: relative;
  top     : -2px;
}

nz-header {
  padding: 0;
  width  : 100%;
  z-index: 2;
}

.sidebar-container {
  display: flex;
  height: 100%;
  flex-direction: column;

  ul {
    flex-grow: 1;
  }

}

.right-container {
  width: fit-content;
  display: flex;
  align-items: center;

  .drawer-trigger {
    display: none;

    @include for-phone-only {
      display: block;
      padding: 6px;
    }
  }
}

.copyright {
  color: white;
  text-align: center;
  display: block;
  font-size: 95%;
  opacity: 0.7;
  margin-bottom: 12px;
}

span.ant-avatar {
  overflow: hidden;

  img {
    width : 100%;
    height: auto;
  }
}

.app-header {
  position       : relative;
  height         : 64px;
  padding        : 0;
  background     : #fff;
  box-shadow     : 0 1px 4px rgba(0, 21, 41, .08);
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

nz-content {
  background-color: unset;
  display: flex;
  flex-direction: column;
}

.inner-content {
  box-shadow: inset 0px -1px 4px 0px rgba(0, 21, 41, 0.08);
  height    : 100%;
  overflow  : auto;
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}

.not-reachable-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  backdrop-filter : blur(10px);
  background-color: rgba(#f5f3f3, 0.45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;

  i {
    font-size: 350%;
    margin-bottom: 32px;
  }

  p {
    font-size: 150%;
    font-family: "Poppins";
  }
}
