<div class="flex h-screen w-screen print:h-auto">
  <!--
  Menu on Desktop and up
  -->
  @if (layout.md()) {
    <app-navigation class="z-10 block shadow-md print:hidden" />
  }

  <!--
  Next to the sidebar there's the main content container including the header
  -->
  <div
    class="flex flex-grow flex-col self-stretch overflow-x-hidden bg-white print:overflow-visible">
    <app-header />

    <content
      class="router-content flex w-full flex-grow items-stretch justify-items-stretch self-stretch overflow-auto bg-gray-100 bg-opacity-50"
      cdkScrollable>
      <router-outlet></router-outlet>
    </content>
  </div>
</div>

@if (!isReachable()) {
  <div class="not-reachable-container">
    <i nz-icon [nzType]="'sync'" [nzSpin]="true"></i>
    <p>Verbindung zu CIS unterbrochen</p>
    <p>Bitte haben Sie einen Moment Geduld!</p>
  </div>
}

<hlm-toaster />
