<ng-template #menuTemplate>
  <ul nz-menu nzTheme="light" nzMode="inline" class="tkd-menu">
    <li routerLink="/welcome" nzMatchRouter nz-menu-item>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
      </svg>
      <span>Dashboard</span>
    </li>

<!--
    <li *ngIf="canCreateEvent" routerLink="/create-event" nzMatchRouter nz-menu-item>
      <i nz-icon nzType="calendar" nzTheme="outline"></i>
      <span>Neuer Termin</span>
    </li>
-->

    <li routerLink="/calendar" nzMatchRouter nz-menu-item>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
      </svg>
      <span>Kalender</span>
    </li>

    <li *ngIf="hasRoster" routerLink="/roster" nzMatchRouter nz-menu-item>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Dienstplan</span>
    </li>

    <li *ngIf="hasCustomers" routerLink="/customer" nzMatchRouter nz-menu-item>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
      </svg>
      <span>Kunden</span>
    </li>

    <li routerLink="/xray" nzMatchRouter nz-menu-item>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 4v16M17 4v16M3 8h4m10 0h4M3 12h18M3 16h4m10 0h4M4 20h16a1 1 0 001-1V5a1 1 0 00-1-1H4a1 1 0 00-1 1v14a1 1 0 001 1z" />
      </svg>
      <span>Röntgen</span>
    </li>

    <li *ngIf="hasCallLog || hasVoiceMail" nz-submenu class="font-lato" nzTitle="Anrufe / Voice Mails" nzMatchRouter
      nzIcon="customer-service">
      <ul>
        <li *ngIf="hasCallLog" nz-menu-item nzMatchRouter routerLink="/calllogs">Anruf Journal</li>
        <ng-template [ngIf]="hasVoiceMail">
          <li *ngFor="let mailbox of mailboxes" nz-menu-item nzMatchRouter [routerLink]="['/voicemail', mailbox]">{{
            mailbox }}</li>
        </ng-template>
      </ul>
    </li>

    <li routerLink="/cctv" nzMatchRouter nz-menu-item>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
      </svg>
      <span>Video-Kameras</span>
    </li>

    <li nz-submenu nzTitle="Links" nzIcon="link" class="font-lato">
      <ul>
        <li *ngFor="let menu of subMenus" nz-submenu [nzTitle]="menu.Text">
          <a *ngFor="let item of menu.Items" nz-menu-item [attr.href]="item.Link"
            [attr.target]="item.BlankTarget ? '_blank' : null">
            <i *ngIf="!!item.Icon" nz-icon [nzType]="item.Icon"></i>
            <span>{{item.Text}}</span>
          </a>
        </li>

        <a *ngFor="let item of rootLinks" nz-menu-item [attr.href]="item.Link"
          [attr.target]="item.BlankTarget ? '_blank' : null">
          <i *ngIf="!!item.Icon" nz-icon [nzType]="item.Icon"></i>
          <span>{{item.Text}}</span>
        </a>
      </ul>
    </li>

    <li nz-submenu nzTitle="Administration" nzMatchRouter nzIcon="setting" class="font-lato">
      <ul>
        <li nz-menu-item nzMatchRouter routerLink="/admin/users">Benutzer / Mitarbeiter</li>
        <li nz-menu-item nzMatchRouter routerLink="/admin/import">Daten Import</li>
        <li nz-menu-item *ngIf="hasInfoScreen && infoScreenEnabled" nzMatchRouter routerLink="/infoscreen">Info-Screen
          Shows</li>
      </ul>
    </li>

    <ng-container *ngIf="layout.isPhone">
      <li nz-submenu nzTitle="Mein Konto" nzMatchRouter nzIcon="user">
        <ul>
          <li nz-menu-item routerLink="/profile">
            <i nz-icon nzType="user" nzTheme="outline"></i>
            Mein Profil
          </li>
          <li nz-menu-item routerLink="/roster" [queryParams]="{show: profile?.name}">
            <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
            Mein Dienstplan
          </li>
        </ul>
      <li nz-menu-item (click)="logout()">
        <i nz-icon nzType="logout" nzTheme="outline"></i>
        Logout
      </li>
    </ng-container>
  </ul>
</ng-template>

<!-- menu for mobile/phone -->
<nz-drawer *ngIf="layout.isPhone" [nzClosable]="false" [nzVisible]="!isCollapsed" nzPlacement="left"
  [nzTitle]="drawerTitleTemplate" (nzOnClose)="toggleMenu()" nzWrapClassName="menu-container">
  <div *nzDrawerContent class="px-2">
    <ng-container *ngTemplateOutlet="menuTemplate"></ng-container>
  </div>
</nz-drawer>
<ng-template #drawerTitleTemplate>
  <i nz-icon nzType="close" nzTheme="outline" (click)="toggleMenu()"></i>
</ng-template>


<div class="flex w-screen h-screen">
  <!--
    On tablet and up we have a sidebar for navigation
  -->
  <div *ngIf="(isLogin | async) === false && !layout.isPhone" class="flex relative z-10 flex-col p-2 w-64 h-full bg-white shadow-md sm:px-4">
    <div class="py-2 ml-1 h-14">
      <a class="flex items-center space-x-2" routerLink="/welcome">
        <img src="assets/logo.png" class="w-10 h-10" alt="logo">
        <h1 class="flex flex-col text-base font-semibold leading-4 font-lato">
          <span style="color: #1080cf">Tierklinik</span>
          <span style="color: #15377e">Dobersberg</span>
        </h1>
      </a>
    </div>

    <div class="flex-grow mt-4">
      <ng-container *ngTemplateOutlet="menuTemplate"></ng-container>
    </div>

    <span class="py-2 text-xs text-center text-tertiary">
      <i nz-icon nzType="copyright" nzTheme="outline"></i>
      Patrick Pacher 2020-2022
    </span>
  </div>

  <!--
    Next to the sidebar there's the main content container including the header
  -->
  <div class="flex overflow-x-hidden flex-col flex-grow self-stretch">
    <!-- App header is only visible if we're not on the login screen -->
    <div *ngIf="(isLogin | async) === false" class="flex relative flex-col p-0 px-2 mb-4 sm:px-4 md:px-8 lg:px-12">
      <div class="flex justify-between items-center py-4">
        <!-- On mobile the logo is put into the header -->
        <a class="block px-2 sm:hidden" routerLink="/welcome">
          <img class="w-8 h-8" src="assets/logo.png" alt="logo">
        </a>

        <app-header-title-outlet></app-header-title-outlet>

        <div class="flex items-center space-x-4">
          <i class="block sm:hidden" (click)="toggleMenu()" nz-icon nzType="menu" nzTheme="outline"></i>

          <ng-container *ngIf="(suggestionCount | async) as count">
            <button class="tkd-icon-btn tkd-small">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
              </svg>
            </button>
          </ng-container>

          <button *ngIf="!layout.isPhone" [class.tkd-danger]="!!overwriteTarget" [class.tkd-primary]="!overwriteTarget" class="tkd-btn tkd-outline" [nz-tooltip]="overwriteTarget ? overwriteTooltip : ''" routerLink="/roster/overwrite">
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
              <path d="M14.414 7l3.293-3.293a1 1 0 00-1.414-1.414L13 5.586V4a1 1 0 10-2 0v4.003a.996.996 0 00.617.921A.997.997 0 0012 9h4a1 1 0 100-2h-1.586z" />
              <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
            </svg>
            <span>
              {{ overwriteTarget || 'Umleiten' }}
            </span>
          </button>

          <ng-template #overwriteTooltip>
            Notruf sind derzeit an {{ overwriteTarget }} umgeleitet.
          </ng-template>

          <span *ngIf="!layout.isPhone" nz-dropdown [nzDropdownMenu]="userMenu" nzTrigger="click">
            <nz-avatar class="shadow cursor-pointer" nzIcon="user" [nzSrc]="profile?.avatar">
            </nz-avatar>
          </span>
          <span *ngIf="layout.isPhone" (click)="toggleMenu()">
            <nz-avatar nzIcon="user" class="shadow cursor-pointer" [nzSrc]="profile?.avatar">
            </nz-avatar>
          </span>
        </div>

        <nz-dropdown-menu #userMenu="nzDropdownMenu">
          <ul nz-menu style="width: 200px">
            <li nz-menu-item routerLink="/profile">
              <i nz-icon nzType="user" nzTheme="outline"></i>
              Mein Profil
            </li>
            <li nz-menu-item routerLink="/roster" [queryParams]="{show: profile?.name}">
              <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
              Mein Dienstplan
            </li>

            <li nz-menu-item routerLink="/login">
              <i nz-icon nzType="user-switch" nzTheme="outline"></i>
              Benutzer wechseln
            </li>
            <li nz-menu-item (click)="logout()">
              <i nz-icon nzType="logout" nzTheme="outline"></i>
              Logout
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
      <div class="w-full border-b border-tertiary"></div>

    </div>

    <div class="flex overflow-auto flex-grow justify-items-stretch items-stretch self-stretch w-full router-content" cdkScrollable>
      <router-outlet></router-outlet>
    </div>

    <!--
      On mobile we have an additional navigation bar at the bottom
    -->
    <div *ngIf="layout.isPhone" class="flex z-10 justify-evenly items-center py-1 w-full h-12 text-xs list-none border-t sm:hidden text-color-primary text-opacity-light border-tertiary">
      <!-- Dashboard -->
      <li routerLink="/welcome" routerLinkActive="bg-primary text-white" class="p-1 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-4 h-4" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>
      </li>
      <!-- Kalender -->
      <li routerLink="/calendar" routerLinkActive="bg-primary text-white" class="p-1 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-4 h-4"  viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
        </svg>
      </li>
      <!-- Dienstplan -->
      <li routerLink="/roster" routerLinkActive="bg-primary text-white" class="p-1 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-4 h-4"  viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </li>
      <!-- Röntgen -->
      <li routerLink="/xray" routerLinkActive="bg-primary text-white" class="p-1 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-4 h-4"  viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 4v16M17 4v16M3 8h4m10 0h4M3 12h18M3 16h4m10 0h4M4 20h16a1 1 0 001-1V5a1 1 0 00-1-1H4a1 1 0 00-1 1v14a1 1 0 001 1z" />
        </svg>
      </li>
      <!-- Open menu -->
      <li>
        <i (click)="toggleMenu()" nz-icon nzType="menu"  class="w-4 h-4"  nzTheme="outline"></i>
      </li>
    </div>
  </div>

</div>

<div *ngIf="!isReachable" class="not-reachable-container">
  <i nz-icon [nzType]="'sync'" [nzSpin]="true"></i>
  <p>Verbindung zu CIS unterbrochen</p>
  <p>Bitte haben Sie einen Moment Geduld!</p>
</div>
