@import '../utils';

:host {
  display                : flex;
  text-rendering         : optimizeLegibility;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.trigger:hover {
  color: #1890ff;
}

li>i>fa-icon {
  position: relative;
  top     : -2px;
}

span.ant-avatar {
  overflow: hidden;

  img {
    width : 100%;
    height: auto;
  }
}

.not-reachable-container {
  position        : absolute;
  top             : 0px;
  left            : 0px;
  right           : 0px;
  bottom          : 0px;
  backdrop-filter : blur(10px);
  background-color: rgba(#f5f3f3, 0.45);
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  z-index         : 20;

  i {
    font-size    : 350%;
    margin-bottom: 32px;
  }

  p {
    font-size  : 150%;
    font-family: "Poppins";
  }
}

.tkd-menu ::ng-deep {
  @apply border-0;

  li.ant-menu-item {
    @apply rounded text-primary font-lato;

    & > svg {
      @apply mr-2;
    }

    svg {
      @apply h-4 w-4;
    }

    &, &.ant-menu-submenu > .ant-menu-submenu-title {
      &:active, &:hover, &:focus {
        @apply rounded outline-none;
      }

      &:active {
        @apply bg-primary bg-opacity-20;
      }
    }

    &.ant-menu-submenu.ant-menu-submenu-open {
      @apply bg-subtle shadow-inner;

      & > .ant-menu-submenu-title {
        @apply bg-tertiary rounded-t bg-opacity-light;
      }
    }

    &:hover, &:focus {
      @apply bg-subtle;
    }

    &.ant-menu-item-selected{
      @apply bg-primary text-white;

      &::after {
        content: unset;
      }
    }
  }

  div.ant-menu-sub {
    @apply bg-transparent rounded;
  }
}

.router-content {
  ::ng-deep & > * {
    @apply  pt-4 px-2 sm:px-4 md:px-8 lg:px-12 w-full relative overflow-auto space-y-4 md:space-y-8 flex flex-col;
  }
  & > router-outlet {
    display: none;
  }
}
