nz-card {
  height          : 100%;
  background-color: #A7F3D0;
  flex-grow: 1;

  display        : flex;
  align-items    : center;
  justify-content: space-evenly;

  h1 {
    color    : #064E3B;
    font-size: 40px;
    margin   : 0;
  }
}
