<div class="flex flex-col justify-start gap-4">
  <h1 class="flex flex-row items-center justify-start gap-2 py-2 mb-4 text-xl font-lato">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-color-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
    </svg>
    Durchsuche das Wiki
  </h1>

  <input type="text" class="tkd-input" placeholder="Suche nach Dokumenten" [(ngModel)]="searchTerm" (ngModelChange)="triggerSearch()">

  <div class="prose-sm prose">
    <ul>
      <li *ngFor="let doc of documents" [routerLink]="['/wiki/collection', doc.collection]" [fragment]="doc.path" class="flex flex-col outline-none cursor-pointer hover:text-color-primary-dark">
        <span class="font-medium text-md !mt-0 flex flex-row items-center gap-3">
          {{ doc.title }}

          <span class="inline-flex flex-row items-center gap-1">
            <span class="px-1 text-xs bg-opacity-50 border rounded border-subtle bg-subtle" *ngFor="let tag of doc.metadata?.tags">{{ tag }}</span>
          </span>
        </span>
        <span class="text-sm text-secondary">
          <span>
            {{ doc.description }}
          </span>
          <span *ngIf="doc.description" class="mx-1">-</span>
          <span>
            Zuletzt bearbeitet am {{ doc.metadata?.updatedAt | date:'shortDate' }} von {{ doc.metadata?.updatedBy }}
          </span>
        </span>
      </li>
    </ul>
  </div>
</div>
