@if (instance(); as instance) {
  <img
    (loadstart)="loading.set(true)"
    (load)="loading.set(false)"
    [attr.src]="instance | dicomImageUrl: { frame: selectedFrame() }"
    [class.hidden]="loading()"
    class="!h-full max-h-full !w-full max-w-full flex-grow object-contain" />

  @if (loading()) {
    <span class="flex w-full items-center justify-center font-medium text-white"
      >Bild wird geladen ...</span
    >
  }
} @else {
  <span class="flex h-32 flex-row items-center justify-center">
    Kein Bild ausgewählt
  </span>
}

@if (frameCount() > 1) {
  <button hlmBtn variant="ghost" size="icon" class="text-white">
    <hlm-icon
      (click)="playing.set(!playing())"
      [name]="playing() ? 'lucidePause' : 'lucidePlay'"
      class="absolute bottom-2 right-2" />
  </button>
}
