<!-- Page Header -->
<div class="flex justify-end">
  <div>
    <button
      class="tkd-icon-btn tkd-primary"
      nz-tooltip="Erstelle einen neuen Trigger"
      [routerLink]="['create']"
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 6v6m0 0v6m0-6h6m-6 0H6"
          />
      </svg>
    </button>
  </div>
</div>

<nz-table #table class="bg-white rounded shadow" [nzData]="triggers">
  <thead>
    <tr>
      <th>Name</th>
      <th>Beschreibung</th>
      <th>Gruppe</th>
      <th>Event</th>
      <th>Aktionen</th>
      <th width="150"></th>
    </tr>
  </thead>
  <tbody>
    @for (row of table.data; track trackInstance($index, row)) {
      <tr>
        <td>{{ row.config?.Name }}</td>
        <td>{{ row.config?.Description }}</td>
        <td>{{ row.config?.Group }}</td>
        <td>
          <ul class="space-y-0.5">
            @for (filter of row.config?.EventFilter; track filter) {
              <li>
                <pre class="text-xs bg-subtle py-0.4 px-1 border border-tertiary rounded text-secondary">{{ filter }}</pre>
              </li>
            }
          </ul>
        </td>
        <td>{{ row.actions?.length || 0 }}</td>
        <td class="flex flex-row items-center justify-end">
          <tkd-list-action-buttons
            [value]="row.id"
            (delete)="deleteTrigger($event)"
            (edit)="editTrigger($event)"
            >
          </tkd-list-action-buttons>
        </td>
      </tr>
    }
  </tbody>
</nz-table>
