<span class="block mb-1 text-sm text-color-primary font-lato">Welche Aktion soll durchgeführt werden:</span>

<nz-select
  nzPlaceHolder="Aktionstyp auswählen"
  [(ngModel)]="selectedActionType"
  class="w-full"
  (ngModelChange)="onActionTypeChanged()"
>
  <nz-option
    *ngFor="let item of availableTypes"
    [nzValue]="item"
    [nzLabel]="item.description || item.name"
  ></nz-option>
</nz-select>

<div class="w-full mt-4 mb-2 border-b border-subtle"></div>

<ng-container *ngIf="!!selectedActionType">
  <tkd-option-list-input
    [specs]="selectedActionType.spec"
    [(ngModel)]="config"
  >
  </tkd-option-list-input>
</ng-container>
