<span class="block mb-1 text-sm text-sky-800 ">Welche Aktion soll durchgeführt werden:</span>

<nz-select
  nzPlaceHolder="Aktionstyp auswählen"
  [(ngModel)]="selectedActionType"
  class="w-full"
  (ngModelChange)="onActionTypeChanged()"
  >
  @for (item of availableTypes; track item) {
    <nz-option
      [nzValue]="item"
      [nzLabel]="item.description || item.name"
    ></nz-option>
  }
</nz-select>

<div class="w-full mt-4 mb-2 border-b border-gray-100"></div>

@if (!!selectedActionType) {
  <tkd-option-list-input
    [specs]="selectedActionType.spec"
    [(ngModel)]="config"
    >
  </tkd-option-list-input>
}
