<div class="flex items-center py-2 space-x-3">
  <input type="text" class="flex-grow tkd-input" placeholder="Nach Namen suchen ..." [(ngModel)]="searchText"
    (ngModelChange)="ds.search($event)">
  <button class="tkd-btn tkd-primary" (click)="ds.search(searchText)">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
        clip-rule="evenodd" />
    </svg>
    <span>Suchen</span>
  </button>
</div>

<div class="flex flex-grow p-2 bg-white rounded shadow sm:p-4 md:p-8">
  <cdk-virtual-scroll-viewport itemSize="48" class="flex-grow">
    <nz-list nzSize="small">
      <nz-list-item *cdkVirtualFor="let study of ds; trackBy: trackBy" (click)="toggleDrawer(study.studyInstanceUid)">
        <nz-list-item-meta>
          <nz-list-item-meta-title>
            @if (!!study.vetinfCID && layout.isTabletLandscapeUp) {
              <a
                nz-popover [nzPopoverMouseEnterDelay]="0.5"
                (nzPopoverVisibleChange)="onPopoverChange($event, study)" [nzPopoverContent]="popoverTemplate">
              {{ study | ohifOwnerName }}</a>
            }

            @if (!study.vetinfCID || !layout.isTabletLandscapeUp) {
              <span>
                {{ study | ohifOwnerName }}
              </span>
            }
          </nz-list-item-meta-title>

          <nz-list-item-meta-description>
            {{ study.studyDate | dxrDate }} &nbsp;|&nbsp;
            {{ study.animalName }} &nbsp;-&nbsp; {{ study.animalRace !== 'unknown' ? study.animalRace : 'N/A' }}
          </nz-list-item-meta-description>

          <ng-template #popoverTemplate>

            @if (popOverCustomer) {
              @if (!!popOverCustomer) {
                <div class="flex flex-row justify-start items-center pb-4 mb-4 space-x-3 border-b border-tertiary">
                  <svg xmlns="http://www.w3.org/2000/svg"
                    class="p-1 w-8 h-8 bg-white rounded-full shadow text-color-primary" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                  </svg>
                  <h3 class="text-base font-semibold font-lato">{{ popOverCustomer?.name }}&nbsp;{{
                  popOverCustomer?.firstname }}</h3>
                </div>
              } @else {
                <div class="flex flex-row justify-start items-center text-sm text-alert-red">
                  Es konnte kein Datensatz für diesen Kunden gefunden werden.
                </div>
              }
              <div class="space-y-2">
                <ul class="p-0 list-none">
                  @for (phone of popOverCustomer?.distinctPhoneNumbers; track phone) {
                    <li class="flex items-center space-x-2">
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-tertiary" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path
                          d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
                      </svg>
                      <a [attr.href]="'tel:' + phone" class="text-highlight">
                        {{phone}}
                      </a>
                    </li>
                  }
                </ul>
                <ul class="p-0 list-none">
                  @for (mail of popOverCustomer?.mailAddresses; track mail) {
                    <li class="flex items-center space-x-2">
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-tertiary" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                      </svg>
                      <a [attr.href]="'mailto:' + mail" class="text-highlight">
                        {{mail}}
                      </a>
                    </li>
                  }
                </ul>
                <div class="flex flex-row justify-end space-y-2">
                  <button class="flex-grow tkd-btn tkd-outline tkd-primary" [routerLink]="['/customer/view', 'vetinf', study.vetinfCID]" >
                    Öffnen
                  </button>
                </div>
              </div>
            } @else {
              <div class="flex flex-row justify-start items-center text-sm text-alert-red">
                Es konnte kein Datensatz für diesen Kunden gefunden werden.
              </div>
            }
          </ng-template>
        </nz-list-item-meta>

        @if (layout.isTabletLandscapeUp) {
          <nz-list-item-extra class="flex flex-row items-center space-x-2">
            @for (preview of study.previews; track preview) {
              <img (click)="openViewer(study, preview)" alt="preview"
                class="h-12 rounded border border-transparent cursor-pointer hover:opacity-80 hover:border-primary"
                [attr.src]="preview.previewUrl" />
            }
          </nz-list-item-extra>
        }
      </nz-list-item>
    </nz-list>
  </cdk-virtual-scroll-viewport>
</div>

<nz-drawer [nzVisible]="drawerVisible" [nzClosable]="true" nzPlacement="right" (nzOnClose)="toggleDrawer()"
  [nzWidth]="layout.drawerWidth | async">
  <ng-template [nzDrawerContent]>
    <div class="p-4 space-y-3">
      <div>
        <h2 class="text-lg text-lato text-color-primary">{{ drawerStudy | ohifOwnerName }}</h2>

        <h3 class="text-base text-lato text-color-secondary">
          {{ drawerStudy?.animalName }} &nbsp;- &nbsp; {{ drawerStudy?.animalRace !== 'unknown' ?
          drawerStudy?.animalRace
          : 'N/A' }}
        </h3>
      </div>

      @if (!!drawerStudy?.vetinfCID) {
        <div class="flex flex-row justify-start items-center pb-4 mb-4 space-y-2 border-b border-subtle">
          <button class="tkd-btn tkd-primary tkd-outline" [routerLink]="['/customer/view', 'vetinf', drawerStudy?.vetinfCID]">
            Kunden anzeigen
          </button>
        </div>
      }

      <p class="text-tertiary">Röntgen-Aufnahmen in dieser Studie:</p>
      <div class="flex flex-col space-y-2">
        @for (series of drawerStudy?.seriesList; track series) {
          <div>
            <h4 class="text-secondary">
              {{ series.seriesDescription }}
            </h4>
            @if (series?.instances?.length > 0) {
              <ol class="grid grid-col-2">
                @for (instance of series?.instances; track instance) {
                  <li>
                    <img (click)="openViewer(drawerStudy, series, instance)" [attr.src]="instance.url | previewUrl" class="w-40"/>
                  </li>
                }
              </ol>
            }
            @if (!series?.instances?.length) {
              <span class="no-instances">
                <i nz-icon nzType="close" nzTheme="outline"></i>
                Keine Aufnahmen
              </span>
            }
          </div>
        }
      </div>
    </div>
  </ng-template>
</nz-drawer>