@import "src/utils";

:host {
  @apply space-y-2;
}

.contact-popover {
  padding  : 6px;
  min-width: 150px;

  .contact-type {
    font-size     : 95%;
    display       : block;
    color         : gray;
    text-transform: uppercase;
    margin-bottom : 3px;

    &:not(:first-child) {
      margin-top: 6px;
    }
  }
}

.drawer-container {
  padding-top   : 12px;
  padding-bottom: 12px;
  padding-left  : 24px;
  padding-right : 24px;

  .drawer-toolbar {
    margin-bottom: 12px;
  }

  h3 {
    color     : gray;
    margin-top: -16px;
  }

  h4 {
    color         : gray;
    text-transform: uppercase;
    font-weight   : 300;
    margin-top    : 24px;
  }

  .no-instances {
    margin-bottom: 12px;
    display      : flex;
    align-items  : center;
    color        : red;

    i {
      margin-right: 6px;
    }
  }

  ol {
    list-style           : none;
    display              : grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap             : 6px;
    margin               : 0px;
    padding              : 0px;

    li {
      img {
        width: 100%;
      }
    }
  }
}
