@import "src/utils";

@import 'src/utils';

:host {
  background-color: #50566310;
  display         : block;
  min-height      : 100%;
  display         : flex;
  flex-direction  : column;
  position        : relative;

    padding: 12px;

    @include for-tablet-landscape-up {
        padding: 24px;
    }
}


.search,
cdk-virtual-scroll-viewport {
  box-shadow: 0px 0px 2px 0px rgba(0, 21, 41, 0.08);
  width     : 100%;
  padding: 24px;
  background-color: white;
  border-radius: 4px;

  &:not(:first-child) {
    margin-top: 12px;
  }
}

cdk-virtual-scroll-viewport {
    flex-grow: 1;
}

nz-empty {
  margin-top: 96px;
}

nz-list {
    width: 100%;

    nz-list-item:hover {
        background: #50566308;

        h4, a {
            text-decoration: underline;
        }
    }

    nz-list-item-extra {
        img {
            cursor: pointer;
            box-shadow: 0px 0px 2px 0px rgba(0, 21, 41, 0.08);
            opacity: 0.5;
            transition: all ease-in-out .125s;

            &:hover {
                opacity: 1;
                box-shadow: 0px 0px 2px 0px rgba(0, 21, 41, 0.25);
            }
        }
        img:not(:last-child) {
            margin-right: 10px;
        }

        @include for-phone-only {
            display: none;
        }
    }
}