@import 'src/utils';

nz-card {
  height: 100%;
  flex-grow: 1;
  border-top: 3px solid #93C5FD;
  @include for-phone-only {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 12px;
    padding-bottom: 12px;
    max-height: 500px;
  }
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


::ng-deep app-upcoming-events-card .ant-card-body {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
}

ul[nz-menu] {
    user-select: none;
}

span.filter, .toggle {
    font-size: 85%;
    opacity: .85;
    cursor: pointer;
}

span.filter {
    float: right;
    text-transform: uppercase;
    color: #40617c;
    &:hover {
        opacity: 1;
    }
}


nz-empty {
    margin-top: auto;
    margin-bottom: auto;
    opacity: .7;
}

.event-container {
    flex-grow: 1;
    overflow: auto;
    display: block;
    ul {
        list-style-type: none;
        padding: 0;
    }
    margin-top: 1rem;

    .event {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 48px;
        padding-top: 3px;
        padding-bottom: 3px;
        border-bottom: 1px solid lightgray;
        border-left: 2px solid transparent;
        transition: all 300ms ease-in-out;
        padding-left: 4px;

        &.past {
            min-height: 36px;
            opacity: .5;
        }

        &.highlight-active {
            display: none;
        }

        &.highlight {
            background-color: lightgoldenrodyellow;
            border-left: 2px solid orange;
            display: flex;
        }

        .time {
            flex: 0 0;
            color: gray;
            margin-right: 1rem;
            white-space: nowrap;
            display: flex;
            align-items: center;
            @include for-phone-only {
                flex-direction: column;
            }

            .duration {
                margin-left: 0.5rem;
                font-size: 90%;
            }
        }

        .summary-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @include for-tablet-portrait-up {
                flex-direction: row;
                align-items: center;
            }
        }
        .summary {
            flex: 1;
            line-height: 1rem;
        }
        .user {
            font-size: 90%;
            flex: 0 0;
            white-space: nowrap;
            padding-left: 6px;
            padding-right: 6px;
            border-radius: 6px;
            color: white;
            background-color: gray;
            margin-top: 3px;
            margin-bottom: 3px;
            @include for-tablet-portrait-up {
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    }
}