tr.error {
  background-color: rgba(240, 128, 128, 0.671);
}

tr.inbound {
  .direction {
    @apply text-emerald-500;
  }
}

tr.self-call {
  @apply border-gray-400;
  opacity: 0.9;
}

tr.outbound {
  .direction {
    @apply text-gray-700;
  }
}

tr.lost {
  .direction {
    @apply text-red-700;
  }
}

.direction {
  @apply text-center;

  & > svg {
    @apply inline-block;
  }
}

.customer-link {
  margin-right: 5px;
}

.transfer-target {
  @apply text-slate-200;
  font-size: 95%;
}

::ng-deep .ant-table-pagination.ant-pagination {
  margin-right: 1rem !important;
}
