tr.error {
  background-color: rgba(240, 128, 128, 0.671);
}

tr.inbound {
  .direction {
    @apply text-meadow;
  }
}

tr.self-call {
  @apply text-subtle;
  opacity: 0.9;
}

tr.outbound {
  .direction {
    @apply text-highlight;
  }
}

tr.lost {
  .direction {
    @apply text-alert-red;
  }
}

.direction {
  @apply text-center;

  & > svg {
    @apply inline-block;
  }
}

.data-container {
  padding: 0;
}

.customer-link {
  margin-right: 5px;
}

.transfer-target {
  @apply text-deEmphasized;
  font-size: 95%;
}

::ng-deep .ant-table-pagination.ant-pagination {
  margin-right: 1rem !important;
}
