tr.error {
  background-color: rgba(240, 128, 128, 0.671);
}

tr.inbound {
  .direction {
    color: green;
  }
}

tr.outbound {
  .direction {
    color: blue;
  }
}

tr.lost {
  .direction {
    color: red;
  }
}

.data-container {
  padding: 0;
}

.customer-link {
  margin-right: 5px;
}

.transfer-target {
  color    : gray;
  font-size: 95%;
}
