<!-- Header Row -->
<header class="tkd-header" *ngIf="editMode">
  <svg xmlns="http://www.w3.org/2000/svg"
    fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
  </svg>

  <div class="tkd-header-title">
    <h1>{{ name }}</h1>
    <span *ngIf="!!name">
      {{ description }}
    </span>
  </div>

  <div class="tkd-actions">
    <button class="tkd-icon-btn tkd-primary tkd-small" (click)="saveRole()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        nz-tooltip="Speichern">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
      </svg>
    </button>
    <button class="cursor-not-allowed tkd-icon-btn tkd-danger tkd-small" (click)="deleteRole()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
      </svg>
    </button>
  </div>
</header>

<nz-tabset>
  <nz-tab nzTitle="Übersicht">
    <div class="flex flex-col flex-grow space-y-4 sm:space-y-6 md:space-y-8">
      <div class="tkd-card">
        <header>
          <h1>Allgemein</h1>
          <span>Allgemeine Informationen zu der Benutzerrolle</span>
        </header>

        <div class="flex flex-col space-y-8">
          <div class="flex flex-row space-x-4">
            <span class="text-2xl text-color-primary-dark font-lato" [class.text-opacity-light]="!name">
              1.
            </span>
            <div class="flex flex-col flex-grow">
              <span class="text-base font-medium font-lato">
                Name
              </span>
              <span class="text-sm text-secondary font-lato">
                Ein eindeutiger Name für die Benutzerrolle. Dieser kann <u>nicht mehr geändert werden!</u>
              </span>
              <div class="mt-3" *ngIf="!editMode">
                <input type="text" class="w-1/2 mt-3 tkd-input" [(ngModel)]="name">
              </div>
              <div class="mt-3" *ngIf="editMode">
                <span class="text-base font-medium text-color-primary-dark">{{name}}</span>
              </div>
            </div>
          </div>

          <div class="flex flex-row space-x-4">
            <span class="text-2xl text-color-primary-dark font-lato" [class.text-opacity-light]="!description">
              2.
            </span>
            <div class="flex flex-col flex-grow">
              <span class="text-base font-medium font-lato">
                Beschreibung
              </span>
              <span class="text-sm text-secondary font-lato">
                Eine kurze Beschreibung der Rolle.
              </span>
              <div class="flex items-center mt-3 space-x-2">
                <input type="text" class="w-1/2 mt-3 tkd-input" [(ngModel)]="description">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tkd-card" *ngIf="!editMode">
        <header class="flex flex-row items-center justify-between w-full">
          <span>
            <h1>Rolle erstellen</h1>
            <span>Alles fertig? Dann kannst du die neue Benutzerrolle nun erstellen.</span>
          </span>
          <span>
            <button class="text-sm tkd-btn tkd-primary font-lato" [disabled]="!name"
              (click)="createRole()">Erstellen</button>
          </span>
        </header>
      </div>
    </div>
  </nz-tab>


  <nz-tab nzTitle="Berechtigungen" [nzDisabled]="!editMode">
    <div class="tkd-card">
      <header>
        <h1>Berechtigungen</h1>
        <span>Verwalte direkte Benutzerberechtigungen.</span>
      </header>
      <div>
        <app-permissions-view [(ngModel)]="permissions"></app-permissions-view>
      </div>
    </div>
  </nz-tab>

</nz-tabset>
