<div class="user-row">
    <span class="profile"></span>
    <div class="buttons">
        <span>{{ firstSlot?.from | date: 'HH:mm' }}</span>
        <span>{{ lastSlot?.to | date: 'HH:mm' }}</span>
    </div>
</div>
<div *ngFor="let user of allUsers" class="user-row">
    <span class="profile">
        <nz-avatar nzIcon="user" [nzSrc]="user.avatar"></nz-avatar>
        {{ user.fullname }}
    </span>
    <div class="slot-container">
        <ng-container *ngFor="let slot of timeSlots">
            <span class="slot" [class.closed]="!slot.isOpeningHour"
                [class.highlighted]="slot.highlighted && highlightedUserSlot === user.name"
                [class.selected]="slot.selected && user.name == selectedUser" [class.disabled]="slot.disabled"
                [class.resources-free]="slot.allResourcesFree && _resourcesRequired.size > 0"
                (mousedown)="selectRangeStart(slot, user.name, $event)" (mouseenter)="highlightSlot(user.name, slot)"
                (mouseleave)="highlightSlot(user.name, null)" [class.available]="!!slot.available[user.name]"
                [class.busy]="slot.users[user.name]?.length > 0" nz-tooltip [nzTooltipTitle]="tooltipTemplate"></span>
        </ng-container>

        <ng-template #tooltipTemplate>
            <div class="slot-tooltip">
                <span>
                    {{ tooltipTimeStart | date:'HH:mm' }} - {{ tooltipTimeEnd | date:'HH:mm' }}
                </span>
                <ul>
                    <li *ngFor="let event of tooltipEvents">
                        <i>{{ event.startTime | date:"HH:mm" }}</i>
                        {{ event.summary }}
                    </li>
                </ul>
            </div>
        </ng-template>
    </div>
</div>
<div class="user-row">
    <span class="profile"></span>
    <div class="buttons">
        <button nz-button nzType="default" (click)="earlier()">
            <i nz-icon nzType="left" nzTheme="outline"></i>
            Früher
        </button>
        <button nz-button nzType="default" (click)="later()">
            Später
            <i nz-icon nzType="right" nzTheme="outline"></i>
        </button>
    </div>
</div>