:host {
    display: block;
}

$qts-color-busy: red;
$qts-color-available: green;
$qts-color-selected: blue;
$qts-color-closed: grey;

.user-row {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 6px;

    &:not(:last-of-type) {
        border-bottom: 1px solid #e7e7e788;
        margin-bottom: 6px;
    }

    .profile {
        flex-grow: 0;
        flex-shrink: 0;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        word-break: break-all;

        nz-avatar {
            margin-right: 6px;
        }
    }
    .slot-container, .slot-header {
        flex: 1 0;
        display: flex; 
        height: 30px;

        .slot {
            display: block;
            flex: 1 0;
            border: 1px solid white;
            transition: all 200ms ease-in-out;
        }
    }

    .slot-header {
        visibility: hidden;
        .slot {
            font-size: 90%;
            font-family: "Poppins";
            text-align: center;
            align-self: flex-end;
        }

        .slot:nth-child(3n+1) {
            visibility: visible;
            overflow: visible;
        }
    }

    .slot-container {
        .slot {
            user-select: none;
            opacity: .2;
            cursor: pointer;

            &.resources-free {
                transform: scaleY(1.2);
            }

            &.highlighted, &.selected {
                transform: scaleY(1.4);
            }

            &:hover {
                opacity: 1;
            }

            &.available {
                opacity: 1;
                background-color: $qts-color-available;
            }

            &.closed {
                background-color: $qts-color-closed;
            }

            &.busy {
                background-color: $qts-color-busy;
                &:not(.selected):hover {
                    background-color: darken($qts-color-busy, 10%);
                }
            }

            &.selected {
                background-color: $qts-color-selected;
                border-color: $qts-color-selected;
                opacity: 1;
            }
            &.disabled {
                cursor: no-drop;
                opacity: .2 !important;
                transform: scaleY(.8);
            }
        }
    }
}

.slot-tooltip {
    display: flex;
    flex-direction: column;
    span {
        display: block;
        text-align: center;
        font-weight: bold;
        text-decoration: underline;
    }
    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 3px;
        }

        li:not(:last-of-type) {
            border-bottom: 1px solid #fdfdfda2;
        }
    }
}