:host {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.loading-image {
  opacity: 0.3;
  height: 50vh;
  max-height: 40vw;
}

.viewer {
  transition-property: background-color;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  display: flex;
  flex-direction: column;
  height: 100%;


  .viewer-main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-grow: 1;

    .viewer-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    }
  }

  .toolbar {
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    button[nzGhost] {
      //background-color: rgba(255, 255, 255, 0.25) !important;
      border-color: rgba(255, 255, 255, 0.2) !important;
    }

    button.selected {
      color: #40a9ff;
      border-color: #40a9ff;
    }

    nz-button-group:not(:last-child) {
      margin-right: 24px;
    }
  }

  .series-list {
    display: none;
    padding-top: 24;

    img {
      width: 100%;
      opacity: 0.7;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }

    .current img {
      border: 1px solid #60A5FA;
      cursor: initial;
      opacity: 1;
    }
  }

  &.image-loaded .series-list {
    display: block;
    width: 96px;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
  }

  #dwv {
    height: 100%;
    flex-grow: 1;
    display: flex;
  }

  &.image-loaded {
    background-color: #1f1f1f;
  }

  .image-loader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    top: 48px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    .text {
      padding: 12px;
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h3 {
      margin: 0;
      padding: 0;
    }

    nz-spin {
      margin-right: 12px;
    }
  }
}

/* Layers */
.layerContainer {
  position: relative;
  padding: 0;
  margin: auto;
  text-align: center;
  height: 100%;
  width: 100%;
}

.imageLayer {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 100%;
}

.drawDiv {
  position: absolute;
  pointer-events: none;
}

/* drag&drop */
.dropBox {
  border: 5px dashed black;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.dropBox.hover {
  border: 5px dashed black;
}