<hlm-table class="flex-grow h-full">
  @for (study of studies(); track study.studyUid) {
    <hlm-trow class="hover:bg-gray-100">
      <hlm-td
        class="flex-row flex-1 gap-2 p-2 cursor-pointer"
        (click)="openStudyDialog(study)">
        <span class="flex flex-col items-end justify-start text-gray-700">
          @if (study.time | toDate; as date) {
            <span>
              {{ date | date: 'shortDate' }}
            </span>
            <span>
              {{ date | date: 'shortTime' }}
            </span>
          }
        </span>

        <span class="flex flex-col items-start justify-start">
          <span class="font-medium">{{ study.ownerName || 'N/A' }}</span>
          <span>
            {{ study.patientName || 'N/A' }}
          </span>
        </span>
      </hlm-td>

      <hlm-td class="flex flex-row gap-2 p-2">
        @if (!layout.md()) {
          @if (study.series?.[0].instances?.[0]) {
            <img
              [attr.src]="
                study.series[0].instances[0]
                  | dicomImageUrl: { width: 70, height: 70 }
              "
              (click)="openInViewer(study)"
              class="w-12 cursor-pointer aspect-square min-h-12" />
          }
        } @else {
          @for (
            instance of study | dicomInstances;
            track instance.instanceUid;
            let index = $index;
            let last = $last
          ) {
            @if (index < limit()) {
              <img
                [attr.src]="instance | dicomImageUrl: { width: 70, height: 70 }"
                (click)="openInViewer(study, instance.instanceUid)"
                class="w-12 cursor-pointer aspect-square min-h-12" />
            } @else if (last) {
              <span class="text-xs text-gray-700"> {{ index - limit() }} mehr </span>
            }
          }
        }
      </hlm-td>
    </hlm-trow>
  }
</hlm-table>
