<nz-card class="overflow-hidden">
  <img class="card-image" src="assets/moon-cloud.png">
  <nz-card-meta [nzTitle]="titleTemplate" [nzDescription]="descriptionTemplate">
  </nz-card-meta>

</nz-card>

<ng-template #titleTemplate>
  <span class="header">
    Bereitschaftsdienst {{ onDuty?.isOverwrite ? '(ÜBERSCHRIEBEN)' : ''}}
    @if (canSetOverwrite) {
      <i nz-dropdown nzTrigger="click" nz-icon nzType="edit" nzTheme="outline"
      style="cursor: pointer" nz-tooltip nzTooltipTitle="Nachdienst ändern" routerLink="/on-call/overwrite"></i>
    }
  </span>

  <div class="on-duty-container">

    @for (onCall of onDuty?.onCall; track onCall) {
      <nz-avatar [nzSize]="64" nzShape="square" nzIcon="user" [nzSrc]="(onCall.profile?.user?.id | toUser)?.user.avatar"></nz-avatar>
      <div class="primary-on-duty">
        <span [nzTooltipTitle]="'bis ' + (onCall.until?.toDate() | date:'short')"
          nz-tooltip><u>{{
        onCall.profile?.user?.id | toUser | displayName }}</u></span>
        <a class="phone" [attr.href]="'tel:' + onCall.transferTarget">
          <i nz-icon nzType="phone" nzTheme="outline" [nzRotate]="95"></i>
          {{ onCall.transferTarget }}
        </a>
      </div>
    }

  </div>
</ng-template>

<ng-template #descriptionTemplate>
  @if (firstLoad) {
    <nz-spin nzSimple [nzSize]="'small'"></nz-spin>
    <span> Laden ...</span>
  }
  @if (!firstLoad) {
    <span class="description">
      @if (onDuty?.onCall?.length === 0) {
        <span style="color: red">
          <i nz-icon nzType="warning" nzTheme="outline" style="margin-right: 4px;"></i>
          Nicht eingetragen!
        </span>
      }
    </span>
  }
</ng-template>
