<nz-card>
  <nz-card-meta [nzTitle]="titleTemplate" [nzDescription]="descriptionTemplate">
  </nz-card-meta>

  <img class="card-image" src="assets/moon-cloud.png">
</nz-card>

<ng-template #titleTemplate>
  <span class="header">Nachtdienst:<br /></span>
  <div class="on-duty-container">
    <span *ngIf="!!userAvatar" class="ant-avatar ant-avatar-circle">
      <img [attr.src]="userAvatar">
    </span>
    <div class="primary-on-duty">
      <span *ngIf="onDuty.length > 0" [nzTooltipTitle]="onDuty[0].phone" nz-tooltip><u>{{
          onDuty[0].fullname || onDuty[0].username }}</u></span>
      <span class="phone" *ngIf="onDuty.length > 0">
        <i nz-icon nzType="phone" nzTheme="outline" [nzRotate]="95"></i>
        {{ onDuty[0].phone }}</span>
    </div>
  </div>
</ng-template>

<ng-template #descriptionTemplate>
  <ng-container *ngIf="firstLoad">
    <nz-spin nzSimple [nzSize]="'small'"></nz-spin>
    <span> Laden ...</span>
  </ng-container>
  <span *ngIf="!firstLoad" class="description">
    <span style="color: red" *ngIf="onDuty.length == 0">
      <i nz-icon nzType="warning" nzTheme="outline" style="margin-right: 4px;"></i>
      Nicht eingetragen!
    </span>

    <span *ngIf="onDuty.length > 1">
      <span>Backup: </span>
      <span *ngFor="let backup of onDuty.slice(1); trackBy: trackBy" class="backup" [nzTooltipTitle]="backup.phone"
        nz-tooltip>{{ backup.fullname || backup.username || 'N/A' }}</span>
    </span>
  </span>
</ng-template>