.avatar {
  background-color: transparent;
  color           : lightblue;
}

nz-card {
  height    : 100%;
  border-top: 3px solid #93C5FD;
  position  : relative;

  img {
    position: absolute;
    top     : 15px;
    right   : 15px;
    opacity : 0.1;
    height  : 100px;
  }
}
