<hlm-dialog-header>
  <h3 hlmDialogTitle class="flex flex-row items-center gap-2">
    <hlm-icon name="lucideCalendarSearch" />
    Termine suchen
  </h3>
  @if (layout.md()) {
    <p hlmDialogDescription>
      Drücke <label hlmBadge variant="outline">ALT + T</label> um diesen Dialog
      von überall zu öffnen.
    </p>
  }
</hlm-dialog-header>

<div class="w-full p-2">
  <input hlmInput class="w-full" [(ngModel)]="searchText" />
</div>

<div class="flex-grow overflow-auto">
  @if (!loading()) {
    @if (events().length) {
      <app-event-list
        [events]="events()"
        onlyUpcoming="false"
        showDate="true"
        sort="desc" />
    } @else {
      <tkd-empty-table [totalCount]="0" [filteredCount]="0" />
    }
  } @else {
    <div class="flex w-full flex-row justify-center p-3">
      <span>Termine werden gesucht ...</span>
    </div>
  }
</div>

<hlm-dialog-footer
  class="mt-4 flex flex-row flex-wrap items-center justify-between gap-2 p-1">
  <button hlmBtn variant="secondary" (click)="close()">Schließen</button>
</hlm-dialog-footer>
