@import 'src/utils';

:host {
  @include page-host;
}

nz-avatar {
  margin-right: 12px;
}

span.ant-avatar {
  overflow: hidden;
  margin-right: 12px;

  img {
    width : 100%;
    height: auto;
  }
}

.username {
  white-space: nowrap;
}

.user-color {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
    font-size: 90%;
    border-radius: 6px;
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
    color: gray;
    font-size: 90%;
    margin-top: 18px;
}