<nz-table #userTable class="content-section" [nzData]="profiles">
    <thead>
        <tr>
            <th>Name</th>
            <ng-container *ngIf="!layout.isPhone">
                <th>Benutzername</th>
                <th>Telefon</th>
                <th>Mail</th>
                <th>Farbe</th>

                <th *ngFor="let prop of userProps">{{prop.displayName || prop.name}}</th>

            </ng-container>
            <th *ngIf="layout.isPhone" nzWidth="40px"></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let  data of userTable.data">
            <tr>
                <td class="username">
                    <nz-avatar *ngIf="!data.avatar" nzIcon="user">
                    </nz-avatar>
                    <span *ngIf="!!data.avatar" class="ant-avatar ant-avatar-circle">
                        <img [attr.src]="data.avatar">
                    </span>

                    {{data.fullname}}
                </td>
                <ng-container *ngIf="!layout.isPhone">
                    <td>{{data.name}}</td>
                    <td>
                        <li *ngFor="let phone of data.phoneNumbers">
                            <a [attr.href]="'tel:' + phone">{{ phone }}</a>
                        </li>
                    </td>
                    <td>
                        <li *ngFor="let mail of data.mail">
                            <a [attr.href]="'mailto:' + mail">{{ mail }}</a>
                        </li>
                    </td>
                    <td>
                        <span class="user-color" [style.backgroundColor]="data.color"
                            [style.color]="data.fontColor">{{data.color}}</span>
                    </td>

                    <td *ngFor="let prop of userProps">{{ data?.properties[prop.name] || 'N/A' }}</td>
                </ng-container>
                <td *ngIf="layout.isPhone" [nzExpand]="expandSet.has(data.name)" nzWidth="40px"
                    (nzExpandChange)="onExpandChange(data.name, $event)">
                </td>
            </tr>
            <tr [nzExpand]="expandSet.has(data.name)">
                <span class="user-color" [style.backgroundColor]="data.color"
                    [style.color]="data.fontColor">{{data.color}}</span>

                <h3>Telefon</h3>
                <li *ngFor="let phone of data.phoneNumbers">
                    <a [attr.href]="'tel:' + phone">{{ phone }}</a>
                </li>

                <h3>Mail</h3>
                <li *ngFor="let mail of data.mail">
                    <a [attr.href]="'mailto:' + mail">{{ mail }}</a>
                </li>

                <ng-container *ngFor="let prop of userProps">
                    <h3>{{ prop.displayName || prop.name }}</h3>
                    <li>{{ data?.properties[prop.name] || 'N/A' }}</li>
                </ng-container>
            </tr>
        </ng-container>
    </tbody>
</nz-table>